$mainBackground : #f1f1f1;
$purpleBackground: #9b9abc;
$purple: #9273a8;

@mixin quicksand {
  font-family: "Quicksand", sans-serif;
}

@mixin serif {
  font-family: "Unna", "Palatino", "Georgia", serif;
}

@mixin sans-serif {
  font-family: "Khula", "Avenir Next", "Gill Sans", "Trebuchet MS", sans-serif;
}

@mixin oswald {
  font-family: "Droid Serif", sans-serif;
}

@mixin shadow-depth-1 {
  box-shadow: 0 2px 4px rgba(0,0,0,.6);
}

@mixin shadow-depth-2 {
  box-shadow: 0 8px 12px rgba(0,0,0,.4);
}

@mixin shadow-depth-3 {
  box-shadow: 0 20px 36px rgba(0,0,0,.24);
}

@mixin transition-fix {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0)
}

@mixin aliasing {
  -webkit-font-smoothing: antialiased;

  &:before {
    -webkit-font-smoothing: subpixel-antialiased;
  }
}

@mixin border-radius($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -ms-border-radius: $radius;
}

@mixin rotationfix {
  -webkit-backface-visibility: hidden;
  outline: 1px solid transparent;
  padding: 1px;
  -webkit-background-clip: content-box;
}

@mixin opacity($float, $percent) {
  opacity: $float;
  filter: alpha(opacity=$percent);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = #{$percent});
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity =  #{$percent});
}

@mixin transition($property, $duration, $easing) {
  transition: $property $duration $easing;
  -webkit-transition: $property $duration $easing;
  -moz-transition: $property $duration $easing;
  -ms-transition: $property $duration $easing;
  -o-transition: $property $duration $easing;
}

@mixin transition-delay($delay) {
  transition-delay: $delay;
  -webkit-transition-delay: $delay;
  -moz-transition-delay: $delay;
  -ms-transition-delay: $delay;
  -o-transition-delay: $delay;
}

@mixin translate3d($x, $y, $z) {
  transform: translate3d($x, $y, $z);
  -webkit-transform: translate3d($x, $y, $z);
  -moz-transform: translate3d($x, $y, $z);
  -ms-transform: translate3d($x, $y, $z);
}

@mixin rotate($value) {
  transform: rotate3d(0, 0, 1, $value);
  -webkit-transform: rotate3d(0, 0, 1, $value);
  -moz-transform: rotate3d(0, 0, 1, $value);
  -ms-transform: rotate3d(0, 0, 1, $value);
}

@mixin overflowfix {
  &:after {
    content: "";
    clear: both;
    display: block;
  }
}

@mixin box-sizing {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}