/**
              d8b          888                        888    
              Y8P          888                        888    
                           888                        888    
88888b.d88b.  888  .d8888b 88888b.   8888b.   .d88b.  888    
888 "888 "88b 888 d88P"    888 "88b     "88b d8P  Y8b 888    
888  888  888 888 888      888  888 .d888888 88888888 888    
888  888  888 888 Y88b.    888  888 888  888 Y8b.     888    
888  888  888 888  "Y8888P 888  888 "Y888888  "Y8888  888    
                                                             
                                                             
                                                             
888                                    888                   
888                                    888                   
888                                    888                   
88888b.  888d888 8888b.  88888b.   .d88888  .d88b.  88888b.  
888 "88b 888P"      "88b 888 "88b d88" 888 d88""88b 888 "88b 
888  888 888    .d888888 888  888 888  888 888  888 888  888 
888 d88P 888    888  888 888  888 Y88b 888 Y88..88P 888  888 
88888P"  888    "Y888888 888  888  "Y88888  "Y88P"  888  888 
                                                                                                                    
                                                             
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}