@import "reset";
@import "mixins";

html,
body {
  color: #333;
  font-size: 1em;
  background-color: #eaeaea;
  @include sans-serif;
}

a:link,
a:visited {
  color: #a6001b;
  text-decoration: none;
  @include transition(color, 150ms, ease-in-out);
}

a:hover {
  color: #555;
}

.wrapper {
  width: 100%;
}

h1, h2, h3, h4 {
  @include aliasing;
}

p, li {
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

li {
  list-style: none;
}

em {
  font-style: italic;
}

/*

         888          888               888 
         888          888               888 
         888          888               888 
 .d88b.  888  .d88b.  88888b.   8888b.  888 
d88P"88b 888 d88""88b 888 "88b     "88b 888 
888  888 888 888  888 888  888 .d888888 888 
Y88b 888 888 Y88..88P 888 d88P 888  888 888 
 "Y88888 888  "Y88P"  88888P"  "Y888888 888 
     888                                    
Y8b d88P                                    
 "Y88P"                                     
                                                               
*/

nav {
  border-bottom: 1px solid #dadada;
  background: #f1f1f1;
  @include overflowfix;
  padding-top: 1em;

  h1 {
    float: left;
    font-size: 1.6em;
    padding: .5em 0;

    a:link,
    a:visited {
      @include textmask;
      @include handwritten;
      letter-spacing: -0.03em;
    }
  }

  h2 {
    float: left;
    margin-left: 1em;
    padding: 1.4em 0 1.2em;
    font-size: 1em;
    @include sans-serif;
    display: none;
  }

  ul {
    width: 80%;
    text-align: right;
    float: right;

    li {
      display: inline-block;
      margin-left: 2em;
    }

    a:link,
    a:visited {
      color: #999;
      display: inline-block;
      font-size: .8em;
      text-transform: uppercase;
      @include sans-serif;
      padding: 1.5em 0em;
    }

    a:hover {
      color: #444;
    }
  }
}

#container {
  position: relative;
  z-index: 3;

  &.readability {
    background: #fdfdfd;
    @include serif;

    h1, h2, h3, h4 {
      font-family: Arbutus Slab;
      letter-spacing: -0.04em;
      line-height: 1;
    }

    .letter-spacing-fix {
      margin-right: -0.08em;
    }
  }

  &.reuters {
    background-color: #eaeaea;

    h1, h2, h3, h4 {
      line-height: 1.2;
      font-family: Fjalla One;
      letter-spacing: -0.05em;
    }
  }

  &.arc90 {
    h1, h2, h3, h4 {
      font-family: Kite One;
    }

    .letter-spacing-fix {
      display: inline-block;
      margin-right: -0.1em;
    }
  }
}

section {
  @include overflowfix;
  padding: 4em 0 3.5em;
  text-align: center;

  h2 {
    font-size: 3em;
  }

  .main-text {
    width: 90%;
    font-size: 1em;
  }

  &.align-left {
    h2, p {
      text-align: left;
    }

    p {
      width: 80%;
      margin: .5em 0 2em;
    }
  }

  &.last {
    margin-bottom: 300px;
  }
}

/* Arc90 specific */
.arc90 section {
  background-color: #eaeaea;

  &.no-bg {
    background-color: transparent;
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  padding: 6em 0 0;
  height: 210px;
  text-align: center;

  h3 {
    color: white;
    width: 90%;
    margin: 0 auto;
    font-size: 1.8em;
  }

  a:link,
  a:visited {
    display: inline-block;
    margin-top: 1em;
    @include border-radius(4em);
    padding: .4em 1.5em;
    font-size: 1.2em;
    border: 2px solid;
  }

  &.arc90 {
    background: #34424c url(../images/arc90_preview.jpg) bottom center no-repeat;

    h3 {
      font-family: Kite One;
    }

    a:link,
    a:visited {
      color: #629fcb;
      border-color: #629fcb;
    }

    a:hover {
      color: #fff;
      border-color: #fff;
    }
  }

  &.readability {
    background: #820015;
    padding-top: 6em;
    height: 230px;

    h3 {
      font-family: Arbutus Slab;
      letter-spacing: -0.04em;
      margin-top: .1em;
    }

    .icon {
      color: white;
      font-size: 2.4em;
    }

    a:link,
    a:visited {
      color: #d46a6a;
      border-color: #d46a6a;
    }

    a:hover {
      color: #fff;
      border-color: #fff;
    } 
  }

  &.reuters {
    background: #37220b;
    overflow: hidden;

    h3 {
      font-family: Fjalla One;
    }

    h3, a {
      z-index: 4;
      position: relative;
    }

    a:link,
    a:visited {
      color: #de8024;
      border-color: #de8024;
    }

    a:hover {
      color: #fff;
      border-color: #fff;
    } 
  }
}

/* Intros --*/
#reuters-intro,
#arc90-background,
#rdd-background {
  border-top: 10px solid #de8024;

  .main-text {
    margin: 2em auto 0;
  }

  ul {
    float: left;
    width: 100%;

    li {
      position: relative;
      display: inline-block;

      padding-left: 0px;
      text-align: center;
      margin: 1em auto 1em;
      width: 80%;
    }

    span {
      margin-top: .5em;
      font-size: .9em;
      display: block;
      text-transform: uppercase;
      font-weight: bold;
    }

    img {
      top: 0;
      left: 0;
      display: inline-block;

      width: 60px;
      position: relative;
    }
  }
}

.divider {
  text-align: center;
  display: block;
  margin: 3em 0 4em;

  span {
    @include border-radius(50%);
    border: 2px solid;
    width: 6px;
    height: 6px;
    margin: 0 10px;
    display: inline-block;
  }

  &.arc span {
    border-color: #3d80af;
    height: 0px;
    width: 2px;
    @include border-radius(0);
  }

  &.reuters span {
    border-color: #de8024;
  }

  &.readability span {
    border-color: #a6001b;
    background: #a6001b;
  }
}

/* Header ---*/
.header {
  padding: 0;
  height: 300px;
  position: relative;
  color: white;
  text-align: center;
  overflow: hidden;

  .icon {
    font-size: 2em;
  }

  img {
    width: 60px;
  }

  h1 {
    font-size: 2.4em;
  }

  &.readability {
    background: #820015;
  }

  &.reuters {
    h1 {
      margin-top: .2em;
    }

    background: #37220b url(../images/reuters_bg.png) top left repeat;
  }

  &.arc90 {
    background: #0f1d26 url(../images/arc90_header_image.jpg) top center no-repeat;
    background-size: 200%;

    #title-card {
      width: 140px;
      margin-left: -70px;
    }
  }
}

#title-card {
  position: absolute;
  top: 35%;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  text-align: center;

  img {
    display: inline-block;
  }
}

#contact-me {
  padding: 3em 0 4em;
  font-size: 1.2em;

  li {
    width: 90%;
    display: block;
    margin: 5% auto 0;
    @include box-sizing;
    text-align: center;

    h4 {
      font-size: 1.8em;
      margin-bottom: .3em;
    }

    &:first-child {
      margin-top: 0;
      padding-bottom: 5%;
      border-bottom: 1px solid #d4d4d4;
    }
  }

  &.arc90 {
    background: #dee6ec;
    border-top: 1px solid #c5d7e3;
    
    a:link,
    a:visited {
      color: #3d80af;
    }

    a:hover {
      color: #444;
    }
  }

  &.reuters {
    background: #efe5db;
    border-top: 1px solid #e3d4c5;

    a:link,
    a:visited {
      color: #de8024;
    }

    a:hover {
      color: #444;
    }
  }

  &.readability {
    background: #efdbde;
    border-top: 1px solid #e4c7cb;

    a:link,
    a:visited {
      color: #a6001b;
    }

    a:hover {
      color: #444;
    }
  }
}

/*

888                                                                          
888                                                                          
888                                                                          
88888b.   .d88b.  88888b.d88b.   .d88b.  88888b.   8888b.   .d88b.   .d88b.  
888 "88b d88""88b 888 "888 "88b d8P  Y8b 888 "88b     "88b d88P"88b d8P  Y8b 
888  888 888  888 888  888  888 88888888 888  888 .d888888 888  888 88888888 
888  888 Y88..88P 888  888  888 Y8b.     888 d88P 888  888 Y88b 888 Y8b.     
888  888  "Y88P"  888  888  888  "Y8888  88888P"  "Y888888  "Y88888  "Y8888  
                                         888                    888          
                                         888               Y8b d88P          
                                         888                "Y88P"            
                                                                                          
*/

#work {
  @include overflowfix;

  a:link,
  a:visited {
    display: block;
    height: 500px;
    position: relative;
    overflow: hidden;
    @include box-sizing;
  }

  a:hover {
    img, h2 {
      transform: scale(1.05, 1.05);
      -webkit-transform: scale(1.05, 1.05);
      -moz-transform: scale(1.05, 1.05);
      -ms-transform: scale(1.05, 1.05);
    }
  }

  li {
    width: 33%;
    display: inline-block;
    margin-bottom: 8em;

    &.middle {
      width: 34%;
    }
  }

  img, h2 {
    position: absolute;
    transition: transform 150ms ease-in-out;
    -webkit-transition: -webkit-transform 150ms ease-in-out;
    -moz-transition: -moz-transform 150ms ease-in-out;
    -ms-transition: -ms-transform 150ms ease-in-out;
  }
}

#hobbies {
  text-align: center;

  li {
    margin: 0 10px;
    padding: 1em;
    width: 30px;
    height: 30px;
    display: inline-block;
    background: #f5f5f5;
    @include border-radius(50%);

    img {
      width: 100%;
    }
  }
}

#readability-work {
  border-bottom: 10px solid #a6001b;
  background: #700012;
  color: white;
  font-family: Arbutus Slab;
  padding-top: 2.5em;

  .icon {
    font-size:1em;
    display: inline-block;
    margin-right: .2em;
  }

  h2 {
    width: 100%;
    top: 41%;
    text-align: center;
    font-size: 2.4em;
  }
}

#arc-work {
  border-bottom: 10px solid #3d80af;
  padding-top: 4.5em;
  background: #0f1d26;
  background-size: auto 500px;
}

#arc-home {
  position: absolute;
  top: 38%;
  width: 100px;
  left: 50%;
  margin-left: -50px;
}

#arc-logo-homepage {
  width: 120px;
  display: inline-block;
  position: absolute;
  top: 45%;
  left: 50%;
  margin-left: -60px;
}

#reuters-work {
  border-bottom: 10px solid #de8024;
  padding-top: 4em;
  background: #37220b;

  img {
    width: 160px;
    display: inline-block;
    position: absolute;
    top: 42%;
    left: 50%;
    margin-left: -80px;
  }
}

#resume-pitch {
  width: 100%;
  margin-top: 3em;
  text-align: center;
  font-size: 1.3em;

  a:link,
  a:visited {
    display: block;
    color: #789c57;
    border: 1px solid #789c57;
    @include border-radius(.4em);
    padding: .6em .8em;
    margin: .5em auto 0;
    font-size: .8em;
    width: 60%;
  }

  a:hover {
    color: #486b29;
    border-color: #486b29;
  }
}

#finale {
  text-align: center;
  font-size: 2.4em;
  padding: 1.4em 0;
  margin-top: 2em;
  background: #dfdfdf;
  @include handwritten;
  
  p {
    @include textmask;
  }
  
  img {
    display: block;
    width: 40px;
    margin: .2em auto 0;
  }
}

#resume {
  @include overflowfix;
  margin: 0 auto;
  padding: 5em 0;

  h3, h4 {
    font-family: Contrail One;
  }

  h4 {
    font-size: 1.6em;
    padding-bottom: .4em;
    margin-bottom: .5em;
    line-height: .9;
    font-weight: normal;
  }

  h3 {
    margin: 0 0 .6em;
    font-size: 2em;
  }

  li {
    position: relative;
  }

  .date {
    @include sans-serif;
    color: #789c57;
    display: block;
    text-transform: uppercase;
    font-size: .7em;
    margin-bottom: .2em;
  }
}

#work-experience,
#education {
  float: left;
  width: 100%;
  margin-bottom: 1.5em;

  li {
    margin-bottom: 2em;
  }

  strong  {
    font-weight: 200;
    line-height: 1.3;
    margin-bottom: .15em;
    display: block;
    font-size: 1.3em;
  }

  p {
    margin-top: .7em;
    line-height: 1.4;
    font-size: .9em;
  }
}

#left-column,
#center-column,
#right-column {
  width: 90%;
  margin: 0 auto;
}

#center-column,
#right-column {
  margin-top: 4em;

}

#left-column {
  p {
    @include serif;
  }
}

#skillset {
  font-size: .9em;

  li {
    line-height: 1.4;
    margin-bottom: 1em;
  }
}

#social {
  margin-top: 1em;

  li {
    display: inline-block;
    width: 30px;
    margin-right: 10px;
  }
  img {
    display: block;
    width: 100%;
  }
}



/*
                              888          888      d8b 888 d8b 888             
                              888          888      Y8P 888 Y8P 888             
                              888          888          888     888             
888d888 .d88b.   8888b.   .d88888  8888b.  88888b.  888 888 888 888888 888  888 
888P"  d8P  Y8b     "88b d88" 888     "88b 888 "88b 888 888 888 888    888  888 
888    88888888 .d888888 888  888 .d888888 888  888 888 888 888 888    888  888 
888    Y8b.     888  888 Y88b 888 888  888 888 d88P 888 888 888 Y88b.  Y88b 888 
888     "Y8888  "Y888888  "Y88888 "Y888888 88888P"  888 888 888  "Y888  "Y88888 
                                                                            888 
                                                                       Y8b d88P 
                                                                        "Y88P"  
*/

.rdd-red {
  color: #a6001b;
}

.icon {
  @include readabilicons;
  @include aliasing;
}

#rdd-background {
  border-top: 10px solid #a6001b;

  h2 {
    line-height: 1.2;
  }
}

#thoughtful-design {
  background: #a6001b;
  color: white;
  padding-bottom: 0;

  h2 {
    margin-top: .8em;
  }

  .main-text {
    margin: 1.8em auto 3em;
    width: 85%;
  }
}

#rdd-feature-rundown {
  background: #890016;
  padding: 2.6em 0 2.4em;
  text-align: center;
  margin: 0 auto;
  font-size: .8em;

  img {
    width: 40px;
  }

  li {
    position: relative;
    display: inline-block;
    width: 30%;
    margin:0;
    color: #f8aeaf;
  }

  p {
    width: 70%;
    margin: 1em auto 0;
  }
}

.screens {
  @include overflowfix;
  margin-top: 1em;

  li {
    float: left;
    width: 20%;
    text-align: center;

    &.higher {
      margin-top: -10px;
    }

    &.highest {
      margin-top: -20px;
    }

    &.high {
      margin-top: -5px;
    }

    img {
      width: 90%;
    }
  }
}

#iconography {
  h2 {
    color: #a6001b;
    font-size: 2.6em;

    .icon {
      display: block;
      margin: 0 auto .2em;
    }
  }

  p {
    margin: 1.8em auto 3em;
  }

  li {
    text-align: center;
    width: 29%;
    margin-right: 2px;
    margin-bottom: 3px;
    padding: .4em 0 1em;
    @include box-sizing;
    color: #777;
    font-size: .8em;
    display: inline-block;

    .icon {
      font-size: 3em;
      display: block;
    }
  }
}

#typography {
  padding-bottom: 5em;
  background: #a6001b;
  position: relative;
  color: white;
  overflow: hidden;

  h2 {
    text-align: center;
  }

  .main-text {
    text-align: center;
    width: 90%;
    margin: 1.8em auto 3em;
  }
}

#landscape  {
  margin-left: -450px;
  width: 400px;
  top: 263px;
  display: none;
}

#portrait {
  display: block;
  margin: 3em auto 0;
  width: 280px;
}

#portrait-iphone {
  width: 120px;
  top: 345px;
  display: none;
  margin-left: 237px;
}

#rdd-ux {
  h2 {
    margin-top:1em;
    text-align: center;
  }
  
  .main-text {
    margin: 2em auto 3em;
    width: 90%;
    text-align: center;
  }

  .rdd-red {
    font-style: italic;
  }

  #ux-hero-video {
    width: 280px;
    margin: 0 auto;
    display: block;
  }

  .right {
    position: relative;
    width: 90%;
    margin: 0 auto;
  }
}

#rdd-love {
  text-align: center;
  padding: 2em 0 0;
}

#screen-holder {
  height: 920px;
  position: relative;
  overflow: hidden;

  h2 {
    width: 80%;
    margin: .4em auto .7em;
  }

  blockquote {
    font-size: 1.4em;
    width: 90%;
    margin: 0 auto 1.5em;
    line-height: 1.2;

    span {
      margin-top: .5em;
      font-size: .4em;
      color: #777;
      display: block;
      text-align: right;
      text-transform: uppercase;

      a:link,
      a:visited {
        color: #a6001b;
      }

      a:hover {
        color: #555;
      }
    }
  }
}

#iphone {
  width: 280px;
}

#ipad {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 800px;
  z-index: 2;
  display: none;
  margin-left: 110px;
}

#featured-badge {
  display: inline-block;
  width: 200px;
  margin: 0px auto;
}

#dl-rdd {
  display: inline-block;
  margin: 40px auto;
}


/* Videos ------- */

#rdd-videos {
  padding: 5em 0 6em;
  background: #a6001b;
  @include overflowfix;

  h3 {
    color: white;
    font-size: 1.8em;
    margin-bottom: 1em;
  }
}

/*
                         888                             
                         888                             
                         888                             
888d888 .d88b.  888  888 888888 .d88b.  888d888 .d8888b  
888P"  d8P  Y8b 888  888 888   d8P  Y8b 888P"   88K      
888    88888888 888  888 888   88888888 888     "Y8888b. 
888    Y8b.     Y88b 888 Y88b. Y8b.     888          X88 
888     "Y8888   "Y88888  "Y888 "Y8888  888      88888P' 
                                                         
*/

.data {
  position: absolute;
  border: 2px solid #8c5825;
  width: 30px;
  height: 30px;
  margin-left: -15px;
  @include border-radius(50%);
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  @include border-radius(50%);
}

#circle1 {
  width: 400px;
  height: 400px;
  margin-left: -200px;
  margin-top: -200px;
}

#data01,
#data11,
#data21,
#data31 {
  top: 0px;
  left: 50%;
}

#data02,
#data12,
#data22,
#data32 {
  top: 10%;
  left: 76%;
}

#data03,
#data13,
#data23,
#data33 {
  top: 30%;
  left: 96%;
}

#data04,
#data14,
#data24,
#data34 {
  top: 58%;
  left: 95%;
}

#data05,
#data15,
#data25,
#data35 {
  top: 87%;
  left: 77%;
}

#data06,
#data16,
#data26,
#data36 {
  top: 96%;
  left: 47%;
}

#data07,
#data17,
#data27,
#data37 {
  top: 82%;
  left: 21%;
}

#data08,
#data18,
#data28,
#data38 {
  top: 58%;
  left: 2%;
}

#data09,
#data19,
#data29,
#data39 {
  top: 29%;
  left: 5%;
}

#data10,
#data20,
#data30,
#data40 {
  top: 7%;
  left: 20%;
}

#circle2 {
  width: 650px;
  height: 650px;
  margin-left: -325px;
  margin-top: -325px;
  transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);

  .data {
    width: 26px;
    height: 26px;
    margin-left: -13px;
  }
}

#circle3 {
  width: 900px;
  height: 900px;
  margin-left: -450px;
  margin-top: -450px;
  transform: rotate(25deg);
  -webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  -ms-transform: rotate(25deg);

  .data {
    width: 20px;
    height: 20px;
    margin-left: -10px;
  }
}

#circle4 {
  width: 1200px;
  height: 1200px;
  margin-left: -600px;
  margin-top: -600px;
  @include transform(rotate, 45deg, 200ms);

  .data {
    width: 12px;
    height: 12px;
    margin-left: -6px;
  }
}

#data-strategy {
  background: #e8892d url(../images/reutersbg.png) top left repeat;
  padding-bottom: 3em;

  h2, h3 {
    color: #5b3001;
  }

  img {
    width: 100%;
  }

  h2 {
    width: 100%;
  }

  .main-text {
    margin: 1.5em auto 0em;
  }
}

#feature-rundown {
  width: 90%;
  margin: 0 auto;

  li {
    position: relative;
    padding: 2em 0;
    text-align: center;
    @include box-sizing;

    img {
      width: 70%;
      display: inline-block;
      margin: 0 auto;
    }

    h3 {
      margin-top: .5em;
      font-size: 2em;
    }

    p {
      width: 100%;
      font-size: 1em;
      text-align: center;
      margin-top: 1em;
    }

    &.even {
      text-align:center;

      img {
        left: auto;
        right: 0;
      }
    
      p {
        text-align:center;
      }
    }
  }
}

#reusable-components {
  border-bottom: 2px dotted #dadada;
  padding-bottom: 1em;

  img {
    width: 90%;
    margin: 0 auto;
  }

  h3 {
    font-size: 1.4em;
    font-weight: bold;
    margin: 3.2em 0 1.2em;
    text-transform: uppercase;
  }

  .main-text {
    margin: 1.5em auto 2em;
  }

  ul {
    margin-top: 5em;
  }
  
  li {
    width: 90%;
    margin: 0 auto 4em;

    strong {
      display: block;
      margin: .4em 0;
      font-size: 1.6em;
      font-family: Fjalla One;
    }

    p {
      font-size: 1em;
      color: #777;
    }

    img {
      width: 90px;
    }
  }
}

#proven-design {
  img {
    width: 130px;
    margin: 0 auto;
  }

  .main-text {
    width: 80%;
    margin: 1.5em auto 3em;
  }

  #web {
    width: 90%;
    margin: 0 auto;
  }
}




/*
                          .d8888b.   .d8888b.  
                         d88P  Y88b d88P  Y88b 
                         888    888 888    888 
 8888b.  888d888 .d8888b Y88b. d888 888    888 
    "88b 888P"  d88P"     "Y888P888 888    888 
.d888888 888    888             888 888    888 
888  888 888    Y88b.    Y88b  d88P Y88b  d88P 
"Y888888 888     "Y8888P  "Y8888P"   "Y8888P"  
                                               
*/

#arc90-background {
  border-top: 10px solid #3d80af;

  .main-text {
    margin-top: 2.2em;
  }
}

#me {
  background: #444;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  &.hidden {
    z-index: 0;
  }

  #message {
    position: absolute;
    top: 32%;
    left: 50%;
    margin-left: -350px;
    width: 700px;
    text-align: center;

    h2 {
      color: white;
      font-size: 2em;
      width: 100%;
      float: left;
      margin-top: .4em;
      font-family: Kite One;
    }

    p {
      width: 100%;
      margin-top: 2em;
      color: white;
      font-size: 1.2em;
      color: #a1a1a1;
      @include sans-serif;
    }
  }
}

#bg-portrait {
  display: inline-block;
  width: 120px;
  height: 120px;
  border: 6px solid #5b8aab;
  @include border-radius(50%);
}

#arrow {
  position: absolute;
  top: 12%;
  left: 100%;
  width:60px;
  border: none;
}

#how-done {
  position: absolute;
  top: 15%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  line-height: 1.1;
  color: #777;
  text-align: center;
  font-family: Waiting for the Sunrise;
}

#arc-logo {
  width: 100px;
  display: block;
}

#arc {
  width: 80px;
  display: block;
  margin: 0 auto;
}

#arc-details {
  background: #316c96;
  color: white;

  p {
    margin: 2.2em auto 1em;
  }

  #feature-rundown {
    h3 {
      color: #91cef1;
    }

    li {
      padding-top: 2em;
    }
  }
}

#peek-through {
  width: 100%;
  height: 500px;
  padding: 0;
}

#people {
  overflow: hidden;

  p {
    margin: 0 auto;
  }

  ul {
    text-align: center;
    width: 1000px;
    margin: 3em 0 3em -320px;
  }
  
  li {
    margin: 0 5px;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border: 2px solid #c2d8e7;
    @include border-radius(50%);
    display: inline-block;
    
    img {
      width: 100%;
      border: 2px solid #fff;
      @include border-radius(50%);
      @include box-sizing;
    }
  }
}

#narratives {
  .main-text {
    margin: 2.2em auto 2em;
  }

  ul {
    width: 90%;
    margin: 4em auto 0em;
    @include overflowfix;

    li {
      float: left;
      width: 100%;
      margin-top: 1em;
      margin-bottom: 20px;

      img {
        width: 100%;
      }

      &:first-child {
        margin-top: 0;
      }
    }
  }
}

#homepage {
  width: 90%;
  margin: 4em auto 0;
  display: block;
}


@media screen and (min-width: 520px) {
  
}

@media screen and (min-width: 748px) {
  #nav-toggle {
    display: block;
  }

  .header {
    &.arc90 {
      background: #0f1d26 url(../images/arc90_header_image.jpg) top center no-repeat;
      background-size: 100%;
    }
  }

  .wrapper {
    width: 748px;
    margin: 0 auto;
  }

  #michael-brandon {
    h3 {
      font-size: 2.2em;
      margin-top: 5em;

      &:first-child {
        margin-top: 4em;
      }  
    }

    .main-text {
      font-size: 1.2em;
      margin: 1.5em auto 3em;
      width: 70%;
    }
  }

  #introduction {
    padding-top: 3.5em;

    h1, h2 {
      font-size: 5.1em;
    }

    h2 {
      font-size: 1.4em;
    }
  }

  #hobbies {
    li {
      margin: 0 20px;
      width: 70px;
      height: 70px;
    }
  }

  #resume-pitch {    
    a:link,
    a:visited {
      margin: 3em 0 0 0.3em;
      width: auto;
      display: inline;
    }
  }

  #finale {
    font-size: 3em;
    margin-top: 4em;
    padding: 2em 0;

    img {
      width: 30px;
    }
  }


  /* Work */
  .header {
    height: 440px;
  }

  #title-card {
    top: 38%;
  }

  section {
    padding: 7em 0 6em;

    h2 {
      font-size: 4em;
    }

    .main-text {
      width: 70%;
      font-size: 1.2em;
    }
  }

  #reuters-intro,
  #arc90-background,
  #rdd-background {
    ul {
      li {
        display: inline-block;
        margin: -1em 0 2em;
        padding-left: 50px;
        width: 160px;
        text-align: left;
      }

      img {
        width: 40px;
        position: absolute;
      }
    }
  }

  #thoughtful-design {
    padding-bottom: 3.5em;
  }

  #rdd-feature-rundown {
    @include border-radius(10px);
    width: 87%;
    margin: 0 auto;
  }

  #iconography {
    h2 {
      font-size: 4em;

      .icon {
        display: inline;
        margin-right: 0.2em;
      }
    }

    p {
      width: 90%;
    }

    li {
      width: 14%;
      padding: .6em 0 1.6em;

      .icon {
        font-size: 4em;
      }
    }
  }

  #typography {
    height: 1200px;
    padding: 6em 0 5em;

    h2 {
      text-align: left;
      margin: 0 30px;
    }

    img {
      position: absolute;
      left: 50%;
    }

    .main-text {
      text-align: left;
      width: 90%;
      margin: 1.8em 30px 3em;
    }
  }

  #landscape  {
    margin-left: -900px;
    width: 800px;
    top: 536px;
    display: block;
  }

  #portrait {
    top: 440px;
    margin-left: -80px;
    height: 800px;
    width: auto;
  }

  #portrait-iphone {
    width: 240px;
    top: 700px;
    display: block;
    margin-left: 474px;
  }

  #rdd-ux {
    padding: 6em 0;

    h2, .main-text {
      text-align: left;
    }

    h2 {
      margin-top: 0;
    }

    .main-text {
      width: 100%;
    }

    #ux-hero-video {
      float: left;
      width: 280px;
      margin: 0 0 0 6%;
    }

    .right {
      position: relative;
      width: 42%;
      float: left;
      margin: 60px 0 0 8%;
    }
  }

  #ux-videos {
    text-align: center;

    li {
      display: inline-block;
      width: 33.3%;

      a:link,
      a:visited {
        position: relative;
        display: block;
      }

      strong {
        margin-top: .3em;
        color: white;
        @include transition(color, 150ms, ease-in-out);
      }

      a:hover {
        strong {
          color: #fb96a6;
        }

        .play-btn {
          background: #a6001b;
        }
      }

      .play-btn {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 41%;
        left: 50%;
        margin: -20px 0 0 -20px;
        @include border-radius(50%);
        border: 2px solid #fff;
      }

      .play-arrow {
        position: absolute;
        top: 50%;
        left: 50%;
        border: 6px solid #fff;
        margin: -6px 0 0 -8px;
        border-left-color: transparent;
        border-bottom-color: transparent;
        @include rotate(45deg);
      }

      img {
        width: 90%;
      }
    }
  }

  #rdd-love {
    text-align: right;
    padding: 6em 0 8em;
  }

  #screen-holder {
    height: 560px;

    h2 {
      width: 50%;
      margin: .8em 0 .7em 5%;
    }

    blockquote {
      font-size: 1.6em;
      width: 50%;
      margin: 0 0 1.5em 5%;
    }
  }

  #iphone {
    position: absolute;
    top: 70px;
    width: 230px;
    left: 60%;
    z-index: 3;
    margin-left: 0px;
  }

  #ipad {
    position: absolute;
    top: 0px;
    left: 55%;
    width: 800px;
    z-index: 2;
    display: block;
    margin-left: 110px;
  }

  #featured-badge {
    float: left;
    display: inline-block;
    width: 200px;
    margin-left: 50px;
  }

  #dl-rdd {
    float: left;
    margin:20px 20px 0 30px;
  }

  #contact-me {
    padding: 4em 0 5em;

    li {
      width: 45%;
      display: inline-block;
      padding-left: 5%;
      @include box-sizing;
      text-align: left;
      margin: 0;

      &:first-child {
        padding: 0 5% 0 0;
        text-align: right;
        padding-top: none;
        border-bottom: none;
      }
    }

    &.arc90 li:first-child {
      border-right: 1px solid #c5d7e3;
    }

    &.reuters li:first-child {
      border-right: 1px solid #e3d4c5;
    }

    &.readability li:first-child {
      border-right: 1px solid #e4c7cb;
    }
  }

  footer {
    padding: 8em 0 0;
    height: 200px;

    h3 {
      font-size: 2.8em;
    }
  }

  #data-strategy {
    padding-bottom: 9em;

    p {
      width: 80%;
    }
  }

  #feature-rundown {
    width: 688px;
    margin: 0 auto;

    li {
      padding: 1.5em 0 .5em 35%;
      text-align: left;
      margin-top: 5em;

      img {
        width: 30%;
        position: absolute;
        top: 0;
        left: 0;
      }

      h3 {
        margin-top: 0;
        font-size: 2.5em;
      }

      p {
        font-size: 1.1em;
        text-align: left;
      }

      &.even {
        text-align:right;
        padding-left: 0;
        padding-right: 35%;
      
        p {
          text-align:right;
        }
      }
    }
  }

  #reusable-components {  
    padding-bottom: 4em;

    img {
      width: 100%;
    }

    li {
      float: left;
      width: 44%;
      margin: 0 3% 4em 3%;

      strong {
        margin: .6em 0;
        font-size: 1.2em;
      }

      img {
        width: 70px;
      }
    }
  }

  #proven-design {
    .main-text {
      width: 64%;
    }

    #web {
      width: 100%;
    }
  }

  #people {
    ul {
      width: 1600px;
      margin: 4em 0 4em -416px;
    }
    
    li {
      width: 120px;
      height: 120px;
      border-width: 4px;

      img {
        border-width: 4px;
      }
    }
  }

  #me {
    #message {
      top: 28%;

      h2 {
        font-size: 4em;
        margin-top: .2em;
      }

      p {
        margin-top: 3em;
        font-size: 1.4em;
      }
    }
  }

  #bg-portrait {
    width: 160px;
    height: 160px;
    border-width: 8px;
  }

  #arrow {
    top: 21%;
    left: 52%;
    width:120px;
  }

  #how-done {
    top: 26%;
    left: 65%;
    margin-left: 0;
    text-align: left;
    width: 300px;
    font-size: 1.7em;
  }

  #narratives {
    ul {
      width: 95%;
      margin: 8em auto 0em;

      li {
        width: 50%;
        margin-bottom: 20px;
        margin-top: 0;

        img {
          width: 110%;
          margin-left: -5%;
        }

        &:first-child {
          margin-top: -30px;
        }
      }
    }
  }

  #homepage {
    width: 100%;
  }

  #left-column,
  #center-column,
  #right-column {
    float: left;
    margin: 0;
  }

  #left-column {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 4em;

    p {
      @include serif;
    }
  }

  #center-column {
    width: 60%;
    margin: 0 5%;
  }

  #right-column {
    width: 25%;
    margin-top: 0;
  }
}

@media screen and (min-width: 1002px) {
  .wrapper {
    width: 960px;
  }

  #typography {
    height: 1200px;
    padding: 7em 0 6em;
  }

  #rdd-ux {
    padding: 8em 0;

    #ux-hero-video {
      float: left;
      width: 320px;
      margin: 0 0 0 8%;
    }

    .right {
      position: relative;
      width: 45%;
      float: left;
      margin: 120px 0 0 6%;
    }
  }

  section {
    h2 {
      font-size: 5em;
    }
  }

  #iconography {
    h2 {
      font-size: 5em;
    }

    li {
      width: 12%;
    }
  }

  #rdd-love {
    padding-top: 8em;
  }

  #screen-holder {
    height: 560px;

    h2 {
      width: 45%;
      margin: .8em 0 .7em;
    }

    blockquote {
      font-size: 1.6em;
      width: 40%;
      margin: 0 0 1.5em 5%;
    }
  }

  #iphone {
    position: absolute;
    top: 70px;
    width: 230px;
    left: 50%;
    z-index: 3;
    margin-left: 0px;
  }

  #ipad {
    position: absolute;
    top: 0px;
    left: 45%;
    width: 800px;
    z-index: 2;
    display: block;
    margin-left: 110px;
  }

  #featured-badge {
    margin-left: 66px;
  }

  #feature-rundown {
    width: 768px;

    li {
      padding: 2em 0 1em 35%;
    }
  }

  #reusable-components {  
    li {
      width: 21%;
      margin: 0 2% 4em 2%;

      img {
        width: 50px;
      }
    }
  }

  #arrow {
    left: 55%;
  }

  #how-done {
    top: 28%;
  }

  #left-column,
  #center-column,
  #right-column {
    float: left;
    margin: 0;
  }

  #left-column {
    width: 20%;
    margin-left: 5%;
    margin-bottom: 4em;

    p {
      @include serif;
    }
  }

  #center-column {
    width: 40%;
    margin: 0 5%;
  }

  #right-column {
    width: 20%;
    margin-top: 0;
  }
}

@media screen and (min-width: 1202px) {
  
}
