@import "reset";
@import "mixins";

html,
body {
  color: #333;
  font-size: 1em;
  background-color: #eaeaea;
  @include sans-serif;
}

a:link,
a:visited {
  color: #a6001b;
  text-decoration: none;
  @include transition(all, 150ms, ease-in-out);
}

a:hover {
  color: #555;
}

.wrapper {
  width: 100%;
}

h1, h2, h3, h4 {
  @include aliasing;
}

p, li {
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

li {
  list-style: none;
}

em {
  font-style: italic;
}

.prevent-wrap {
  display: block;
}

/*

         888          888               888 
         888          888               888 
         888          888               888 
 .d88b.  888  .d88b.  88888b.   8888b.  888 
d88P"88b 888 d88""88b 888 "88b     "88b 888 
888  888 888 888  888 888  888 .d888888 888 
Y88b 888 888 Y88..88P 888 d88P 888  888 888 
 "Y88888 888  "Y88P"  88888P"  "Y888888 888 
     888                                    
Y8b d88P                                    
 "Y88P"                                     
                                                               
*/

nav {
  border-bottom: 1px solid #dadada;
  background: #eaeaea;
  @include overflowfix;

  h1 {
    float: left;
    font-size: 1.6em;
    padding: 1em 0 .95em;
  }

  ul {
    width: 80%;
    text-align: right;
    float: right;

    li {
      display: inline-block;
      margin-left: 2em;
    }

    a:link,
    a:visited {
      color: #999;
      display: inline-block;
      font-size: .8em;
      text-transform: uppercase;
      @include sans-serif;
      padding: 3.6em 0em;
    }

    a:hover {
      color: #444;
    }
  }
}

#container {
  position: relative;
  z-index: 3;

  &.readability {
    background: #fdfdfd;
    @include serif;

    h1, h2, h3, h4 {
      @include readabilityfont;
    }

    .letter-spacing-fix {
      margin-right: -0.08em;
    }
  }

  &.reuters {
    background-color: #eaeaea;
    @include serif;

    h1, h2, h3, h4 {
      @include reutersfont;
    }
  }

  &.arc90 {
    h1, h2, h3, h4 {
      @include arc90font;
    }

    .letter-spacing-fix {
      display: inline-block;
      margin-right: -0.1em;
    }
  }
}

section {
  @include overflowfix;
  padding: 4em 0 3.5em;
  text-align: center;

  h2 {
    font-size: 3em;
  }

  .main-text {
    width: 90%;
    font-size: 1em;
  }

  &.align-left {
    h2, p {
      text-align: left;
    }

    p {
      width: 80%;
      margin: .5em 0 2em;
    }
  }

  &.last {
    margin-bottom: 300px;
  }
}

/* Arc90 specific */
.arc90 section {
  background-color: #eaeaea;

  &.no-bg {
    background-color: transparent;
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  padding: 5em 0 0;
  height: 220px;
  text-align: center;

  h3 {
    color: white;
    width: 90%;
    margin: 0 auto;
    font-size: 1.8em;
  }

  a:link,
  a:visited {
    display: inline-block;
    margin-top: 1.4em;
    @include border-radius(4em);
    padding: .4em 1.5em;
    font-size: 1.2em;
    border: 2px solid;
  }

  &.arc90 {
    background: #34424c url(../images/arc90_preview.jpg) bottom center no-repeat;

    h3 {
      @include arc90font;
      line-height: 1.3;
    }

    a:link,
    a:visited {
      color: #629fcb;
      border-color: #629fcb;
    }

    a:hover {
      color: #fff;
      border-color: #fff;
    }
  }

  &.readability {
    background: #820015;
    padding-top: 6em;
    height: 230px;

    h3 {
      @include readabilityfont;
      margin-top: .1em;
    }

    .icon {
      color: white;
      font-size: 2.4em;
    }

    a:link,
    a:visited {
      color: #d46a6a;
      border-color: #d46a6a;
    }

    a:hover {
      color: #fff;
      border-color: #fff;
    } 
  }

  &.reuters {
    background: #37220b;
    overflow: hidden;

    h3 {
      @include reutersfont;
    }

    h3, a {
      z-index: 4;
      position: relative;
    }

    a:link,
    a:visited {
      color: #de8024;
      border-color: #de8024;
    }

    a:hover {
      color: #fff;
      border-color: #fff;
    } 
  }
}

/* Intros --*/
#reuters-intro,
#arc90-background,
#rdd-background {
  border-top: 10px solid #de8024;

  h2, h3 {
    width: 80%;
    margin: 0 auto;
  }

  .main-text {
    margin: 2em auto 0;
  }

  ul {
    float: left;
    width: 100%;

    li {
      position: relative;
      display: inline-block;
      width: 45%;

      padding-left: 0px;
      text-align: center;
      margin: 0em;
    }

    span {
      margin-top: .5em;
      font-size: .9em;
      display: block;
      font-weight: bold;
      @include reutersfont;
    }

    img {
      top: 0;
      left: 0;
      display: inline-block;

      width: 70px;
      position: relative;
    }
  }
}

.divider {
  text-align: center;
  display: block;
  margin: 3em 0;

  span {
    @include border-radius(50%);
    border: 2px solid;
    width: 6px;
    height: 6px;
    margin: 0 10px;
    display: inline-block;
  }

  &.arc span {
    border-color: #3d80af;
    height: 0px;
    width: 2px;
    @include border-radius(0);
  }

  &.reuters span {
    border-color: #de8024;
  }

  &.readability span {
    border-color: #a6001b;
    background: #a6001b;
  }
}

/* Header ---*/
.header {
  padding: 0;
  height: 260px;
  position: relative;
  color: white;
  text-align: center;
  overflow: hidden;

  .icon {
    font-size: 2em;
  }

  img {
    width: 60px;
  }

  h1 {
    font-size: 2.4em;
  }

  &.readability {
    background: #820015;
  }

  &.reuters {
    img {
      margin-top: .8em;
      width: 170px;
    }

    background: #37220b url(../images/reuters_bg.png) top left repeat;
  }

  &.arc90 {
    background: #0f1d26 url(../images/arc90_header_image.jpg) top center no-repeat;
    background-size: 200%;

    #title-card {
      width: 140px;
      margin-left: -70px;
    }
  }
}

#title-card {
  position: absolute;
  top: 35%;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  text-align: center;

  img {
    display: inline-block;
  }
}

#contact-me {
  padding: 3em 0 4em;
  font-size: 1.2em;

  li {
    width: 90%;
    display: block;
    margin: 5% auto 0;
    @include box-sizing;
    text-align: center;

    h4 {
      font-size: 1.8em;
      margin-bottom: .3em;
    }

    &:first-child {
      margin-top: 0;
      padding-bottom: 5%;
    }
  }

  &.arc90 {
    background: #dee6ec;
    border-top: 1px solid #c5d7e3;
    
    a:link,
    a:visited {
      color: #3d80af;
    }

    a:hover {
      color: #444;
    }
  }

  &.reuters {
    background: #efe5db;
    border-top: 1px solid #e3d4c5;

    a:link,
    a:visited {
      color: #de8024;
    }

    a:hover {
      color: #444;
    }
  }

  &.readability {
    background: #efdbde;
    border-top: 1px solid #e4c7cb;

    a:link,
    a:visited {
      color: #a6001b;
    }

    a:hover {
      color: #444;
    }
  }
}

/*

888                                                                          
888                                                                          
888                                                                          
88888b.   .d88b.  88888b.d88b.   .d88b.  88888b.   8888b.   .d88b.   .d88b.  
888 "88b d88""88b 888 "888 "88b d8P  Y8b 888 "88b     "88b d88P"88b d8P  Y8b 
888  888 888  888 888  888  888 88888888 888  888 .d888888 888  888 88888888 
888  888 Y88..88P 888  888  888 Y8b.     888 d88P 888  888 Y88b 888 Y8b.     
888  888  "Y88P"  888  888  888  "Y8888  88888P"  "Y888888  "Y88888  "Y8888  
                                         888                    888          
                                         888               Y8b d88P          
                                         888                "Y88P"            
                                                                                          
*/

#michael-brandon {
  background: transparent url(../images/home_bg.png) top left repeat;
}

#intro {
  border-top: 10px solid #222;

  img {
    width: 140px;
    display: block;
    margin: 60px auto 40px;
  }

  .main-text {
    width: 80%;
    margin: 0 auto;
    font-size: 1em;
    line-height: 1.5;
    text-align: center;
  }
}

#jumps {
  text-align: center;
  width: 90%;
  margin: 3em auto 1em;

  li {
    width: 100%;
    margin-bottom: 3em;
    display: inline-block;

    strong {
      @include transition(color, 150ms, ease-in-out);
    }

    &:first-child {
      .image {
        background: #a60000;
      }

      .nubbin {
        border-bottom-color: #a60000;
        border-right-color: #a60000;
      }

      a:link,
      a:visited {
        color: #333;

        strong {
          color: #a60000;
        }
      }

      a:hover {
        strong {
          color: #555;
        }
      }
    }

    &:last-child {
      .image {
        background: #3d80af;
      }

      .nubbin {
        border-bottom-color: #3d80af;
        border-right-color: #3d80af;
      }

      .icon {
        width: 90px;
        height: 90px;
        margin: -58px 0 0 -45px;

        img {
          width: 100%;
        }
      }

      a:link,
      a:visited {
        color: #333;

        strong {
          color: #3d80af;
        }
      }

      a:hover {
        strong {
          color: #555;
        }
      }
    }

    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      color: white;
      font-size: 3.6em;
      margin: -50px 0 0 -28px;
    }
  }
  
  p {
    font-size: .9em;
  }

  .image {
    background: #222;
    @include border-radius(5px);
    transition: transform 150ms ease-in-out;
    -webkit-transition: -webkit-transform 150ms ease-in-out;
    -moz-transition: -moz-transform 150ms ease-in-out;
    -ms-transition: -ms-transform 150ms ease-in-out;
    text-align: center;
    height: 140px;
    position: relative;

    &.middle {
      background: #c4630c;

      .icon {
        width: 60px;
        height: 60px;
        margin: -40px 0 0 -30px;

        img {
          width: 100%;
        }
      }

      .nubbin {
        border-bottom-color: #c4630c;
        border-right-color: #c4630c;
      }
    }

    .nubbin {
      position: absolute;
      bottom: -5px;
      left: 50%;
      margin-left: -10px;
      border: 10px solid #222;
      border-left-color: transparent;
      border-top-color: transparent;
      @include rotate(45deg);
    }
  }


  a:link,
  a:visited {
    color: #333;

    strong {
    color: #c4630c;
    }
  }

  a:hover {
    .image {
      transform: translate3d(0px, -5px, 0px);
      -webkit-transform: translate3d(0px, -5px, 0px);
      -moz-transform: translate3d(0px, -5px, 0px);
      -ms-transform: translate3d(0px, -5px, 0px);
    }

    strong {
      color: #555;
    }
  }

  h2 {
    margin-top: .3em;
    font-size: 2em;
    font-family: Patua One;
  }
}

#about-me {
  border-top: 2px dotted #dadada;
  padding-top: 4em;

  @include overflowfix;

  h2 {
    width: 86%;
    margin: 0 auto 1em auto;
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    font-family: Patua One;
  }

  .column {
    width: 86%;
    margin: 0 auto;
  }

  p {
    margin-bottom: 1.4em;
  }
}

#finale {
  @include overflowfix;
  text-align: left;
  margin-top: 4em;
  padding: 3em 0 2em;
  background: #222;
  position: relative;
  
  ul {
    margin-top: 1em;
    text-align: center;

    li {
      display: inline-block;
      margin: 0 10px;
    }

    a {
      display: block;
    }

    img {
      width: 40px;
    }
  }

  p {
    font-size: 1.1em;
    margin: 3.5em 0 0;
    color: #d1d1d1;
    font-family: Patua One;
    text-align: center;
  }
}

#social {
  margin: 2em 0 0 0;
  text-align: center;

  li {
    display: inline-block;
    width: 50px;
    margin: 0 10px;
  }
  img {
    display: block;
    width: 100%;
  }
}

#footer-logo {
  position: absolute;
  top: 2.5em;
  left: 50%;
  margin-left: -30px;
  width: 60px;
}

/*
                                                         
                                                         
                                                         
888d888 .d88b.  .d8888b  888  888 88888b.d88b.   .d88b.  
888P"  d8P  Y8b 88K      888  888 888 "888 "88b d8P  Y8b 
888    88888888 "Y8888b. 888  888 888  888  888 88888888 
888    Y8b.          X88 Y88b 888 888  888  888 Y8b.     
888     "Y8888   88888P'  "Y88888 888  888  888  "Y8888  
                                                         
                                                         
*/

#resume {
  @include overflowfix;
  margin: 0 auto;
  padding: 2em 0 0 0;

  h3, h4 {
    font-family: Patua One;
  }

  h4 {
    font-size: 1.6em;
    padding-bottom: .4em;
    margin-bottom: .5em;
    line-height: .9;
    font-weight: normal;
  }

  h3 {
    margin: 0 0 .6em;
    font-size: 2.3em;
  }

  li {
    position: relative;
  }

  .date {
    @include sans-serif;
    color: #777;
    display: block;
    text-transform: uppercase;
    font-size: .7em;
    margin-bottom: .2em;
  }
}

#back-to-home {
  clear: left;
  float: left;
  color: #888;
  border: 1px solid #999;
  padding: .6em 1.4em .6em 1em;
  margin: 2em 0 0 7%;
  @include border-radius(4px);

  &:hover {
    background: #555;
    color: #fff;
    border-color: #555;
  }
}

#work-experience,
#education {
  float: left;
  width: 100%;
  margin-bottom: 1.5em;

  li {
    margin-bottom: 2em;
  }

  strong  {
    font-weight: 200;
    line-height: 1.3;
    margin-bottom: .15em;
    display: block;
    font-size: 1.3em;
  }

  p {
    margin-top: .7em;
    line-height: 1.4;
    font-size: .9em;
  }
}

#left-column,
#center-column,
#right-column {
  width: 86%;
  margin: 0 auto;
}

#center-column,
#right-column {
  margin-top: 4em;

}

#left-column {
  p {
    @include serif;
  }
}

#skillset {
  font-size: 1.1em;

  li {
    line-height: 1.4;
    margin-bottom: 1em;
  }
}



/*
                              888          888      d8b 888 d8b 888             
                              888          888      Y8P 888 Y8P 888             
                              888          888          888     888             
888d888 .d88b.   8888b.   .d88888  8888b.  88888b.  888 888 888 888888 888  888 
888P"  d8P  Y8b     "88b d88" 888     "88b 888 "88b 888 888 888 888    888  888 
888    88888888 .d888888 888  888 .d888888 888  888 888 888 888 888    888  888 
888    Y8b.     888  888 Y88b 888 888  888 888 d88P 888 888 888 Y88b.  Y88b 888 
888     "Y8888  "Y888888  "Y88888 "Y888888 88888P"  888 888 888  "Y888  "Y88888 
                                                                            888 
                                                                       Y8b d88P 
                                                                        "Y88P"  
*/

.rdd-red {
  color: #a6001b;
}

.icon {
  @include readabilicons;
  @include aliasing;
}

#rdd-background {
  border-top: 10px solid #a6001b;

  h2 {
    line-height: 1.2;
  }

  ul {
    span {
      font-size: 1em;
      @include readabilityfont;
    }
  }
}

#thoughtful-design {
  background: #a6001b;
  color: white;
  padding-bottom: 0;

  h2 {
    margin-top: .5em;
  }

  .main-text {
    margin: 1.8em auto 4em;
    width: 85%;
  }
}

#rdd-feature-rundown {
  background: #890016;
  padding: 2.6em 0 2.4em;
  text-align: center;
  margin: 0 auto;
  font-size: .8em;

  img {
    width: 40px;
  }

  li {
    position: relative;
    display: inline-block;
    width: 30%;
    margin:0;
    color: #f8aeaf;
  }

  p {
    width: 70%;
    margin: .2em auto 0;
  }
}

.screens {
  width: 90%;
  margin: 1em auto 0;
  @include overflowfix;

  li {
    float: left;
    width: 20%;
    text-align: center;

    &.higher {
      margin-top: -10px;
    }

    &.highest {
      margin-top: -20px;
    }

    &.high {
      margin-top: -5px;
    }

    img {
      width: 90%;
    }
  }
}

#iconography {
  h2 {
    color: #a6001b;
    font-size: 2.6em;

    .icon {
      display: block;
      margin: 0 auto .2em;
    }
  }

  p {
    margin: 1.8em auto 3em;
  }

  li {
    text-align: center;
    width: 29%;
    margin-right: 2px;
    margin-bottom: 3px;
    padding: .4em 0 1em;
    @include box-sizing;
    color: #777;
    font-size: .8em;
    display: inline-block;

    .icon {
      font-size: 3em;
      display: block;
    }
  }
}

#typography {
  padding-bottom: 5em;
  background: #a6001b;
  position: relative;
  color: white;
  overflow: hidden;

  h2 {
    text-align: center;
  }

  .main-text {
    text-align: center;
    width: 90%;
    margin: 1.8em auto 3em;
  }
}

#landscape  {
  margin-left: -450px;
  width: 400px;
  top: 263px;
  display: none;
}

#portrait {
  display: block;
  margin: 3em auto 0;
  width: 280px;
}

#portrait-iphone {
  width: 120px;
  top: 345px;
  display: none;
  margin-left: 237px;
}

#rdd-ux {
  h2 {
    margin-top:1em;
    text-align: center;
  }
  
  .main-text {
    margin: 2em auto 1em;
    width: 90%;
    text-align: center;
  }

  .rdd-red {
    font-style: italic;
  }

  #ux-hero-video {
    width: 280px;
    margin: 0 auto;
    display: block;
  }

  .right {
    position: relative;
    width: 90%;
    margin: 0 auto;
  }
}

#ux-videos {
  text-align: center;
  margin: 0 auto;
  width: 90%;

  li {
    display: inline-block;
    width: 100%;
    margin-top: 2em;

    video {
      width: 90%;
      min-height: 195px;
      display: none;
    }

    &:first-child {
      margin-top: 0;
    }

    a:link,
    a:visited {
      position: relative;
      display: block;
    }

    strong {
      margin-top: .3em;
      color: white;
      display: block;
      font-size: 1.2em;
      @include transition(color, 150ms, ease-in-out);
    }

    a:hover {
      strong {
        color: #fb96a6;
      }

      .play-btn {
        background: #a6001b;
      }
    }

    .play-btn {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 45%;
      left: 50%;
      margin: -20px 0 0 -22px;
      @include border-radius(50%);
      border: 2px solid #fff;
    }

    .play-arrow {
      position: absolute;
      top: 50%;
      left: 50%;
      border: 6px solid #fff;
      margin: -6px 0 0 -8px;
      border-left-color: transparent;
      border-bottom-color: transparent;
      @include rotate(45deg);
    }

    img {
      width: 90%;
      @include border-radius(8px);
    }
  }
}

/* Videos ------- */

#rdd-video-player {
  margin: 0 auto;
  height: 0px;
  overflow: hidden;
  position: relative;
  @include transition(height, 200ms, ease-in-out);

  /* This should never get used because we replace inline for mobile */
  &.active {
    margin-bottom: 3em;
    height: 445px;
  }

  video {
    width: 90%;
    margin: 0 auto;
    display: none;
  }
}

#replay-video {
  color: white;
  position: absolute;
  top: 45%;
  left: 50%;
  margin-left: -70px;
  width: 100px;
  background: #333;
  background: rgba(0,0,0,0.8);
  border: 2px solid #000;
  padding: 10px 20px 14px 42px;
  text-align: center;
  @include border-radius(2em);
  @include readabilityfont;
  display: none;
  z-index: 9999;

  &:hover {
    border-color: #fff;
  }

  img {
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -42px;
    width: 18px;
  }
}

#rdd-videos {
  padding: 5em 0em 4em;
  background: #a6001b;
  @include overflowfix;

  h3 {
    color: white;
    font-size: 2em;
    margin-bottom: 1em;
  }
}

#rdd-love {
  text-align: center;
  padding: 3em 0 0;
}

#screen-holder {
  height: 920px;
  position: relative;
  overflow: hidden;

  h2 {
    width: 80%;
    margin: .4em auto .7em;
  }

  blockquote {
    font-size: 1.4em;
    width: 85%;
    margin: 0 auto 1.5em;
    line-height: 1.2;

    span {
      margin-top: .5em;
      font-size: .4em;
      color: #777;
      display: block;
      text-align: right;
      text-transform: uppercase;

      a:link,
      a:visited {
        color: #a6001b;
      }

      a:hover {
        color: #555;
      }
    }
  }
}

#iphone {
  width: 280px;
}

#ipad {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 800px;
  z-index: 2;
  display: none;
  margin-left: 110px;
}

#featured-badge {
  display: inline-block;
  width: 70%;
  margin: 20px auto 0;
}

#dl-rdd {
  display: inline-block;
  margin: 40px auto;
}


/*
                         888                             
                         888                             
                         888                             
888d888 .d88b.  888  888 888888 .d88b.  888d888 .d8888b  
888P"  d8P  Y8b 888  888 888   d8P  Y8b 888P"   88K      
888    88888888 888  888 888   88888888 888     "Y8888b. 
888    Y8b.     Y88b 888 Y88b. Y8b.     888          X88 
888     "Y8888   "Y88888  "Y888 "Y8888  888      88888P' 
                                                         
*/

#reuters-intro {
  ul {
    span {
      font-size: 1.3em;
    }
  }
}

.data {
  position: absolute;
  border: 2px solid #5b3a0e;
  width: 30px;
  height: 30px;
  margin-left: -15px;
  @include border-radius(50%);
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  @include border-radius(50%);
}

#circle1 {
  width: 400px;
  height: 400px;
  margin-left: -200px;
  margin-top: -200px;
}

#data01,
#data11,
#data21,
#data31 {
  top: 0px;
  left: 50%;
}

#data02,
#data12,
#data22,
#data32 {
  top: 10%;
  left: 76%;
}

#data03,
#data13,
#data23,
#data33 {
  top: 30%;
  left: 96%;
}

#data04,
#data14,
#data24,
#data34 {
  top: 58%;
  left: 95%;
}

#data05,
#data15,
#data25,
#data35 {
  top: 87%;
  left: 77%;
}

#data06,
#data16,
#data26,
#data36 {
  top: 96%;
  left: 47%;
}

#data07,
#data17,
#data27,
#data37 {
  top: 82%;
  left: 21%;
}

#data08,
#data18,
#data28,
#data38 {
  top: 58%;
  left: 2%;
}

#data09,
#data19,
#data29,
#data39 {
  top: 29%;
  left: 5%;
}

#data10,
#data20,
#data30,
#data40 {
  top: 7%;
  left: 20%;
}

#circle2 {
  width: 650px;
  height: 650px;
  margin-left: -325px;
  margin-top: -325px;
  transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);

  .data {
    width: 26px;
    height: 26px;
    margin-left: -13px;
  }
}

#circle3 {
  width: 900px;
  height: 900px;
  margin-left: -450px;
  margin-top: -450px;
  transform: rotate(25deg);
  -webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  -ms-transform: rotate(25deg);

  .data {
    width: 20px;
    height: 20px;
    margin-left: -10px;
  }
}

#circle4 {
  width: 1200px;
  height: 1200px;
  margin-left: -600px;
  margin-top: -600px;
  @include transform(rotate, 45deg, 200ms);

  .data {
    width: 12px;
    height: 12px;
    margin-left: -6px;
  }
}

#data-strategy {
  background: #e8892d url(../images/reutersbg.png) top left repeat;
  padding-bottom: 3em;

  h2, h3 {
    color: #5b3001;
  }

  img {
    width: 100%;
  }

  h2 {
    width: 100%;
  }

  .main-text {
    margin: 1.5em auto 0em;
  }
}

#feature-rundown {
  width: 90%;
  margin: 0 auto;

  li {
    position: relative;
    padding: 2em 0;
    text-align: center;
    @include box-sizing;

    img {
      width: 70%;
      display: inline-block;
      margin: 0 auto;
    }

    h3 {
      margin-top: .5em;
      font-size: 2em;
    }

    p {
      width: 100%;
      font-size: 1em;
      text-align: center;
      margin-top: 1em;
    }

    &.even {
      text-align:center;

      img {
        left: auto;
        right: 0;
      }
    
      p {
        text-align:center;
      }
    }
  }
}

#reusable-components {
  border-bottom: 2px dotted #dadada;
  padding-bottom: 1em;

  img {
    width: 90%;
    margin: 0 auto;
  }

  h3 {
    font-size: 1.4em;
    font-weight: bold;
    margin: 3.2em 0 1.2em;
    text-transform: uppercase;
  }

  .main-text {
    margin: 1.5em auto 2em;
  }

  ul {
    margin-top: 5em;
  }
  
  li {
    width: 90%;
    margin: 0 auto 4em;

    strong {
      display: block;
      margin: .4em 0;
      font-size: 1.8em;
      @include reutersfont;
    }

    p {
      font-size: 1em;
    }

    img {
      width: 90px;
    }
  }
}

#proven-design {
  img {
    width: 130px;
    margin: 0 auto 1.5em;
  }

  .main-text {
    width: 80%;
    margin: 1.5em auto 3em;
  }

  #web {
    width: 90%;
    margin: 0 auto;
  }
}




/*
                          .d8888b.   .d8888b.  
                         d88P  Y88b d88P  Y88b 
                         888    888 888    888 
 8888b.  888d888 .d8888b Y88b. d888 888    888 
    "88b 888P"  d88P"     "Y888P888 888    888 
.d888888 888    888             888 888    888 
888  888 888    Y88b.    Y88b  d88P Y88b  d88P 
"Y888888 888     "Y8888P  "Y8888P"   "Y8888P"  
                                               
*/

#arc90-background {
  border-top: 10px solid #3d80af;

  .main-text {
    margin-top: 2.2em;
  }

  ul {
    span {
      font-size: 1.1em;
      @include arc90font;
    }
  }
}

#me {
  background: #444;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  &.hidden {
    z-index: 0;
  }

  #message {
    position: absolute;
    top: 32%;
    left: 50%;
    margin-left: -350px;
    width: 700px;
    text-align: center;

    h2 {
      color: white;
      font-size: 2em;
      width: 100%;
      float: left;
      margin-top: .4em;
      @include arc90font;
    }

    p {
      width: 100%;
      margin-top: 2em;
      color: white;
      font-size: 1.2em;
      color: #a1a1a1;
      @include sans-serif;
    }
  }
}

#bg-portrait {
  display: inline-block;
  width: 120px;
  height: 120px;
  border: 6px solid #5b8aab;
  @include border-radius(50%);
}

#arrow {
  position: absolute;
  top: 12%;
  left: 100%;
  width:60px;
  border: none;
}

#how-done {
  position: absolute;
  top: 15%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  line-height: 1.1;
  color: #777;
  text-align: center;
  font-family: Waiting for the Sunrise;
}

#arc-logo {
  width: 100px;
  display: block;
}

#arc {
  width: 80px;
  display: block;
  margin: 0 auto;
}

#arc-details {
  background: #316c96;
  color: white;

  p {
    margin: 2.2em auto 1em;
  }

  #feature-rundown {
    h3 {
      color: #91cef1;
    }

    li {
      padding-top: 1em;
    }
  }
}

#peek-through {
  width: 100%;
  height: 500px;
  padding: 0;
}

#faces-wrapper {
  width: 320px;
  margin: 0 auto;
}

#people {
  overflow: hidden;

  p {
    margin: 0 auto;
  }

  ul {
    text-align: center;
    width: 814px;
    margin: 3em 0 3em -247px;
  }
  
  li {
    margin: 0 5px;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border: 2px solid #c2d8e7;
    @include border-radius(50%);
    display: inline-block;
    
    img {
      float:left;
      width: 100%;
      border: 2px solid #fff;
      @include border-radius(50%);
      @include box-sizing;
    }
  }
}

#narratives {
  .main-text {
    margin: 2.2em auto 2em;
  }

  ul {
    width: 90%;
    margin: 4em auto 0em;
    @include overflowfix;

    li {
      float: left;
      width: 100%;
      margin-top: 1em;
      margin-bottom: 20px;

      img {
        width: 100%;
      }

      &:first-child {
        margin-top: 0;
      }
    }
  }
}

#homepage {
  width: 90%;
  margin: 4em auto 0;
  display: block;
}


@media screen and (min-width: 460px) {
  #love-badges {
    width: 365px;
    margin: 0 auto;
  }

  #featured-badge {
    float: left;
    width: 200px;
  }

  #dl-rdd {
    float: left;
    margin:20px 0px 80px 30px;
  }
}

@media screen and (min-width: 748px) {
  .prevent-wrap {
    display: inline;
  }

  .header {
    height: 340px;

    &.arc90 {
      background: #0f1d26 url(../images/arc90_header_image.jpg) top center no-repeat;
      background-size: 100%;
    }
  }

  .wrapper,
  #faces-wrapper {
    width: 688px;
    margin: 0 auto;
  }

  #intro {
    img {
      width: 300px;
      margin: 100px auto 40px;
    }

    .main-text {
      font-size: 1.4em;
    }
  }

  #jumps {
    margin: 3em auto 3em;
    width: 100%;

    li {
      width: 216px;

      &:first-child {
        margin-right: 20px;
      }

      &:last-child {
        margin-left: 20px;
      }
    }
  
    h2 {
      margin-top: .6em;
    }
  }

  #about-me {
    padding: 6em 0 1em;
    @include overflowfix;

    h2 {
      margin-bottom: 1em;
      font-size: 3em;
      text-align: center;
      font-family: Patua One;
    }

    .column {
      float: left;
      width: 48%;

      &.left {
        margin-right: 4%;
      }
    }

    p {
      margin-bottom: 1.4em;
    }
  }

  #footer-logo {
    position: absolute;
    left: 50%;
    float: none;
    top: 2em;
    margin-left: -30px;
    width: 60px;
  }

  #back-to-home {
    margin: 2em 0 0 0;
  }

  #skillset {
    font-size: .9em;
  }

  #title-card {
    top: 38%;
  }

  section {
    padding: 7em 0 6em;

    h2 {
      font-size: 4em;
    }

    .main-text {
      width: 80%;
      font-size: 1.2em;
    }
  }

  #reuters-intro,
  #arc90-background,
  #rdd-background {
    ul {
      li {
        display: inline-block;
        margin: -1em 0 2em;
        padding-left:75px;
        width: auto;
        text-align: left;
        font-size: 1.1em;

        &:first-child {
          margin-right: 2em;

          img {
            top: -14px;
            width: 64px;
          }
        }
      }

      img {
        width: 60px;
        position: absolute;
      }
    }
  }

  #reuters-intro {
    ul li:first-child img {
      top: -8px;
    }
  }

  #arc90-background {
    h2, h3 {
      width: 70%;
    }
  }

  #thoughtful-design {
    padding-bottom: 7em;
  }

  #rdd-feature-rundown {
    @include border-radius(10px);
    width: 87%;
    padding: 2em 0;
    margin: 0 auto;
  }

  #iconography {
    h2 {
      font-size: 4em;

      .icon {
        display: inline;
        margin-right: 0.2em;
      }
    }

    p {
      width: 80%;
    }

    li {
      width: 14%;
      padding: .6em 0 1.6em;

      .icon {
        font-size: 4em;
      }
    }
  }

  #arc-details,
  #data-strategy {
    p {
      width: 82%;
    }
  }

  #typography {
    height: 1200px;
    padding: 6em 0 5em;

    h2 {
      text-align: left;
      margin: 0 30px;
    }

    img {
      position: absolute;
      left: 50%;
    }

    .main-text {
      text-align: left;
      width: 80%;
      margin: 1.8em 30px 3em;
    }
  }

  #landscape  {
    margin-left: -900px;
    width: 800px;
    top: 536px;
    display: block;
  }

  #portrait {
    top: 440px;
    margin-left: -80px;
    height: 800px;
    width: auto;
  }

  #portrait-iphone {
    width: 240px;
    top: 700px;
    display: block;
    margin-left: 474px;
  }

  #rdd-ux {
    padding: 6em 0;

    h2, .main-text {
      text-align: left;
    }

    h2 {
      margin-top: 0;
    }

    .main-text {
      width: 100%;
    }

    #ux-hero-video {
      float: left;
      width: 280px;
      margin: 0 0 0 6%;
    }

    .right {
      position: relative;
      width: 42%;
      float: left;
      margin: 60px 0 0 8%;
    }
  }

  #ux-videos {
    li {
      width: 33.3%;
      margin-top: 0;
    }

    .play-btn {
      top: 36%;
    }
  }

  #rdd-video-player {
    width: 90%;
    @include border-radius(10px);
      
    &.active {
      height: 445px; // iPad
    }
    
    video {
      @include border-radius(3px);
      width: 96%;
      height: 445px; // iPad
      margin: 0 auto;
    }
  }

  #rdd-love {
    text-align: right;
    padding: 6em 0;
  }

  #screen-holder {
    height: 560px;

    h2 {
      width: 44%;
      margin: 1.3em 0 .7em 0%;
    }

    blockquote {
      font-size: 1.6em;
      width: 40%;
      margin: 0 0 1.5em 4%;
    }
  }

  #iphone {
    position: absolute;
    top: 70px;
    width: 230px;
    left: 50%;
    z-index: 3;
    margin-left: 0px;
  }

  #ipad {
    position: absolute;
    top: 0px;
    left: 45%;
    width: 800px;
    z-index: 2;
    display: block;
    margin-left: 110px;
  }

  #love-badges {
    width: auto;
    margin: 0;
  }

  #featured-badge {
    float: left;
    display: inline-block;
    width: 120px;
    margin-top: .5em;
    margin-left: 20px;
  }

  #dl-rdd {
    float: left;
    margin: .8em 20px 0 30px;
  }

  #contact-me {
    padding: 4em 0 5em;

    li {
      width: 45%;
      display: inline-block;
      padding-left: 5%;
      @include box-sizing;
      text-align: left;
      margin: 0;

      &:first-child {
        padding: 0 5% 0 0;
        text-align: right;
        padding-top: none;
        border-bottom: none;
      }
    }

    &.arc90 li:first-child {
      border-right: 1px solid #c5d7e3;
    }

    &.reuters li:first-child {
      border-right: 1px solid #e3d4c5;
    }

    &.readability li:first-child {
      border-right: 1px solid #e4c7cb;
    }
  }

  footer {
    padding: 8em 0 0;
    height: 200px;

    h3 {
      font-size: 2.8em;
    }
  }

  #reuters-intro {
    h2 {
      width: 90%;
    }
  }

  #data-strategy {
    padding-bottom: 9em;
  }

  #feature-rundown {
    width: 688px;
    margin: 0 auto;

    li {
      padding: 1.5em 0 .5em 35%;
      text-align: left;
      margin-top: 5em;

      img {
        width: 30%;
        position: absolute;
        top: 0;
        left: 0;
      }

      h3 {
        margin-top: 0;
        font-size: 2.5em;
      }

      p {
        font-size: 1.1em;
        text-align: left;
      }

      &.even {
        text-align:right;
        padding-left: 0;
        padding-right: 35%;
      
        p {
          text-align:right;
        }
      }
    }
  }

  #reusable-components {  
    padding-bottom: 4em;

    img {
      width: 100%;
    }

    li {
      float: left;
      width: 44%;
      margin: 0 3% 4em 3%;

      strong {
        margin: .6em 0;
        font-size: 1.8em;
      }

      img {
        width: 70px;
      }
    }
  }

  #proven-design {
    .main-text {
      width: 64%;
    }

    #web {
      width: 100%;
    }
  }

  #people {
    ul {
      width: 1518px;
      margin: 4em 0 4em -415px;
    }
    
    li {
      width: 120px;
      height: 120px;
      border-width: 4px;

      img {
        border-width: 4px;
      }
    }
  }

  #me {
    #message {
      top: 28%;

      h2 {
        font-size: 4em;
        margin-top: .2em;
      }

      p {
        margin-top: 3em;
        font-size: 1.4em;
      }
    }
  }

  #bg-portrait {
    width: 160px;
    height: 160px;
    border-width: 8px;
  }

  #arrow {
    top: 21%;
    left: 52%;
    width:120px;
  }

  #how-done {
    top: 26%;
    left: 65%;
    margin-left: 0;
    text-align: left;
    width: 300px;
    font-size: 1.7em;
  }

  #narratives {
    ul {
      width: 95%;
      margin: 8em auto 0em;

      li {
        width: 50%;
        margin-bottom: 20px;
        margin-top: 0;

        img {
          width: 110%;
          margin-left: -5%;
        }

        &:first-child {
          margin-top: -30px;
        }
      }
    }
  }

  #homepage {
    width: 100%;
  }

  #left-column,
  #right-column {
    float: left;
    margin: 0;
  }

  #left-column {
    width: 70%;
    margin-right: 5%;
  }

  #right-column {
    width: 25%;
    margin-top: 0;
  }

  #back-to-home {
    margin: 0 0 2em 0;
  }

  #finale {
    p {
      margin-top: 3em;
    }
  }
}

@media screen and (min-width: 1002px) {
  .wrapper {
    width: 960px;
  }

  section {
    .main-text {
      width: 60%;
    }
  }

  #michael-brandon {
    h3 {
      display: block;
      font-weight: bold;
      font-size: 3em;
      margin: 1.4em 0 .6em;
      text-align: center;
      font-family: Patua One;
      text-transform: uppercase;
    }

    .main-text {
      width: 600px;
      margin: 0 auto;
      text-align: center;
    }

    .wrapper {
      width: 800px;
    }
  }

  #typography {
    height: 1200px;
    padding: 7em 0 6em;
  }

  #rdd-ux {
    padding: 7em 0;

    #ux-hero-video {
      float: left;
      width: 320px;
      margin: 0 0 0 8%;
    }

    .right {
      position: relative;
      width: 45%;
      float: left;
      margin: 120px 0 0 6%;
    }
  }

  section {
    h2 {
      font-size: 5em;
    }
  }

  #iconography {
    h2 {
      font-size: 5em;
    }

    li {
      width: 12%;
    }
  }

  #rdd-love {
    padding: 7em 0;
  }

  #arc90-background {
    h2, h3 {
      width: 60%;
    }
  }

  #screen-holder {
    height: 560px;

    h2 {
      width: 45%;
      margin: .8em 0 .7em;
    }

    blockquote {
      font-size: 1.6em;
      width: 40%;
      margin: 0 0 1.5em 5%;
    }
  }

  #iphone {
    position: absolute;
    top: 70px;
    width: 230px;
    left: 50%;
    z-index: 3;
    margin-left: 0px;
  }

  #ipad {
    position: absolute;
    top: 0px;
    left: 45%;
    width: 800px;
    z-index: 2;
    display: block;
    margin-left: 110px;
  }

  #featured-badge {
    margin-left: 66px;
    width: 200px;
  }

  #feature-rundown {
    width: 768px;

    li {
      padding: 2em 0 1em 35%;
    }
  }

  #dl-rdd {
    margin-top: 1.6em;
  }

  #reusable-components {
    li {
      float: none;
      display: inline-block;
      width: 40%;
    }
  }

  #arrow {
    left: 55%;
  }

  #how-done {
    top: 28%;
  }

  #rdd-video-player { 
    &.active {
      height: 620px;
    }
 
    video {
      height: 620px; // iPad
    }
  }

  #arc90-background {
    .main-text {
      width: 70%;
    }
  }

  #arc-details,
  #data-strategy {
    p {
      width: 76%;
    }
  }
}

@media screen and (min-width: 1202px) {
  #reusable-components {  
    li {
      font-size: 1.2em;
    }
  }
  
  section {
    padding: 9em 0 8em;

    h2 {
      font-size: 5.4em;
    }

    .main-text {
      width: 90%;
      font-size: 1.4em;
    }
  }

  #rdd-background,
  #reuters-intro {
    .main-text {
      width: 82%;
    }
  }

  #arc90-background,
  #people,
  #narratives {
    .main-text {
      width: 76%;
    }
  }

  #reuters-intro,
  #arc90-background,
  #rdd-background {
    ul {
      li {
        font-size: 1.3em;
      }
    }
  }

  #rdd-feature-rundown {
    p {
      font-size: 1.3em;
    }
  }

  #rdd-ux {
    .right {
      margin-top: 88px;
    }
  }

  .divider {
    margin: 3em 0 4.2em;
  }
}
