@import "reset";
@import "mixins";

html,
body {
  color: #333;
  font-size: 1em;
  background-color: #eaeaea;
  font-family: Trebuchet MS, Lucida Grande, sans-serif;
}

a:link,
a:visited {
  color: #a6001b;
  text-decoration: none;
  @include transition(color, 150ms, ease-in-out);
}

a:hover {
  color: #555;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
}

h1, h2, h3, h4 {
  @include aliasing;
}

p, li {
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

li {
  list-style: none;
}

em {
  font-style: italic;
}

/*

         888          888               888 
         888          888               888 
         888          888               888 
 .d88b.  888  .d88b.  88888b.   8888b.  888 
d88P"88b 888 d88""88b 888 "88b     "88b 888 
888  888 888 888  888 888  888 .d888888 888 
Y88b 888 888 Y88..88P 888 d88P 888  888 888 
 "Y88888 888  "Y88P"  88888P"  "Y888888 888 
     888                                    
Y8b d88P                                    
 "Y88P"                                     
                                                               
*/

#container {
  position: relative;
  z-index: 3;

  &.readability {
    background: #fdfdfd;
    font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;

    h1, h2, h3, h4 {
      font-family: Arbutus Slab;
      letter-spacing: -0.04em;
      line-height: 1.2;
    }
  }

  &.reuters {
    background-color: #eaeaea;

    h1, h2, h3, h4 {
      line-height: 1;
      font-family: Amaranth;
    }
  }

  &.arc90 {
    h1, h2, h3, h4 {
      font-family: Kite One;
    }

    .letter-spacing-fix {
      display: inline-block;
      margin-right: -0.1em;
    }
  }
}

section {
  @include overflowfix;
  padding: 7em 0 6em;
  text-align: center;

  h2 {
    font-size: 5em;
  }

  .main-text {
    width: 70%;
    font-size: 1.2em;
  }

  &.align-left {
    h2, p {
      text-align: left;
    }

    p {
      width: 80%;
      margin: .5em 0 2em;
    }
  }

  &.last {
    margin-bottom: 300px;
  }
}

/* Arc90 specific */
.arc90 section {
  background-color: #eaeaea;

  &.no-bg {
    background-color: transparent;
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  padding: 8em 0 0;
  height: 200px;
  text-align: center;

  h3 {
    color: white;
    font-size: 3em;
  }

  a:link,
  a:visited {
    display: inline-block;
    margin-top: 1em;
    @include border-radius(4em);
    padding: .4em 1.5em;
    font-size: 1.2em;
    border: 2px solid;
  }

  &.arc90 {
    background: #34424c url(../images/arc90_preview.jpg) bottom center no-repeat;

    h3 {
      font-family: Kite One;
    }

    a:link,
    a:visited {
      color: #629fcb;
      border-color: #629fcb;
    }

    a:hover {
      color: #fff;
      border-color: #fff;
    }
  }

  &.readability {
    background: #820015;
    padding-top: 6em;
    height: 230px;

    h3 {
      font-family: Arbutus Slab;
      letter-spacing: -0.04em;
      margin-top: .1em;
    }

    .icon {
      color: white;
      font-size: 2.4em;
    }

    a:link,
    a:visited {
      color: #d46a6a;
      border-color: #d46a6a;
    }

    a:hover {
      color: #fff;
      border-color: #fff;
    } 
  }

  &.reuters {
    background: #37220b;
    overflow: hidden;

    h3 {
      font-family: Amaranth;
    }

    h3, a {
      z-index: 4;
      position: relative;
    }

    a:link,
    a:visited {
      color: #de8024;
      border-color: #de8024;
    }

    a:hover {
      color: #fff;
      border-color: #fff;
    } 
  }
}

/* Intros --*/
#reuters-intro,
#arc90-background,
#rdd-background {
  border-top: 10px solid #de8024;

  .main-text {
    margin: 2em auto 0;
  }

  ul {
    float: left;
    width: 100%;

    li {
      position: relative;
      display: inline-block;
      margin: -1em 0 4em;
      padding-left: 50px;
      width: 17%;
      text-align: left;
    }

    span {
      margin-top: .5em;
      font-size: .9em;
      display: block;
      text-transform: uppercase;
      font-weight: bold;
    }

    img {
      display: inline-block;
      width: 40px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.divider {
  text-align: center;
  display: block;
  margin: 3em 0 4em;

  span {
    @include border-radius(50%);
    border: 2px solid;
    width: 6px;
    height: 6px;
    margin: 0 10px;
    display: inline-block;
  }

  &.arc span {
    border-color: #a9c1d1;
    height: 0px;
    width: 2px;
    @include border-radius(0);
  }

  &.reuters span {
    border-color: #d1baa9;
  }

  &.readability span {
    border-color: #d1a9af;
    background: #d1a9af;
  }
}

/* Header ---*/
.header {
  padding: 0;
  height: 440px;
  position: relative;
  color: white;
  text-align: center;
  overflow: hidden;

  .icon {
    font-size: 2em;
  }

  img {
    width: 60px;
  }

  h1 {
    font-size: 2.4em;
  }

  &.readability {
    background: #820015;
  }

  &.reuters {
    h1 {
      margin-top: .2em;
    }

    background: #37220b url(../images/reuters_bg.png) top left repeat;
  }

  &.arc90 {
    background: #0f1d26 url(../images/arc90_header_image.jpg) top center no-repeat;
    background-size: 100%;

    #title-card {
      width: 140px;
      margin-left: -70px;
    }
  }
}

#title-card {
  position: absolute;
  top: 38%;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  text-align: center;

  img {
    display: inline-block;
  }
}

#contact-me {
  padding: 4em 0 5em;
  font-size: 1.2em;

  li {
    width: 45%;
    display: inline-block;
    padding-left: 5%;
    @include box-sizing;
    text-align: left;

    h4 {
      font-size: 1.8em;
    }

    &:first-child {
      padding-left: 0%;
      padding-right: 5%;
      text-align: right;
      border-right: 1px solid #d4d4d4;
    }
  }

  &.arc90 {
    background: #dee6ec;
    border-top: 1px solid #c5d7e3;
    
    a:link,
    a:visited {
      color: #3d80af;
    }

    a:hover {
      color: #444;
    }
  }

  &.reuters {
    background: #efe5db;
    border-top: 1px solid #e3d4c5;

    a:link,
    a:visited {
      color: #de8024;
    }

    a:hover {
      color: #444;
    }
  }

  &.readability {
    background: #efdbde;
    border-top: 1px solid #e4c7cb;

    a:link,
    a:visited {
      color: #a6001b;
    }

    a:hover {
      color: #444;
    }
  }
}

/*

888                                                                          
888                                                                          
888                                                                          
88888b.   .d88b.  88888b.d88b.   .d88b.  88888b.   8888b.   .d88b.   .d88b.  
888 "88b d88""88b 888 "888 "88b d8P  Y8b 888 "88b     "88b d88P"88b d8P  Y8b 
888  888 888  888 888  888  888 88888888 888  888 .d888888 888  888 88888888 
888  888 Y88..88P 888  888  888 Y8b.     888 d88P 888  888 Y88b 888 Y8b.     
888  888  "Y88P"  888  888  888  "Y8888  88888P"  "Y888888  "Y88888  "Y8888  
                                         888                    888          
                                         888               Y8b d88P          
                                         888                "Y88P"            
                                                                                          
*/

#homepage-intro {
  // background: #903d99;
  position: relative;
  font-family: Trebuchet MS, Lucida Grande, sans-serif;
  width: 100%;
  padding: 2em 0;
}

// #title-card {
//   text-align: left;

//   img {
//     width: 50px;
//     display: inline-block;
//     display: none;
//   }

//   h1 {
//     font-weight: normal;
//     font-size: 2em;
//     color: 903d99;
//     border-bottom: 1px solid #dadada;
//     padding: .2em 0 .3em;
//     font-family: Sue Ellen Francisco;
//   }

//   h2 {
//     font-size: .8em;
//     color: #2f0635;
//     display: none;
//     text-transform: uppercase;
//   }
// }

#selected-work {
  padding: 4em 0 5em;
  @include overflowfix;

  h3 {
    font-family: Sue Ellen Francisco;
    font-size: 2em;
    text-align: center;
    margin-bottom: 1em;
  }

  ul {
    width: 76%;
    margin: 0 auto;
  }

  a:link,
  a:visited {
    float: left;
    width: 29%;
    margin: 0 2%;
    height: 50px;
    padding: 3em 0;
    text-align: center;
    background: #f1f1f1;
    border-right: 1px solid #dadada;
    border-bottom: 1px solid #dadada;

    .icon {
      font-size: 2.4em;
      line-height: 1.1;
    }

    img {
      width: 120px;
    }
  }
}

#about-me {
  padding: 4em 0;
  @include overflowfix;

  h3 {
    font-family: Sue Ellen Francisco;
    font-size: 2em;
    text-align: center;
    margin-bottom: 1em;
  }

  p {
    font-family: Trebuchet MS, Lucida Grande, sans-serif;
    width: 76%;
    margin: 0 auto;
    font-size: 1.2em;
    margin-bottom: 1em;
  }
}

/*
                              888          888      d8b 888 d8b 888             
                              888          888      Y8P 888 Y8P 888             
                              888          888          888     888             
888d888 .d88b.   8888b.   .d88888  8888b.  88888b.  888 888 888 888888 888  888 
888P"  d8P  Y8b     "88b d88" 888     "88b 888 "88b 888 888 888 888    888  888 
888    88888888 .d888888 888  888 .d888888 888  888 888 888 888 888    888  888 
888    Y8b.     888  888 Y88b 888 888  888 888 d88P 888 888 888 Y88b.  Y88b 888 
888     "Y8888  "Y888888  "Y88888 "Y888888 88888P"  888 888 888  "Y888  "Y88888 
                                                                            888 
                                                                       Y8b d88P 
                                                                        "Y88P"  
*/

.rdd-red {
  color: #a6001b;
}

.icon {
  @include readabilicons;
  @include aliasing;
}

#rdd-background {
  border-top: 10px solid #a6001b;

  h2 {
    line-height: 1.2;
  }
}

#thoughtful-design {
  background: #a6001b;
  color: white;

  h2 {
    margin-top: .8em;
  }

  .main-text {
    margin: 1.8em auto 3em;
    width: 85%;
  }
}

#rdd-feature-rundown {
  @include border-radius(10px);
  background: #890016;
  padding: 3em 0;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  font-size: .8em;

  img {
    width: 40px;
  }

  li {
    position: relative;
    display: inline-block;
    width: 30%;
    margin:0;
    color: #f8aeaf;
  }

  p {
    width: 70%;
    margin: 0 auto;
  }
}

.screens {
  @include overflowfix;
  margin-top: 1em;

  li {
    float: left;
    width: 20%;
    text-align: center;

    &.higher {
      margin-top: -10px;
    }

    &.highest {
      margin-top: -20px;
    }

    &.high {
      margin-top: -5px;
    }

    img {
      width: 90%;
    }
  }
}

#iconography {
  h2 {
    color: #a6001b;

    .icon {
      margin-right: 0.2em;
    }
  }

  p {
    margin: 1.8em auto 3em;
  }

  li {
    text-align: center;
    width: 14%;
    float: left;
    background: #f1f1f1;
    margin-right: 2px;
    margin-bottom: 3px;
    padding: .8em 0 2em;
    @include box-sizing;
    color: #777;
    font-size: .8em;

    .icon {
      font-size: 4em;
      display: block;
    }
  }
}

#typography {
  background: #a6001b;
  position: relative;
  color: white;
  height: 1130px;
  overflow: hidden;

  img {
    position: absolute;
    left: 50%;
  }

  .main-text {
    margin: 1.8em 0 3em;
  }
}

#landscape  {
  margin-left: -950px;
  width: 800px;
  top: 526px;
}

#portrait {
  top: 430px;
  margin-left: -130px;
  height: 800px;
}

#portrait-iphone {
  width: 240px;
  top: 690px;
  margin-left: 424px;
}

#rdd-ux {
  .main-text {
    margin: 2em 0 3em;
  }

  #ux-hero-video {
    float: left;
    width: 340px;
  }

  .right {
    position: relative;
    width: 50%;
    float: left;
    margin-left: 10%;
    margin-top: 70px;
  }
}

#rdd-love {
  border-top: 1px solid #dadada;

  ul {
    float: left; 
    width: 80%;
  }

  li {
    display: inline-block;
    width: 114px;
    position: relative;
    padding-left: 50px;

    &:first-child {
      margin-right: 20px;
    }

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 40px;
    }

    span {
      display: block;
      margin-top: .3em;
      font-size: 1.2em;
    }

    &:first-child {
      img {
        width: 35px;
        top: -5px;
      }
    }
  }
}

#screen-holder {
  height: 540px;
  margin-top: 50px;
  position: relative;
  padding-top: 80px;

  blockquote {
    font-size: 2em;
    width: 30%;
    margin-bottom: 2em;
    line-height: 1.2;

    span {
      margin-top: .5em;
      font-size: .5em;
      color: #999;
      display: block;
      text-align: right;
      text-transform: uppercase;

      a:link,
      a:visited {
        color: #a6001b;
      }

      a:hover {
        color: #555;
      }
    }
  }
}

#iphone {
  position: absolute;
  top: 70px;
  width: 230px;
  left: 50%;
  z-index: 3;
  margin-left: -100px;
}

#ipad {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 800px;
  z-index: 2;
  margin-left: 10px;
}

#featured-badge,
#featured-news {
  float:left;
  display: inline-block;
  width: 240px;
  margin: 0 20px;
}

#featured-badge {
  margin-left: 130px;
}

#dl-rdd {
  float: left;
  margin:30px 20px 0 20px;
}


/* Videos ------- */

#rdd-videos {
  text-align: left;
  position: relative;
  z-index: 2;

  .video-icon {
    background: #78201f;
    cursor: pointer;
    background: rgba(120,32,31,0.6);

    &:hover {
      background: #78201f;
      background: rgba(120,32,31,0.9);
    }
  }

  li {
    display: inline-block;
    width: 30%;
    overflow: hidden;
    position: relative;

    .interaction-video {
      display: block;
      position: relative;
      overflow: hidden;
    }

    img, video {
      width: 100%;
      position: relative;
      z-index: 0;
    }

    .label {
      font-size: .9em;
      margin-top: .3em;
      display: block;
      text-align: center;
    }
  }
}

.video-icon {
  position: absolute;
  top: 37%;
  left: 50%;
  z-index: 1;
  width: 30px;
  height: 30px;
  margin: -16px 0 0 -16px;
  border: 2px solid white;
  @include border-radius(50px);
  @include transition(background, 150ms, ease-in-out);

  .arrow-icon {
    border-top: 5px solid #fff;
    border-right: 5px solid #fff;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    display: block;
    position: absolute;
    top: 10px;
    left: 8px;
    @include rotate(45deg);
  }
}

/*
                         888                             
                         888                             
                         888                             
888d888 .d88b.  888  888 888888 .d88b.  888d888 .d8888b  
888P"  d8P  Y8b 888  888 888   d8P  Y8b 888P"   88K      
888    88888888 888  888 888   88888888 888     "Y8888b. 
888    Y8b.     Y88b 888 Y88b. Y8b.     888          X88 
888     "Y8888   "Y88888  "Y888 "Y8888  888      88888P' 
                                                         
*/

.data {
  position: absolute;
  border: 2px solid #8c5825;
  width: 30px;
  height: 30px;
  margin-left: -15px;
  @include border-radius(50%);
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  @include border-radius(50%);
}

#circle1 {
  width: 400px;
  height: 400px;
  margin-left: -200px;
  margin-top: -200px;
}

#data01,
#data11,
#data21,
#data31 {
  top: 0px;
  left: 50%;
}

#data02,
#data12,
#data22,
#data32 {
  top: 10%;
  left: 76%;
}

#data03,
#data13,
#data23,
#data33 {
  top: 30%;
  left: 96%;
}

#data04,
#data14,
#data24,
#data34 {
  top: 58%;
  left: 95%;
}

#data05,
#data15,
#data25,
#data35 {
  top: 87%;
  left: 77%;
}

#data06,
#data16,
#data26,
#data36 {
  top: 96%;
  left: 47%;
}

#data07,
#data17,
#data27,
#data37 {
  top: 82%;
  left: 21%;
}

#data08,
#data18,
#data28,
#data38 {
  top: 58%;
  left: 2%;
}

#data09,
#data19,
#data29,
#data39 {
  top: 29%;
  left: 5%;
}

#data10,
#data20,
#data30,
#data40 {
  top: 7%;
  left: 20%;
}

#circle2 {
  width: 650px;
  height: 650px;
  margin-left: -325px;
  margin-top: -325px;
  transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);

  .data {
    width: 26px;
    height: 26px;
    margin-left: -13px;
  }
}

#circle3 {
  width: 900px;
  height: 900px;
  margin-left: -450px;
  margin-top: -450px;
  transform: rotate(25deg);
  -webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  -ms-transform: rotate(25deg);

  .data {
    width: 20px;
    height: 20px;
    margin-left: -10px;
  }
}

#circle4 {
  width: 1200px;
  height: 1200px;
  margin-left: -600px;
  margin-top: -600px;
  @include transform(rotate, 45deg, 200ms);

  .data {
    width: 12px;
    height: 12px;
    margin-left: -6px;
  }
}

#data-strategy {
  background: #e8892d url(../images/reutersbg.png) top left repeat;
  padding-bottom: 9em;

  h2, h3 {
    color: #5b3001;
  }

  img {
    width: 100%;
  }

  h2 {
    width: 100%;
  }

  .main-text {
    margin: 1.5em auto 0em;
  }
}

#feature-rundown {
  width: 80%;
  margin: 0 auto;

  li {
    position: relative;
    padding-left: 35%;
    padding: 2.5em 0 .5em 35%;
    text-align: left;
    margin-top: 5em;
    @include box-sizing;

    img {
      width: 30%;
      position: absolute;
      top: 0;
      left: 0;
    }

    h3 {
      margin-top: 0;
      font-size: 2.5em;
    }

    p {
      width: 100%;
      font-size: 1.2em;
      text-align: left;
      margin-top: 1em;
    }

    &.even {
      text-align:right;
      padding-left: 0;
      padding-right: 35%;

      img {
        left: auto;
        right: 0;
      }
    
      p {
        text-align:right;
      }
    }
  }
}

#reusable-components {
  border-bottom: 1px solid #dadada;

  img {
    width: 100%;
  }

  h3 {
    font-size: 1.4em;
    font-weight: bold;
    margin: 3.2em 0 1.2em;
    text-transform: uppercase;
  }

  .main-text {
    margin: 1.5em auto 3em;
  }

  ul {
    margin-top: 5em;
  }
  
  li {
    float: left;
    width: 21%;
    margin: 0 2%;

    strong {
      display: block;
      margin: .6em 0;
      font-size: 1.2em;
    }

    p {
      font-size: 1em;
      color: #777;
    }

    img {
      width: 70px;
    }
  }
}

#proven-design {
  img {
    width: 130px;
    margin: 0 auto;
  }

  .main-text {
    width: 64%;
    margin: 1.5em auto 3em;
  }

  #web {
    width: 100%;
  }
}




/*
                          .d8888b.   .d8888b.  
                         d88P  Y88b d88P  Y88b 
                         888    888 888    888 
 8888b.  888d888 .d8888b Y88b. d888 888    888 
    "88b 888P"  d88P"     "Y888P888 888    888 
.d888888 888    888             888 888    888 
888  888 888    Y88b.    Y88b  d88P Y88b  d88P 
"Y888888 888     "Y8888P  "Y8888P"   "Y8888P"  
                                               
*/

#arc90-background {
  border-top: 10px solid #3d80af;
}

#me {
  background: #444;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  &.hidden {
    z-index: 0;
  }

  #message {
    position: absolute;
    top: 28%;
    left: 50%;
    margin-left: -350px;
    width: 700px;
    text-align: center;

    h2 {
      color: white;
      font-size: 4em;
      width: 100%;
      float: left;
      margin-top: .2em;
      font-family: Kite One;
    }

    p {
      width: 100%;
      margin-top: 3em;
      color: white;
      font-size: 1.4em;
      color: #a1a1a1;
      font-family: Trebuchet MS, Lucida Grande, sans-serif;
    }
  }
}

#bg-portrait {
  display: inline-block;
  width: 160px;
  height: 160px;
  border: 8px solid #5b8aab;
  @include border-radius(50%);
}

#arrow {
  position: absolute;
  top: 16%;
  left: 55%;
  width:120px;
  border: none;
}

#how-done {
  position: absolute;
  top: 24%;
  left: 65%;
  width: 300px;
  font-size: 1.7em;
  letter-spacing: 0.05em;
  line-height: 1.1;
  color: #777;
  font-family: Waiting for the Sunrise;
}

#arc-logo {
  width: 100px;
  display: block;
}

#arc {
  width: 80px;
  display: block;
  margin: 0 auto;
}

#arc-details {
  background: #316c96;
  color: white;

  p {
    margin: 1.5em auto 1em;
  }

  #feature-rundown {
    h3 {
      color: #91cef1;
    }

    li {
      padding-top: 2em;
    }
  }
}

#peek-through {
  width: 100%;
  height: 500px;
  padding: 0;
}

#people {
  overflow: hidden;

  p {
    margin: 0 auto;
  }

  ul {
    text-align: center;
    width: 1600px;
    margin: 4em 0 4em -320px;
  }
  
  li {
    margin: 0 5px;
    width: 120px;
    height: 120px;
    overflow: hidden;
    border: 4px solid #c2d8e7;
    @include border-radius(50%);
    display: inline-block;
    
    img {
      width: 100%;
      border: 4px solid #fff;
      @include border-radius(50%);
      @include box-sizing;
    }
  }
}

#narratives {
  .main-text {
    margin: 1.5em auto 2em;
  }

  ul {
    width: 95%;
    margin: 8em auto 0em;
    @include overflowfix;

    li {
      float: left;
      width: 50%;
      margin-bottom: 20px;

      img {
        width: 110%;
        margin-left: -5%;
      }

      &:first-child {
        margin-top: -30px;
      }
    }
  }
}

#homepage {
  width: 100%;
  margin: 4em auto 0;
  display: block;
}


@media screen and (min-width: 520px) {
  
}

@media screen and (min-width: 748px) {

}

@media screen and (min-width: 1002px) {
  
}

@media screen and (min-width: 1202px) {
  
}
