@charset "UTF-8";
/**
                                     iL0G
                                fGGGGGGGG
                             :GGGGGGGGGGG
       1GGGGGGGi           .GGGGGGf  LGGGGGGC.         fGGGGGGC:         1GGGGGGG;
    GGGGGGGGGGGGGGG tGGGGGCGGGGG .GGGGGGGGGGGGGG1   GGGGGGGGGGGGGGL   G0GGGGGGGGGGGGG
  GGGGGGGGi:iGGGGGGGG GGGGGGGGf 0GGGGGGL::tGGGGG  GGGGGGGC;:1GGGGGGGGGGGGGGG;:1GGGGGGGL
 GGGGGf         LGGGGG GGGGGGt.GGGGG.         G  GGGGG,         GGGGGGGG1         CGGGGG
fGGGG.           .GGGGL.GGGGG GGGGG             GGGGG            tGGGGG            :GGGG1
GGGGG             GGGGG GGGGC.GGGG,             GGGGt             GGGGG             GGGGG
GGGGG             GGGGG GGGGC GGGGf             GGGGG             GGGGG             GGGGG
:GGGGC           GGGGGG GGGGC GGGGG.            CGGGGi           GGGGGGL           GGGGG.
 iGGGGGf       fGGGGGGG GGGGC  GGGGG0.       GG. GGGGGG,       GGGGGGGGGGt       CGGGGG;
   GGGGGGGGGGGGGGGGGGGG GGGGC   i0GGGGGGGGGGGGGGt .GGGGGGGGGGGGGGGGG GGGGGGGGGGGGGGGGG
     LGGGGGGGGGGGL                 GGGGGGGGGGGG:     CGGGGGGGGGGGGG    CGGGGGGGGGGGf
                                                            :GGGGG
                                                           iGGGGG
                                                          tGGGGG
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'readabiliconsregular';
  src: url("readabilicons-regular.eot");
  src: url("readabilicons-regular.eot?#iefix") format("embedded-opentype"), url("readabilicons-regular.woff") format("woff"), url("readabilicons-regular.ttf") format("truetype"), url("readabilicons-regular.svg#readabiliconsregular") format("svg");
  font-weight: normal;
  font-style: normal; }

html,
body {
  color: #333;
  font-size: 1em;
  background-color: #eaeaea;
  font-family: Trebuchet MS, Lucida Grande, sans-serif; }

a:link,
a:visited {
  color: #a6001b;
  text-decoration: none;
  transition: color 150ms ease-in-out;
  -webkit-transition: color 150ms ease-in-out;
  -moz-transition: color 150ms ease-in-out;
  -ms-transition: color 150ms ease-in-out; }

a:hover {
  color: #555; }

.wrapper {
  width: 960px;
  margin: 0 auto; }

h1, h2, h3, h4 {
  -webkit-font-smoothing: antialiased; }
  h1:before, h2:before, h3:before, h4:before {
    -webkit-font-smoothing: subpixel-antialiased; }

p, li {
  line-height: 1.6;
  -webkit-font-smoothing: antialiased; }

li {
  list-style: none; }

em {
  font-style: italic; }

/*

         888          888               888 
         888          888               888 
         888          888               888 
 .d88b.  888  .d88b.  88888b.   8888b.  888 
d88P"88b 888 d88""88b 888 "88b     "88b 888 
888  888 888 888  888 888  888 .d888888 888 
Y88b 888 888 Y88..88P 888 d88P 888  888 888 
 "Y88888 888  "Y88P"  88888P"  "Y888888 888 
     888                                    
Y8b d88P                                    
 "Y88P"                                     
                                                               
*/
#container {
  position: relative;
  z-index: 3; }
  #container.readability {
    background: #fdfdfd;
    font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif; }
    #container.readability h1, #container.readability h2, #container.readability h3, #container.readability h4 {
      font-family: Arbutus Slab;
      letter-spacing: -0.04em;
      line-height: 1; }
    #container.readability .letter-spacing-fix {
      margin-right: -0.08em; }
  #container.reuters {
    background-color: #eaeaea; }
    #container.reuters h1, #container.reuters h2, #container.reuters h3, #container.reuters h4 {
      line-height: 1;
      font-family: Amaranth; }
  #container.arc90 h1, #container.arc90 h2, #container.arc90 h3, #container.arc90 h4 {
    font-family: Kite One; }
  #container.arc90 .letter-spacing-fix {
    display: inline-block;
    margin-right: -0.1em; }

section {
  padding: 7em 0 6em;
  text-align: center; }
  section:after {
    content: "";
    clear: both;
    display: block; }
  section h2 {
    font-size: 5em; }
  section .main-text {
    width: 70%;
    font-size: 1.2em; }
  section.align-left h2, section.align-left p {
    text-align: left; }
  section.align-left p {
    width: 80%;
    margin: .5em 0 2em; }
  section.last {
    margin-bottom: 300px; }

/* Arc90 specific */
.arc90 section {
  background-color: #eaeaea; }
  .arc90 section.no-bg {
    background-color: transparent; }

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  padding: 8em 0 0;
  height: 200px;
  text-align: center; }
  footer h3 {
    color: white;
    font-size: 3em; }
  footer a:link,
  footer a:visited {
    display: inline-block;
    margin-top: 1em;
    border-radius: 4em;
    -moz-border-radius: 4em;
    -webkit-border-radius: 4em;
    -ms-border-radius: 4em;
    padding: .4em 1.5em;
    font-size: 1.2em;
    border: 2px solid; }
  footer.arc90 {
    background: #34424c url(../images/arc90_preview.jpg) bottom center no-repeat; }
    footer.arc90 h3 {
      font-family: Kite One; }
    footer.arc90 a:link,
    footer.arc90 a:visited {
      color: #629fcb;
      border-color: #629fcb; }
    footer.arc90 a:hover {
      color: #fff;
      border-color: #fff; }
  footer.readability {
    background: #820015;
    padding-top: 6em;
    height: 230px; }
    footer.readability h3 {
      font-family: Arbutus Slab;
      letter-spacing: -0.04em;
      margin-top: .1em; }
    footer.readability .icon {
      color: white;
      font-size: 2.4em; }
    footer.readability a:link,
    footer.readability a:visited {
      color: #d46a6a;
      border-color: #d46a6a; }
    footer.readability a:hover {
      color: #fff;
      border-color: #fff; }
  footer.reuters {
    background: #37220b;
    overflow: hidden; }
    footer.reuters h3 {
      font-family: Amaranth; }
    footer.reuters h3, footer.reuters a {
      z-index: 4;
      position: relative; }
    footer.reuters a:link,
    footer.reuters a:visited {
      color: #de8024;
      border-color: #de8024; }
    footer.reuters a:hover {
      color: #fff;
      border-color: #fff; }

/* Intros --*/
#reuters-intro,
#arc90-background,
#rdd-background {
  border-top: 10px solid #de8024; }
  #reuters-intro .main-text,
  #arc90-background .main-text,
  #rdd-background .main-text {
    margin: 2em auto 0; }
  #reuters-intro ul,
  #arc90-background ul,
  #rdd-background ul {
    float: left;
    width: 100%; }
    #reuters-intro ul li,
    #arc90-background ul li,
    #rdd-background ul li {
      position: relative;
      display: inline-block;
      margin: -1em 0 4em;
      padding-left: 50px;
      width: 17%;
      text-align: left; }
    #reuters-intro ul span,
    #arc90-background ul span,
    #rdd-background ul span {
      margin-top: .5em;
      font-size: .9em;
      display: block;
      text-transform: uppercase;
      font-weight: bold; }
    #reuters-intro ul img,
    #arc90-background ul img,
    #rdd-background ul img {
      display: inline-block;
      width: 40px;
      position: absolute;
      top: 0;
      left: 0; }

.divider {
  text-align: center;
  display: block;
  margin: 3em 0 4em; }
  .divider span {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    border: 2px solid;
    width: 6px;
    height: 6px;
    margin: 0 10px;
    display: inline-block; }
  .divider.arc span {
    border-color: #a9c1d1;
    height: 0px;
    width: 2px;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -ms-border-radius: 0; }
  .divider.reuters span {
    border-color: #d1baa9; }
  .divider.readability span {
    border-color: #efacba;
    background: #efacba; }

/* Header ---*/
.header {
  padding: 0;
  height: 440px;
  position: relative;
  color: white;
  text-align: center;
  overflow: hidden; }
  .header .icon {
    font-size: 2em; }
  .header img {
    width: 60px; }
  .header h1 {
    font-size: 2.4em; }
  .header.readability {
    background: #820015; }
  .header.reuters {
    background: #37220b url(../images/reuters_bg.png) top left repeat; }
    .header.reuters h1 {
      margin-top: .2em; }
  .header.arc90 {
    background: #0f1d26 url(../images/arc90_header_image.jpg) top center no-repeat;
    background-size: 100%; }
    .header.arc90 #title-card {
      width: 140px;
      margin-left: -70px; }

#title-card {
  position: absolute;
  top: 38%;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  text-align: center; }
  #title-card img {
    display: inline-block; }

#contact-me {
  padding: 4em 0 5em;
  font-size: 1.2em; }
  #contact-me li {
    width: 45%;
    display: inline-block;
    padding-left: 5%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    text-align: left; }
    #contact-me li h4 {
      font-size: 1.8em; }
    #contact-me li:first-child {
      padding-left: 0%;
      padding-right: 5%;
      text-align: right;
      border-right: 1px solid #d4d4d4; }
  #contact-me.arc90 {
    background: #dee6ec;
    border-top: 1px solid #c5d7e3; }
    #contact-me.arc90 a:link,
    #contact-me.arc90 a:visited {
      color: #3d80af; }
    #contact-me.arc90 a:hover {
      color: #444; }
  #contact-me.reuters {
    background: #efe5db;
    border-top: 1px solid #e3d4c5; }
    #contact-me.reuters a:link,
    #contact-me.reuters a:visited {
      color: #de8024; }
    #contact-me.reuters a:hover {
      color: #444; }
  #contact-me.readability {
    background: #efdbde;
    border-top: 1px solid #e4c7cb; }
    #contact-me.readability a:link,
    #contact-me.readability a:visited {
      color: #a6001b; }
    #contact-me.readability a:hover {
      color: #444; }

/*

888                                                                          
888                                                                          
888                                                                          
88888b.   .d88b.  88888b.d88b.   .d88b.  88888b.   8888b.   .d88b.   .d88b.  
888 "88b d88""88b 888 "888 "88b d8P  Y8b 888 "88b     "88b d88P"88b d8P  Y8b 
888  888 888  888 888  888  888 88888888 888  888 .d888888 888  888 88888888 
888  888 Y88..88P 888  888  888 Y8b.     888 d88P 888  888 Y88b 888 Y8b.     
888  888  "Y88P"  888  888  888  "Y8888  88888P"  "Y888888  "Y88888  "Y8888  
                                         888                    888          
                                         888               Y8b d88P          
                                         888                "Y88P"            
                                                                                          
*/
#nav-toggle {
  position: fixed;
  top: 10px;
  left: 16px;
  width: 30px;
  padding: 10px;
  z-index: 9999; }
  #nav-toggle:hover span {
    background: #444; }
  #nav-toggle span {
    display: block;
    height: 2px;
    width: 100%;
    background: #999;
    margin: 5px 0;
    transition: background 150ms ease-in-out;
    -webkit-transition: background 150ms ease-in-out;
    -moz-transition: background 150ms ease-in-out;
    -ms-transition: background 150ms ease-in-out; }

#headshot {
  position: fixed;
  top: 490px;
  left: 50%;
  width: 160px;
  z-index: 2;
  margin-left: -82px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  border: 4px solid #fff; }
  #headshot.absolute {
    position: absolute;
    top: 3680px; }

#home-container {
  position: relative;
  padding: 8em 0 0 0;
  height: 3900px;
  overflow: hidden;
  font-family: Sue Ellen Francisco; }
  #home-container h1 {
    background-image: url(../images/mask.jpg);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-background-size: 100%;
    color: rgba(0, 0, 0, 0);
    -webkit-mask-origin: padding;
    padding-top: .07em;
    margin-left: 0.1em; }
  #home-container h1, #home-container h2 {
    font-size: 16em;
    text-align: center; }
  #home-container h2 {
    margin-top: .5em;
    font-size: 2em; }
  #home-container h3 {
    font-size: 6em; }
  #home-container .detail {
    position: absolute;
    left: 50%;
    font-size: 1.5em;
    width: 300px; }

#track {
  height: 3200px;
  width: 2px;
  background: #c1c1c1;
  position: absolute;
  top: 570px;
  left: 50%;
  margin-left: -1px;
  z-index: 1; }

.dot {
  background: #c1c1c1;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 50%;
  margin-left: -5px;
  text-align: center; }
  .dot.small {
    width: 70px;
    height: 70px;
    margin-left: -35px; }
  .dot.medium {
    width: 120px;
    height: 120px;
    margin-left: -60px; }
  .dot.large {
    width: 300px;
    height: 300px;
    margin-left: -150px; }

#map {
  position: absolute;
  top: 3600px;
  left: 0;
  width: 100%;
  z-index: 0;
  border-bottom: 10px solid #e1e1e1;
  border-top: 10px solid #e1e1e1; }
  #map iframe {
    float: left;
    z-index: 0;
    width: 100%;
    height: 600px; }

#dot01 {
  top: 0; }

#dot02,
#dot03,
#dot04 {
  margin-left: -500px; }

#dot02 {
  padding-top: 110px;
  top: 600px;
  background: #820015;
  color: white; }
  #dot02 .icon {
    font-size: 2em; }
  #dot02 h2 {
    margin-top: 0;
    font-family: Arbutus Slab; }

#dot03 {
  top: 920px;
  padding-top: 120px;
  background: #34424c; }
  #dot03 img {
    width: 120px;
    display: inline-block; }

#dot04 {
  top: 1240px;
  background: #de8024;
  padding-top: 115px; }
  #dot04 img {
    width: 160px;
    display: inline-block; }

#dot05,
#dot06,
#dot07,
#dot08 {
  margin-left: 180px; }

#dot06,
#dot08 {
  margin-left: 310px; }

#dot05 {
  top: 2000px; }

#dot06 {
  top: 2140px; }

#dot07 {
  top: 2280px; }

#dot08 {
  top: 2420px; }

#dot09 {
  top: 3200px; }

#tidbit-01 {
  top: 1340px;
  margin-left: 200px; }

#tidbit-04 {
  top: 1740px;
  margin-left: 200px; }

#tidbit-02 {
  top: 2740px;
  margin-left: -500px; }

#tidbit-03 {
  top: 2980px;
  margin-left: -500px; }

#heading-01,
#heading-02,
#heading-03 {
  position: absolute;
  left: 50%; }

#heading-01 {
  top: 1200px;
  margin-left: 200px; }

#heading-02 {
  top: 2600px;
  margin-left: -500px; }

#heading-03 {
  top: 3920px;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 5; }

#resume-holder {
  position: relative;
  z-index: 4;
  background: #eaeaea;
  margin-top: -10em;
  padding: 14em 0 8em; }
  #resume-holder .finale {
    text-align: center;
    font-size: 3em;
    padding: 2em 0 1em;
    font-family: Sue Ellen Francisco; }
    #resume-holder .finale img {
      display: block;
      width: 30px;
      margin: 0 auto; }

#resume {
  margin: 0 auto;
  width: 70%;
  padding-bottom: 4em;
  border-bottom: 1px solid #dadada; }
  #resume:after {
    content: "";
    clear: both;
    display: block; }
  #resume h2 {
    font-size: 3em;
    padding-bottom: .4em;
    margin-bottom: .5em;
    line-height: .9;
    font-weight: normal;
    font-family: Sue Ellen Francisco; }
  #resume li {
    position: relative; }
  #resume .date {
    color: #888;
    display: block;
    text-transform: uppercase;
    left: 0;
    font-size: .7em;
    margin-bottom: .4em;
    position: absolute;
    text-align: right;
    width: 80px;
    left: 0;
    top: .55em; }

#work-experience,
#education {
  float: left;
  width: 100%;
  margin-bottom: 1.5em; }
  #work-experience li,
  #education li {
    margin-bottom: 2em;
    padding-left: 110px; }
  #work-experience strong,
  #education strong {
    font-weight: 200;
    line-height: 1.3;
    margin-bottom: .15em;
    display: block;
    font-weight: bold;
    font-size: 1.3em; }
  #work-experience p,
  #education p {
    line-height: 1.4;
    font-size: 1em; }

#left-column,
#right-column {
  float: left; }

#left-column {
  width: 65%; }

#right-column {
  width: 30%;
  margin-left: 5%;
  margin-top: 0; }

#skillset li {
  margin-bottom: .3em; }

/*
                              888          888      d8b 888 d8b 888             
                              888          888      Y8P 888 Y8P 888             
                              888          888          888     888             
888d888 .d88b.   8888b.   .d88888  8888b.  88888b.  888 888 888 888888 888  888 
888P"  d8P  Y8b     "88b d88" 888     "88b 888 "88b 888 888 888 888    888  888 
888    88888888 .d888888 888  888 .d888888 888  888 888 888 888 888    888  888 
888    Y8b.     888  888 Y88b 888 888  888 888 d88P 888 888 888 Y88b.  Y88b 888 
888     "Y8888  "Y888888  "Y88888 "Y888888 88888P"  888 888 888  "Y888  "Y88888 
                                                                            888 
                                                                       Y8b d88P 
                                                                        "Y88P"  
*/
.rdd-red {
  color: #a6001b; }

.icon {
  font-family: 'readabiliconsregular';
  -webkit-font-smoothing: antialiased; }
  .icon:before {
    -webkit-font-smoothing: subpixel-antialiased; }

#rdd-background {
  border-top: 10px solid #a6001b; }
  #rdd-background h2 {
    line-height: 1.2; }

#thoughtful-design {
  background: #a6001b;
  color: white; }
  #thoughtful-design h2 {
    margin-top: .8em; }
  #thoughtful-design .main-text {
    margin: 1.8em auto 3em;
    width: 85%; }

#rdd-feature-rundown {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  background: #890016;
  padding: 2.6em 0 2.4em;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  font-size: .8em; }
  #rdd-feature-rundown img {
    width: 40px; }
  #rdd-feature-rundown li {
    position: relative;
    display: inline-block;
    width: 30%;
    margin: 0;
    color: #f8aeaf; }
  #rdd-feature-rundown p {
    width: 70%;
    margin: 1em auto 0; }

.screens {
  margin-top: 1em; }
  .screens:after {
    content: "";
    clear: both;
    display: block; }
  .screens li {
    float: left;
    width: 20%;
    text-align: center; }
    .screens li.higher {
      margin-top: -10px; }
    .screens li.highest {
      margin-top: -20px; }
    .screens li.high {
      margin-top: -5px; }
    .screens li img {
      width: 90%; }

#iconography h2 {
  color: #a6001b; }
  #iconography h2 .icon {
    margin-right: 0.2em; }
#iconography p {
  margin: 1.8em auto 3em; }
#iconography li {
  text-align: center;
  width: 14%;
  float: left;
  background: #f1f1f1;
  margin-right: 2px;
  margin-bottom: 3px;
  padding: .8em 0 2em;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  color: #777;
  font-size: .8em; }
  #iconography li .icon {
    font-size: 4em;
    display: block; }

#typography {
  background: #a6001b;
  position: relative;
  color: white;
  height: 1130px;
  overflow: hidden; }
  #typography img {
    position: absolute;
    left: 50%; }
  #typography .main-text {
    margin: 1.8em 0 3em; }

#landscape {
  margin-left: -900px;
  width: 800px;
  top: 526px; }

#portrait {
  top: 430px;
  margin-left: -80px;
  height: 800px; }

#portrait-iphone {
  width: 240px;
  top: 690px;
  margin-left: 474px; }

#rdd-ux .main-text {
  margin: 2em 0 3em; }
#rdd-ux .rdd-red {
  font-style: italic; }
#rdd-ux #ux-hero-video {
  float: left;
  width: 340px;
  margin-left: 10%; }
#rdd-ux .right {
  position: relative;
  width: 45%;
  float: left;
  margin-left: 9%;
  margin-top: 115px; }

#rdd-love {
  text-align: right;
  padding: 5em 0 8em; }
  #rdd-love ul {
    float: left;
    width: 80%; }
  #rdd-love li {
    display: inline-block;
    width: 114px;
    position: relative;
    padding-left: 50px; }
    #rdd-love li:first-child {
      margin-right: 20px; }
    #rdd-love li img {
      position: absolute;
      left: 0;
      top: 0;
      width: 40px; }
    #rdd-love li span {
      display: block;
      margin-top: .3em;
      font-size: 1.2em; }
    #rdd-love li:first-child img {
      width: 35px;
      top: -5px; }

#screen-holder {
  height: 560px;
  position: relative;
  overflow: hidden; }
  #screen-holder h2 {
    width: 40%;
    margin: .4em 0 .7em; }
  #screen-holder blockquote {
    font-size: 1.8em;
    width: 40%;
    margin-bottom: 1.5em;
    line-height: 1.2; }
    #screen-holder blockquote span {
      margin-top: .5em;
      font-size: .4em;
      color: #777;
      display: block;
      text-align: right;
      text-transform: uppercase; }
      #screen-holder blockquote span a:link,
      #screen-holder blockquote span a:visited {
        color: #a6001b; }
      #screen-holder blockquote span a:hover {
        color: #555; }

#iphone {
  position: absolute;
  top: 70px;
  width: 230px;
  left: 50%;
  z-index: 3;
  margin-left: 0px; }

#ipad {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 800px;
  z-index: 2;
  margin-left: 110px; }

#featured-badge {
  float: left;
  display: inline-block;
  width: 200px;
  margin-left: 20px; }

#dl-rdd {
  float: left;
  margin: 20px 20px 0 30px; }

/* Videos ------- */
#rdd-videos {
  text-align: left;
  position: relative;
  z-index: 2; }
  #rdd-videos .video-icon {
    background: #78201f;
    cursor: pointer;
    background: rgba(120, 32, 31, 0.6); }
    #rdd-videos .video-icon:hover {
      background: #78201f;
      background: rgba(120, 32, 31, 0.9); }
  #rdd-videos li {
    display: inline-block;
    width: 30%;
    overflow: hidden;
    position: relative; }
    #rdd-videos li .interaction-video {
      display: block;
      position: relative;
      overflow: hidden; }
    #rdd-videos li img, #rdd-videos li video {
      width: 100%;
      position: relative;
      z-index: 0; }
    #rdd-videos li .label {
      font-size: .9em;
      margin-top: .3em;
      display: block;
      text-align: center; }

.video-icon {
  position: absolute;
  top: 37%;
  left: 50%;
  z-index: 1;
  width: 30px;
  height: 30px;
  margin: -16px 0 0 -16px;
  border: 2px solid white;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  -ms-border-radius: 50px;
  transition: background 150ms ease-in-out;
  -webkit-transition: background 150ms ease-in-out;
  -moz-transition: background 150ms ease-in-out;
  -ms-transition: background 150ms ease-in-out; }
  .video-icon .arrow-icon {
    border-top: 5px solid #fff;
    border-right: 5px solid #fff;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    display: block;
    position: absolute;
    top: 10px;
    left: 8px;
    transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg); }

/*
                         888                             
                         888                             
                         888                             
888d888 .d88b.  888  888 888888 .d88b.  888d888 .d8888b  
888P"  d8P  Y8b 888  888 888   d8P  Y8b 888P"   88K      
888    88888888 888  888 888   88888888 888     "Y8888b. 
888    Y8b.     Y88b 888 Y88b. Y8b.     888          X88 
888     "Y8888   "Y88888  "Y888 "Y8888  888      88888P' 
                                                         
*/
.data {
  position: absolute;
  border: 2px solid #8c5825;
  width: 30px;
  height: 30px;
  margin-left: -15px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%; }

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%; }

#circle1 {
  width: 400px;
  height: 400px;
  margin-left: -200px;
  margin-top: -200px; }

#data01,
#data11,
#data21,
#data31 {
  top: 0px;
  left: 50%; }

#data02,
#data12,
#data22,
#data32 {
  top: 10%;
  left: 76%; }

#data03,
#data13,
#data23,
#data33 {
  top: 30%;
  left: 96%; }

#data04,
#data14,
#data24,
#data34 {
  top: 58%;
  left: 95%; }

#data05,
#data15,
#data25,
#data35 {
  top: 87%;
  left: 77%; }

#data06,
#data16,
#data26,
#data36 {
  top: 96%;
  left: 47%; }

#data07,
#data17,
#data27,
#data37 {
  top: 82%;
  left: 21%; }

#data08,
#data18,
#data28,
#data38 {
  top: 58%;
  left: 2%; }

#data09,
#data19,
#data29,
#data39 {
  top: 29%;
  left: 5%; }

#data10,
#data20,
#data30,
#data40 {
  top: 7%;
  left: 20%; }

#circle2 {
  width: 650px;
  height: 650px;
  margin-left: -325px;
  margin-top: -325px;
  transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg); }
  #circle2 .data {
    width: 26px;
    height: 26px;
    margin-left: -13px; }

#circle3 {
  width: 900px;
  height: 900px;
  margin-left: -450px;
  margin-top: -450px;
  transform: rotate(25deg);
  -webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  -ms-transform: rotate(25deg); }
  #circle3 .data {
    width: 20px;
    height: 20px;
    margin-left: -10px; }

#circle4 {
  width: 1200px;
  height: 1200px;
  margin-left: -600px;
  margin-top: -600px;
  transform: rotate 45deg;
  -webkit-transform: rotate 45deg;
  -moz-transform: rotate 45deg;
  -ms-transform: rotate 45deg;
  transition-duration: 200ms;
  -webkit-transition-duration: rotate 45deg;
  -moz-transition-duration: rotate 45deg;
  -ms-transition-duration: rotate 45deg; }
  #circle4 .data {
    width: 12px;
    height: 12px;
    margin-left: -6px; }

#data-strategy {
  background: #e8892d url(../images/reutersbg.png) top left repeat;
  padding-bottom: 9em; }
  #data-strategy h2, #data-strategy h3 {
    color: #5b3001; }
  #data-strategy img {
    width: 100%; }
  #data-strategy h2 {
    width: 100%; }
  #data-strategy .main-text {
    margin: 1.5em auto 0em; }

#feature-rundown {
  width: 80%;
  margin: 0 auto; }
  #feature-rundown li {
    position: relative;
    padding-left: 35%;
    padding: 2.5em 0 .5em 35%;
    text-align: left;
    margin-top: 5em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box; }
    #feature-rundown li img {
      width: 30%;
      position: absolute;
      top: 0;
      left: 0; }
    #feature-rundown li h3 {
      margin-top: 0;
      font-size: 2.5em; }
    #feature-rundown li p {
      width: 100%;
      font-size: 1.2em;
      text-align: left;
      margin-top: 1em; }
    #feature-rundown li.even {
      text-align: right;
      padding-left: 0;
      padding-right: 35%; }
      #feature-rundown li.even img {
        left: auto;
        right: 0; }
      #feature-rundown li.even p {
        text-align: right; }

#reusable-components {
  border-bottom: 1px solid #dadada; }
  #reusable-components img {
    width: 100%; }
  #reusable-components h3 {
    font-size: 1.4em;
    font-weight: bold;
    margin: 3.2em 0 1.2em;
    text-transform: uppercase; }
  #reusable-components .main-text {
    margin: 1.5em auto 3em; }
  #reusable-components ul {
    margin-top: 5em; }
  #reusable-components li {
    float: left;
    width: 21%;
    margin: 0 2%; }
    #reusable-components li strong {
      display: block;
      margin: .6em 0;
      font-size: 1.2em; }
    #reusable-components li p {
      font-size: 1em;
      color: #777; }
    #reusable-components li img {
      width: 70px; }

#proven-design img {
  width: 130px;
  margin: 0 auto; }
#proven-design .main-text {
  width: 64%;
  margin: 1.5em auto 3em; }
#proven-design #web {
  width: 100%; }

/*
                          .d8888b.   .d8888b.  
                         d88P  Y88b d88P  Y88b 
                         888    888 888    888 
 8888b.  888d888 .d8888b Y88b. d888 888    888 
    "88b 888P"  d88P"     "Y888P888 888    888 
.d888888 888    888             888 888    888 
888  888 888    Y88b.    Y88b  d88P Y88b  d88P 
"Y888888 888     "Y8888P  "Y8888P"   "Y8888P"  
                                               
*/
#arc90-background {
  border-top: 10px solid #3d80af; }

#me {
  background: #444;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1; }
  #me.hidden {
    z-index: 0; }
  #me #message {
    position: absolute;
    top: 28%;
    left: 50%;
    margin-left: -350px;
    width: 700px;
    text-align: center; }
    #me #message h2 {
      color: white;
      font-size: 4em;
      width: 100%;
      float: left;
      margin-top: .2em;
      font-family: Kite One; }
    #me #message p {
      width: 100%;
      margin-top: 3em;
      color: white;
      font-size: 1.4em;
      color: #a1a1a1;
      font-family: Trebuchet MS, Lucida Grande, sans-serif; }

#bg-portrait {
  display: inline-block;
  width: 160px;
  height: 160px;
  border: 8px solid #5b8aab;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%; }

#arrow {
  position: absolute;
  top: 16%;
  left: 55%;
  width: 120px;
  border: none; }

#how-done {
  position: absolute;
  top: 24%;
  left: 65%;
  width: 300px;
  font-size: 1.7em;
  letter-spacing: 0.05em;
  line-height: 1.1;
  color: #777;
  font-family: Waiting for the Sunrise; }

#arc-logo {
  width: 100px;
  display: block; }

#arc {
  width: 80px;
  display: block;
  margin: 0 auto; }

#arc-details {
  background: #316c96;
  color: white; }
  #arc-details p {
    margin: 1.5em auto 1em; }
  #arc-details #feature-rundown h3 {
    color: #91cef1; }
  #arc-details #feature-rundown li {
    padding-top: 2em; }

#peek-through {
  width: 100%;
  height: 500px;
  padding: 0; }

#people {
  overflow: hidden; }
  #people p {
    margin: 0 auto; }
  #people ul {
    text-align: center;
    width: 1600px;
    margin: 4em 0 4em -320px; }
  #people li {
    margin: 0 5px;
    width: 120px;
    height: 120px;
    overflow: hidden;
    border: 4px solid #c2d8e7;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    display: inline-block; }
    #people li img {
      width: 100%;
      border: 4px solid #fff;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      -ms-border-radius: 50%;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box; }

#narratives .main-text {
  margin: 1.5em auto 2em; }
#narratives ul {
  width: 95%;
  margin: 8em auto 0em; }
  #narratives ul:after {
    content: "";
    clear: both;
    display: block; }
  #narratives ul li {
    float: left;
    width: 50%;
    margin-bottom: 20px; }
    #narratives ul li img {
      width: 110%;
      margin-left: -5%; }
    #narratives ul li:first-child {
      margin-top: -30px; }

#homepage {
  width: 100%;
  margin: 4em auto 0;
  display: block; }
