@charset "UTF-8";
/**
              d8b          888                        888    
              Y8P          888                        888    
                           888                        888    
88888b.d88b.  888  .d8888b 88888b.   8888b.   .d88b.  888    
888 "888 "88b 888 d88P"    888 "88b     "88b d8P  Y8b 888    
888  888  888 888 888      888  888 .d888888 88888888 888    
888  888  888 888 Y88b.    888  888 888  888 Y8b.     888    
888  888  888 888  "Y8888P 888  888 "Y888888  "Y8888  888    
                                                             
                                                             
                                                             
888                                    888                   
888                                    888                   
888                                    888                   
88888b.  888d888 8888b.  88888b.   .d88888  .d88b.  88888b.  
888 "88b 888P"      "88b 888 "88b d88" 888 d88""88b 888 "88b 
888  888 888    .d888888 888  888 888  888 888  888 888  888 
888 d88P 888    888  888 888  888 Y88b 888 Y88..88P 888  888 
88888P"  888    "Y888888 888  888  "Y88888  "Y88P"  888  888 
                                                                                                                    
                                                             
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'readabiliconsregular';
  src: url("readabilicons-regular.eot");
  src: url("readabilicons-regular.eot?#iefix") format("embedded-opentype"), url("readabilicons-regular.woff") format("woff"), url("readabilicons-regular.ttf") format("truetype"), url("readabilicons-regular.svg#readabiliconsregular") format("svg");
  font-weight: normal;
  font-style: normal; }

html,
body {
  color: #333;
  font-size: 1em;
  background-color: #eaeaea;
  font-family: Trebuchet MS, Lucida Grande, sans-serif; }

a:link,
a:visited {
  color: #a6001b;
  text-decoration: none;
  transition: color 150ms ease-in-out;
  -webkit-transition: color 150ms ease-in-out;
  -moz-transition: color 150ms ease-in-out;
  -ms-transition: color 150ms ease-in-out; }

a:hover {
  color: #555; }

.wrapper {
  width: 100%; }

h1, h2, h3, h4 {
  -webkit-font-smoothing: antialiased; }
  h1:before, h2:before, h3:before, h4:before {
    -webkit-font-smoothing: subpixel-antialiased; }

p, li {
  line-height: 1.6;
  -webkit-font-smoothing: antialiased; }

li {
  list-style: none; }

em {
  font-style: italic; }

/*

         888          888               888 
         888          888               888 
         888          888               888 
 .d88b.  888  .d88b.  88888b.   8888b.  888 
d88P"88b 888 d88""88b 888 "88b     "88b 888 
888  888 888 888  888 888  888 .d888888 888 
Y88b 888 888 Y88..88P 888 d88P 888  888 888 
 "Y88888 888  "Y88P"  88888P"  "Y888888 888 
     888                                    
Y8b d88P                                    
 "Y88P"                                     
                                                               
*/
nav {
  border-bottom: 1px solid #dadada;
  background: #eaeaea; }
  nav:after {
    content: "";
    clear: both;
    display: block; }
  nav h1 {
    float: left;
    font-size: 1.6em;
    padding: 1em 0 .95em; }
  nav ul {
    width: 80%;
    text-align: right;
    float: right; }
    nav ul li {
      display: inline-block;
      margin-left: 2em; }
    nav ul a:link,
    nav ul a:visited {
      color: #999;
      display: inline-block;
      font-size: .8em;
      text-transform: uppercase;
      font-family: Trebuchet MS, Lucida Grande, sans-serif;
      padding: 3.6em 0em; }
    nav ul a:hover {
      color: #444; }

#container {
  position: relative;
  z-index: 3; }
  #container.readability {
    background: #fdfdfd;
    font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif; }
    #container.readability h1, #container.readability h2, #container.readability h3, #container.readability h4 {
      font-family: Arbutus Slab;
      letter-spacing: -0.04em;
      line-height: 1; }
    #container.readability .letter-spacing-fix {
      margin-right: -0.08em; }
  #container.reuters {
    background-color: #eaeaea; }
    #container.reuters h1, #container.reuters h2, #container.reuters h3, #container.reuters h4 {
      line-height: 1.2;
      font-family: Fjalla One;
      letter-spacing: -0.05em; }
  #container.arc90 h1, #container.arc90 h2, #container.arc90 h3, #container.arc90 h4 {
    font-family: Kite One; }
  #container.arc90 .letter-spacing-fix {
    display: inline-block;
    margin-right: -0.1em; }

section {
  padding: 4em 0 3.5em;
  text-align: center; }
  section:after {
    content: "";
    clear: both;
    display: block; }
  section h2 {
    font-size: 3em; }
  section .main-text {
    width: 90%;
    font-size: 1em; }
  section.align-left h2, section.align-left p {
    text-align: left; }
  section.align-left p {
    width: 80%;
    margin: .5em 0 2em; }
  section.last {
    margin-bottom: 300px; }

/* Arc90 specific */
.arc90 section {
  background-color: #eaeaea; }
  .arc90 section.no-bg {
    background-color: transparent; }

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  padding: 6em 0 0;
  height: 210px;
  text-align: center; }
  footer h3 {
    color: white;
    width: 90%;
    margin: 0 auto;
    font-size: 1.8em; }
  footer a:link,
  footer a:visited {
    display: inline-block;
    margin-top: 1em;
    border-radius: 4em;
    -moz-border-radius: 4em;
    -webkit-border-radius: 4em;
    -ms-border-radius: 4em;
    padding: .4em 1.5em;
    font-size: 1.2em;
    border: 2px solid; }
  footer.arc90 {
    background: #34424c url(../images/arc90_preview.jpg) bottom center no-repeat; }
    footer.arc90 h3 {
      font-family: Kite One; }
    footer.arc90 a:link,
    footer.arc90 a:visited {
      color: #629fcb;
      border-color: #629fcb; }
    footer.arc90 a:hover {
      color: #fff;
      border-color: #fff; }
  footer.readability {
    background: #820015;
    padding-top: 6em;
    height: 230px; }
    footer.readability h3 {
      font-family: Arbutus Slab;
      letter-spacing: -0.04em;
      margin-top: .1em; }
    footer.readability .icon {
      color: white;
      font-size: 2.4em; }
    footer.readability a:link,
    footer.readability a:visited {
      color: #d46a6a;
      border-color: #d46a6a; }
    footer.readability a:hover {
      color: #fff;
      border-color: #fff; }
  footer.reuters {
    background: #37220b;
    overflow: hidden; }
    footer.reuters h3 {
      font-family: Fjalla One; }
    footer.reuters h3, footer.reuters a {
      z-index: 4;
      position: relative; }
    footer.reuters a:link,
    footer.reuters a:visited {
      color: #de8024;
      border-color: #de8024; }
    footer.reuters a:hover {
      color: #fff;
      border-color: #fff; }

/* Intros --*/
#reuters-intro,
#arc90-background,
#rdd-background {
  border-top: 10px solid #de8024; }
  #reuters-intro .main-text,
  #arc90-background .main-text,
  #rdd-background .main-text {
    margin: 2em auto 0; }
  #reuters-intro ul,
  #arc90-background ul,
  #rdd-background ul {
    float: left;
    width: 100%; }
    #reuters-intro ul li,
    #arc90-background ul li,
    #rdd-background ul li {
      position: relative;
      display: inline-block;
      padding-left: 0px;
      text-align: center;
      margin: 1em auto 1em;
      width: 80%; }
    #reuters-intro ul span,
    #arc90-background ul span,
    #rdd-background ul span {
      margin-top: .5em;
      font-size: .9em;
      display: block;
      text-transform: uppercase;
      font-weight: bold; }
    #reuters-intro ul img,
    #arc90-background ul img,
    #rdd-background ul img {
      top: 0;
      left: 0;
      display: inline-block;
      width: 60px;
      position: relative; }

.divider {
  text-align: center;
  display: block;
  margin: 3em 0 4em; }
  .divider span {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    border: 2px solid;
    width: 6px;
    height: 6px;
    margin: 0 10px;
    display: inline-block; }
  .divider.arc span {
    border-color: #3d80af;
    height: 0px;
    width: 2px;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -ms-border-radius: 0; }
  .divider.reuters span {
    border-color: #de8024; }
  .divider.readability span {
    border-color: #a6001b;
    background: #a6001b; }

/* Header ---*/
.header {
  padding: 0;
  height: 300px;
  position: relative;
  color: white;
  text-align: center;
  overflow: hidden; }
  .header .icon {
    font-size: 2em; }
  .header img {
    width: 60px; }
  .header h1 {
    font-size: 2.4em; }
  .header.readability {
    background: #820015; }
  .header.reuters {
    background: #37220b url(../images/reuters_bg.png) top left repeat; }
    .header.reuters h1 {
      margin-top: .2em; }
  .header.arc90 {
    background: #0f1d26 url(../images/arc90_header_image.jpg) top center no-repeat;
    background-size: 200%; }
    .header.arc90 #title-card {
      width: 140px;
      margin-left: -70px; }

#title-card {
  position: absolute;
  top: 35%;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  text-align: center; }
  #title-card img {
    display: inline-block; }

#contact-me {
  padding: 3em 0 4em;
  font-size: 1.2em; }
  #contact-me li {
    width: 90%;
    display: block;
    margin: 5% auto 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    text-align: center; }
    #contact-me li h4 {
      font-size: 1.8em;
      margin-bottom: .3em; }
    #contact-me li:first-child {
      margin-top: 0;
      padding-bottom: 5%;
      border-bottom: 1px solid #d4d4d4; }
  #contact-me.arc90 {
    background: #dee6ec;
    border-top: 1px solid #c5d7e3; }
    #contact-me.arc90 a:link,
    #contact-me.arc90 a:visited {
      color: #3d80af; }
    #contact-me.arc90 a:hover {
      color: #444; }
  #contact-me.reuters {
    background: #efe5db;
    border-top: 1px solid #e3d4c5; }
    #contact-me.reuters a:link,
    #contact-me.reuters a:visited {
      color: #de8024; }
    #contact-me.reuters a:hover {
      color: #444; }
  #contact-me.readability {
    background: #efdbde;
    border-top: 1px solid #e4c7cb; }
    #contact-me.readability a:link,
    #contact-me.readability a:visited {
      color: #a6001b; }
    #contact-me.readability a:hover {
      color: #444; }

/*

888                                                                          
888                                                                          
888                                                                          
88888b.   .d88b.  88888b.d88b.   .d88b.  88888b.   8888b.   .d88b.   .d88b.  
888 "88b d88""88b 888 "888 "88b d8P  Y8b 888 "88b     "88b d88P"88b d8P  Y8b 
888  888 888  888 888  888  888 88888888 888  888 .d888888 888  888 88888888 
888  888 Y88..88P 888  888  888 Y8b.     888 d88P 888  888 Y88b 888 Y8b.     
888  888  "Y88P"  888  888  888  "Y8888  88888P"  "Y888888  "Y88888  "Y8888  
                                         888                    888          
                                         888               Y8b d88P          
                                         888                "Y88P"            
                                                                                          
*/
#michael-brandon {
  background: transparent url(../images/home_bg.png) top left repeat; }

#intro {
  border-top: 10px solid #222; }
  #intro img {
    width: 300px;
    display: block;
    margin: 100px auto 40px; }
  #intro .main-text {
    font-size: 1.4em;
    line-height: 1.5; }

#jumps {
  text-align: center;
  width: 800px;
  margin: 3em auto 8em; }
  #jumps li {
    width: 254px;
    display: inline-block; }
    #jumps li:first-child {
      margin-right: 18px; }
      #jumps li:first-child .image {
        background: #a60000; }
      #jumps li:first-child .nubbin {
        border-bottom-color: #a60000;
        border-right-color: #a60000; }
      #jumps li:first-child a:link,
      #jumps li:first-child a:visited {
        color: #a60000; }
      #jumps li:first-child a:hover {
        color: #222; }
    #jumps li:last-child {
      margin-left: 19px; }
      #jumps li:last-child .image {
        background: #3d80af; }
      #jumps li:last-child .nubbin {
        border-bottom-color: #3d80af;
        border-right-color: #3d80af; }
      #jumps li:last-child .icon {
        width: 90px;
        height: 90px;
        margin: -58px 0 0 -45px; }
        #jumps li:last-child .icon img {
          width: 100%; }
      #jumps li:last-child a:link,
      #jumps li:last-child a:visited {
        color: #3d80af; }
      #jumps li:last-child a:hover {
        color: #222; }
    #jumps li .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      color: white;
      font-size: 3.6em;
      margin: -50px 0 0 -28px; }
  #jumps p {
    font-size: .9em; }
  #jumps .image {
    background: #222;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    text-align: center;
    height: 140px;
    position: relative; }
    #jumps .image.middle {
      background: #c4630c; }
      #jumps .image.middle .icon {
        width: 60px;
        height: 60px;
        margin: -40px 0 0 -30px; }
        #jumps .image.middle .icon img {
          width: 100%; }
      #jumps .image.middle .nubbin {
        border-bottom-color: #c4630c;
        border-right-color: #c4630c; }
    #jumps .image .nubbin {
      position: absolute;
      bottom: -5px;
      left: 50%;
      margin-left: -10px;
      border: 10px solid #222;
      border-left-color: transparent;
      border-top-color: transparent;
      transform: rotateZ(45deg);
      -webkit-transform: rotateZ(45deg);
      -moz-transform: rotateZ(45deg);
      -ms-transform: rotateZ(45deg); }
  #jumps a:link,
  #jumps a:visited {
    color: #c4630c; }
  #jumps a:hover {
    color: #222; }
  #jumps h2 {
    margin-top: .6em;
    font-size: 2em;
    font-family: Patua One; }

#about-me:after {
  content: "";
  clear: both;
  display: block; }
#about-me h2 {
  margin-bottom: 1em;
  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
  font-family: Patua One; }
#about-me .column {
  float: left;
  width: 48%; }
  #about-me .column.left {
    margin-right: 4%; }
#about-me p {
  margin-bottom: 1.4em; }

#resume-pitch {
  width: 100%;
  margin-top: 2em;
  text-align: center;
  font-size: 1.3em; }
  #resume-pitch a:link,
  #resume-pitch a:visited {
    display: block;
    border: 1px solid #a6001b;
    border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    -webkit-border-radius: 0.4em;
    -ms-border-radius: 0.4em;
    padding: .6em .8em;
    margin: .5em auto 0;
    font-size: .8em;
    width: 60%; }
  #resume-pitch a:hover {
    border-color: #555; }

#finale {
  text-align: center;
  margin-top: 8em;
  padding: 2em 0 4em;
  background: #dfdfdf;
  position: relative; }
  #finale:after {
    content: "";
    clear: both;
    display: block; }
  #finale ul {
    float: right;
    text-align: right; }
    #finale ul li {
      display: inline-block;
      margin-left: 10px; }
    #finale ul a {
      display: block; }
    #finale ul img {
      width: 30px; }
  #finale p {
    float: left;
    font-size: .9em;
    color: #888; }

#footer-logo {
  position: absolute;
  top: 2em;
  left: 50%;
  margin-left: -30px;
  display: block;
  width: 60px; }

/*
                                                         
                                                         
                                                         
888d888 .d88b.  .d8888b  888  888 88888b.d88b.   .d88b.  
888P"  d8P  Y8b 88K      888  888 888 "888 "88b d8P  Y8b 
888    88888888 "Y8888b. 888  888 888  888  888 88888888 
888    Y8b.          X88 Y88b 888 888  888  888 Y8b.     
888     "Y8888   88888P'  "Y88888 888  888  888  "Y8888  
                                                         
                                                         
*/
#resume {
  margin: 0 auto;
  padding: 5em 0; }
  #resume:after {
    content: "";
    clear: both;
    display: block; }
  #resume h3, #resume h4 {
    font-family: Contrail One; }
  #resume h4 {
    font-size: 1.6em;
    padding-bottom: .4em;
    margin-bottom: .5em;
    line-height: .9;
    font-weight: normal; }
  #resume h3 {
    margin: 0 0 .6em;
    font-size: 2em; }
  #resume li {
    position: relative; }
  #resume .date {
    font-family: Trebuchet MS, Lucida Grande, sans-serif;
    color: #789c57;
    display: block;
    text-transform: uppercase;
    font-size: .7em;
    margin-bottom: .2em; }

#work-experience,
#education {
  float: left;
  width: 100%;
  margin-bottom: 1.5em; }
  #work-experience li,
  #education li {
    margin-bottom: 2em; }
  #work-experience strong,
  #education strong {
    font-weight: 200;
    line-height: 1.3;
    margin-bottom: .15em;
    display: block;
    font-size: 1.3em; }
  #work-experience p,
  #education p {
    margin-top: .7em;
    line-height: 1.4;
    font-size: .9em; }

#left-column,
#center-column,
#right-column {
  width: 90%;
  margin: 0 auto; }

#center-column,
#right-column {
  margin-top: 4em; }

#left-column p {
  font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif; }

#skillset {
  font-size: .9em; }
  #skillset li {
    line-height: 1.4;
    margin-bottom: 1em; }

#social {
  margin-top: 1em; }
  #social li {
    display: inline-block;
    width: 30px;
    margin-right: 10px; }
  #social img {
    display: block;
    width: 100%; }

/*
                              888          888      d8b 888 d8b 888             
                              888          888      Y8P 888 Y8P 888             
                              888          888          888     888             
888d888 .d88b.   8888b.   .d88888  8888b.  88888b.  888 888 888 888888 888  888 
888P"  d8P  Y8b     "88b d88" 888     "88b 888 "88b 888 888 888 888    888  888 
888    88888888 .d888888 888  888 .d888888 888  888 888 888 888 888    888  888 
888    Y8b.     888  888 Y88b 888 888  888 888 d88P 888 888 888 Y88b.  Y88b 888 
888     "Y8888  "Y888888  "Y88888 "Y888888 88888P"  888 888 888  "Y888  "Y88888 
                                                                            888 
                                                                       Y8b d88P 
                                                                        "Y88P"  
*/
.rdd-red {
  color: #a6001b; }

.icon {
  font-family: 'readabiliconsregular';
  -webkit-font-smoothing: antialiased; }
  .icon:before {
    -webkit-font-smoothing: subpixel-antialiased; }

#rdd-background {
  border-top: 10px solid #a6001b; }
  #rdd-background h2 {
    line-height: 1.2; }

#thoughtful-design {
  background: #a6001b;
  color: white;
  padding-bottom: 0; }
  #thoughtful-design h2 {
    margin-top: .8em; }
  #thoughtful-design .main-text {
    margin: 1.8em auto 3em;
    width: 85%; }

#rdd-feature-rundown {
  background: #890016;
  padding: 2.6em 0 2.4em;
  text-align: center;
  margin: 0 auto;
  font-size: .8em; }
  #rdd-feature-rundown img {
    width: 40px; }
  #rdd-feature-rundown li {
    position: relative;
    display: inline-block;
    width: 30%;
    margin: 0;
    color: #f8aeaf; }
  #rdd-feature-rundown p {
    width: 70%;
    margin: 1em auto 0; }

.screens {
  margin-top: 1em; }
  .screens:after {
    content: "";
    clear: both;
    display: block; }
  .screens li {
    float: left;
    width: 20%;
    text-align: center; }
    .screens li.higher {
      margin-top: -10px; }
    .screens li.highest {
      margin-top: -20px; }
    .screens li.high {
      margin-top: -5px; }
    .screens li img {
      width: 90%; }

#iconography h2 {
  color: #a6001b;
  font-size: 2.6em; }
  #iconography h2 .icon {
    display: block;
    margin: 0 auto .2em; }
#iconography p {
  margin: 1.8em auto 3em; }
#iconography li {
  text-align: center;
  width: 29%;
  margin-right: 2px;
  margin-bottom: 3px;
  padding: .4em 0 1em;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  color: #777;
  font-size: .8em;
  display: inline-block; }
  #iconography li .icon {
    font-size: 3em;
    display: block; }

#typography {
  padding-bottom: 5em;
  background: #a6001b;
  position: relative;
  color: white;
  overflow: hidden; }
  #typography h2 {
    text-align: center; }
  #typography .main-text {
    text-align: center;
    width: 90%;
    margin: 1.8em auto 3em; }

#landscape {
  margin-left: -450px;
  width: 400px;
  top: 263px;
  display: none; }

#portrait {
  display: block;
  margin: 3em auto 0;
  width: 280px; }

#portrait-iphone {
  width: 120px;
  top: 345px;
  display: none;
  margin-left: 237px; }

#rdd-ux h2 {
  margin-top: 1em;
  text-align: center; }
#rdd-ux .main-text {
  margin: 2em auto 3em;
  width: 90%;
  text-align: center; }
#rdd-ux .rdd-red {
  font-style: italic; }
#rdd-ux #ux-hero-video {
  width: 280px;
  margin: 0 auto;
  display: block; }
#rdd-ux .right {
  position: relative;
  width: 90%;
  margin: 0 auto; }

#rdd-love {
  text-align: center;
  padding: 2em 0 0; }

#screen-holder {
  height: 920px;
  position: relative;
  overflow: hidden; }
  #screen-holder h2 {
    width: 80%;
    margin: .4em auto .7em; }
  #screen-holder blockquote {
    font-size: 1.4em;
    width: 90%;
    margin: 0 auto 1.5em;
    line-height: 1.2; }
    #screen-holder blockquote span {
      margin-top: .5em;
      font-size: .4em;
      color: #777;
      display: block;
      text-align: right;
      text-transform: uppercase; }
      #screen-holder blockquote span a:link,
      #screen-holder blockquote span a:visited {
        color: #a6001b; }
      #screen-holder blockquote span a:hover {
        color: #555; }

#iphone {
  width: 280px; }

#ipad {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 800px;
  z-index: 2;
  display: none;
  margin-left: 110px; }

#featured-badge {
  display: inline-block;
  width: 200px;
  margin: 0px auto; }

#dl-rdd {
  display: inline-block;
  margin: 40px auto; }

/* Videos ------- */
#rdd-videos {
  padding: 5em 0 6em;
  background: #a6001b; }
  #rdd-videos:after {
    content: "";
    clear: both;
    display: block; }
  #rdd-videos h3 {
    color: white;
    font-size: 1.8em;
    margin-bottom: 1em; }

/*
                         888                             
                         888                             
                         888                             
888d888 .d88b.  888  888 888888 .d88b.  888d888 .d8888b  
888P"  d8P  Y8b 888  888 888   d8P  Y8b 888P"   88K      
888    88888888 888  888 888   88888888 888     "Y8888b. 
888    Y8b.     Y88b 888 Y88b. Y8b.     888          X88 
888     "Y8888   "Y88888  "Y888 "Y8888  888      88888P' 
                                                         
*/
.data {
  position: absolute;
  border: 2px solid #8c5825;
  width: 30px;
  height: 30px;
  margin-left: -15px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%; }

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%; }

#circle1 {
  width: 400px;
  height: 400px;
  margin-left: -200px;
  margin-top: -200px; }

#data01,
#data11,
#data21,
#data31 {
  top: 0px;
  left: 50%; }

#data02,
#data12,
#data22,
#data32 {
  top: 10%;
  left: 76%; }

#data03,
#data13,
#data23,
#data33 {
  top: 30%;
  left: 96%; }

#data04,
#data14,
#data24,
#data34 {
  top: 58%;
  left: 95%; }

#data05,
#data15,
#data25,
#data35 {
  top: 87%;
  left: 77%; }

#data06,
#data16,
#data26,
#data36 {
  top: 96%;
  left: 47%; }

#data07,
#data17,
#data27,
#data37 {
  top: 82%;
  left: 21%; }

#data08,
#data18,
#data28,
#data38 {
  top: 58%;
  left: 2%; }

#data09,
#data19,
#data29,
#data39 {
  top: 29%;
  left: 5%; }

#data10,
#data20,
#data30,
#data40 {
  top: 7%;
  left: 20%; }

#circle2 {
  width: 650px;
  height: 650px;
  margin-left: -325px;
  margin-top: -325px;
  transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg); }
  #circle2 .data {
    width: 26px;
    height: 26px;
    margin-left: -13px; }

#circle3 {
  width: 900px;
  height: 900px;
  margin-left: -450px;
  margin-top: -450px;
  transform: rotate(25deg);
  -webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  -ms-transform: rotate(25deg); }
  #circle3 .data {
    width: 20px;
    height: 20px;
    margin-left: -10px; }

#circle4 {
  width: 1200px;
  height: 1200px;
  margin-left: -600px;
  margin-top: -600px;
  transform: rotate 45deg;
  -webkit-transform: rotate 45deg;
  -moz-transform: rotate 45deg;
  -ms-transform: rotate 45deg;
  transition-duration: 200ms;
  -webkit-transition-duration: rotate 45deg;
  -moz-transition-duration: rotate 45deg;
  -ms-transition-duration: rotate 45deg; }
  #circle4 .data {
    width: 12px;
    height: 12px;
    margin-left: -6px; }

#data-strategy {
  background: #e8892d url(../images/reutersbg.png) top left repeat;
  padding-bottom: 3em; }
  #data-strategy h2, #data-strategy h3 {
    color: #5b3001; }
  #data-strategy img {
    width: 100%; }
  #data-strategy h2 {
    width: 100%; }
  #data-strategy .main-text {
    margin: 1.5em auto 0em; }

#feature-rundown {
  width: 90%;
  margin: 0 auto; }
  #feature-rundown li {
    position: relative;
    padding: 2em 0;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box; }
    #feature-rundown li img {
      width: 70%;
      display: inline-block;
      margin: 0 auto; }
    #feature-rundown li h3 {
      margin-top: .5em;
      font-size: 2em; }
    #feature-rundown li p {
      width: 100%;
      font-size: 1em;
      text-align: center;
      margin-top: 1em; }
    #feature-rundown li.even {
      text-align: center; }
      #feature-rundown li.even img {
        left: auto;
        right: 0; }
      #feature-rundown li.even p {
        text-align: center; }

#reusable-components {
  border-bottom: 2px dotted #dadada;
  padding-bottom: 1em; }
  #reusable-components img {
    width: 90%;
    margin: 0 auto; }
  #reusable-components h3 {
    font-size: 1.4em;
    font-weight: bold;
    margin: 3.2em 0 1.2em;
    text-transform: uppercase; }
  #reusable-components .main-text {
    margin: 1.5em auto 2em; }
  #reusable-components ul {
    margin-top: 5em; }
  #reusable-components li {
    width: 90%;
    margin: 0 auto 4em; }
    #reusable-components li strong {
      display: block;
      margin: .4em 0;
      font-size: 1.6em;
      font-family: Fjalla One; }
    #reusable-components li p {
      font-size: 1em;
      color: #777; }
    #reusable-components li img {
      width: 90px; }

#proven-design img {
  width: 130px;
  margin: 0 auto; }
#proven-design .main-text {
  width: 80%;
  margin: 1.5em auto 3em; }
#proven-design #web {
  width: 90%;
  margin: 0 auto; }

/*
                          .d8888b.   .d8888b.  
                         d88P  Y88b d88P  Y88b 
                         888    888 888    888 
 8888b.  888d888 .d8888b Y88b. d888 888    888 
    "88b 888P"  d88P"     "Y888P888 888    888 
.d888888 888    888             888 888    888 
888  888 888    Y88b.    Y88b  d88P Y88b  d88P 
"Y888888 888     "Y8888P  "Y8888P"   "Y8888P"  
                                               
*/
#arc90-background {
  border-top: 10px solid #3d80af; }
  #arc90-background .main-text {
    margin-top: 2.2em; }

#me {
  background: #444;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1; }
  #me.hidden {
    z-index: 0; }
  #me #message {
    position: absolute;
    top: 32%;
    left: 50%;
    margin-left: -350px;
    width: 700px;
    text-align: center; }
    #me #message h2 {
      color: white;
      font-size: 2em;
      width: 100%;
      float: left;
      margin-top: .4em;
      font-family: Kite One; }
    #me #message p {
      width: 100%;
      margin-top: 2em;
      color: white;
      font-size: 1.2em;
      color: #a1a1a1;
      font-family: Trebuchet MS, Lucida Grande, sans-serif; }

#bg-portrait {
  display: inline-block;
  width: 120px;
  height: 120px;
  border: 6px solid #5b8aab;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%; }

#arrow {
  position: absolute;
  top: 12%;
  left: 100%;
  width: 60px;
  border: none; }

#how-done {
  position: absolute;
  top: 15%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  line-height: 1.1;
  color: #777;
  text-align: center;
  font-family: Waiting for the Sunrise; }

#arc-logo {
  width: 100px;
  display: block; }

#arc {
  width: 80px;
  display: block;
  margin: 0 auto; }

#arc-details {
  background: #316c96;
  color: white; }
  #arc-details p {
    margin: 2.2em auto 1em; }
  #arc-details #feature-rundown h3 {
    color: #91cef1; }
  #arc-details #feature-rundown li {
    padding-top: 2em; }

#peek-through {
  width: 100%;
  height: 500px;
  padding: 0; }

#people {
  overflow: hidden; }
  #people p {
    margin: 0 auto; }
  #people ul {
    text-align: center;
    width: 1000px;
    margin: 3em 0 3em -320px; }
  #people li {
    margin: 0 5px;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border: 2px solid #c2d8e7;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    display: inline-block; }
    #people li img {
      width: 100%;
      border: 2px solid #fff;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      -ms-border-radius: 50%;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box; }

#narratives .main-text {
  margin: 2.2em auto 2em; }
#narratives ul {
  width: 90%;
  margin: 4em auto 0em; }
  #narratives ul:after {
    content: "";
    clear: both;
    display: block; }
  #narratives ul li {
    float: left;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 20px; }
    #narratives ul li img {
      width: 100%; }
    #narratives ul li:first-child {
      margin-top: 0; }

#homepage {
  width: 90%;
  margin: 4em auto 0;
  display: block; }

@media screen and (min-width: 748px) {
  .header.arc90 {
    background: #0f1d26 url(../images/arc90_header_image.jpg) top center no-repeat;
    background-size: 100%; }

  .wrapper {
    width: 748px;
    margin: 0 auto; }

  #hobbies li {
    margin: 0 20px;
    width: 70px;
    height: 70px; }

  #resume-pitch a:link,
  #resume-pitch a:visited {
    margin: 3em 0 0 0.3em;
    width: auto;
    display: inline; }

  /* Work */
  .header {
    height: 440px; }

  #title-card {
    top: 38%; }

  section {
    padding: 7em 0 6em; }
    section h2 {
      font-size: 4em; }
    section .main-text {
      width: 70%;
      font-size: 1.2em; }

  #reuters-intro ul li,
  #arc90-background ul li,
  #rdd-background ul li {
    display: inline-block;
    margin: -1em 0 2em;
    padding-left: 50px;
    width: 160px;
    text-align: left; }
  #reuters-intro ul img,
  #arc90-background ul img,
  #rdd-background ul img {
    width: 40px;
    position: absolute; }

  #thoughtful-design {
    padding-bottom: 3.5em; }

  #rdd-feature-rundown {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    width: 87%;
    margin: 0 auto; }

  #iconography h2 {
    font-size: 4em; }
    #iconography h2 .icon {
      display: inline;
      margin-right: 0.2em; }
  #iconography p {
    width: 90%; }
  #iconography li {
    width: 14%;
    padding: .6em 0 1.6em; }
    #iconography li .icon {
      font-size: 4em; }

  #typography {
    height: 1200px;
    padding: 6em 0 5em; }
    #typography h2 {
      text-align: left;
      margin: 0 30px; }
    #typography img {
      position: absolute;
      left: 50%; }
    #typography .main-text {
      text-align: left;
      width: 90%;
      margin: 1.8em 30px 3em; }

  #landscape {
    margin-left: -900px;
    width: 800px;
    top: 536px;
    display: block; }

  #portrait {
    top: 440px;
    margin-left: -80px;
    height: 800px;
    width: auto; }

  #portrait-iphone {
    width: 240px;
    top: 700px;
    display: block;
    margin-left: 474px; }

  #rdd-ux {
    padding: 6em 0; }
    #rdd-ux h2, #rdd-ux .main-text {
      text-align: left; }
    #rdd-ux h2 {
      margin-top: 0; }
    #rdd-ux .main-text {
      width: 100%; }
    #rdd-ux #ux-hero-video {
      float: left;
      width: 280px;
      margin: 0 0 0 6%; }
    #rdd-ux .right {
      position: relative;
      width: 42%;
      float: left;
      margin: 60px 0 0 8%; }

  #ux-videos {
    text-align: center; }
    #ux-videos li {
      display: inline-block;
      width: 33.3%; }
      #ux-videos li a:link,
      #ux-videos li a:visited {
        position: relative;
        display: block; }
      #ux-videos li strong {
        margin-top: .3em;
        color: white;
        transition: color 150ms ease-in-out;
        -webkit-transition: color 150ms ease-in-out;
        -moz-transition: color 150ms ease-in-out;
        -ms-transition: color 150ms ease-in-out; }
      #ux-videos li a:hover strong {
        color: #fb96a6; }
      #ux-videos li a:hover .play-btn {
        background: #a6001b; }
      #ux-videos li .play-btn {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 41%;
        left: 50%;
        margin: -20px 0 0 -20px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        -ms-border-radius: 50%;
        border: 2px solid #fff; }
      #ux-videos li .play-arrow {
        position: absolute;
        top: 50%;
        left: 50%;
        border: 6px solid #fff;
        margin: -6px 0 0 -8px;
        border-left-color: transparent;
        border-bottom-color: transparent;
        transform: rotateZ(45deg);
        -webkit-transform: rotateZ(45deg);
        -moz-transform: rotateZ(45deg);
        -ms-transform: rotateZ(45deg); }
      #ux-videos li img {
        width: 90%; }

  #rdd-love {
    text-align: right;
    padding: 6em 0 8em; }

  #screen-holder {
    height: 560px; }
    #screen-holder h2 {
      width: 50%;
      margin: .8em 0 .7em 5%; }
    #screen-holder blockquote {
      font-size: 1.6em;
      width: 50%;
      margin: 0 0 1.5em 5%; }

  #iphone {
    position: absolute;
    top: 70px;
    width: 230px;
    left: 60%;
    z-index: 3;
    margin-left: 0px; }

  #ipad {
    position: absolute;
    top: 0px;
    left: 55%;
    width: 800px;
    z-index: 2;
    display: block;
    margin-left: 110px; }

  #featured-badge {
    float: left;
    display: inline-block;
    width: 200px;
    margin-left: 50px; }

  #dl-rdd {
    float: left;
    margin: 20px 20px 0 30px; }

  #contact-me {
    padding: 4em 0 5em; }
    #contact-me li {
      width: 45%;
      display: inline-block;
      padding-left: 5%;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      text-align: left;
      margin: 0; }
      #contact-me li:first-child {
        padding: 0 5% 0 0;
        text-align: right;
        padding-top: none;
        border-bottom: none; }
    #contact-me.arc90 li:first-child {
      border-right: 1px solid #c5d7e3; }
    #contact-me.reuters li:first-child {
      border-right: 1px solid #e3d4c5; }
    #contact-me.readability li:first-child {
      border-right: 1px solid #e4c7cb; }

  footer {
    padding: 8em 0 0;
    height: 200px; }
    footer h3 {
      font-size: 2.8em; }

  #data-strategy {
    padding-bottom: 9em; }
    #data-strategy p {
      width: 80%; }

  #feature-rundown {
    width: 688px;
    margin: 0 auto; }
    #feature-rundown li {
      padding: 1.5em 0 .5em 35%;
      text-align: left;
      margin-top: 5em; }
      #feature-rundown li img {
        width: 30%;
        position: absolute;
        top: 0;
        left: 0; }
      #feature-rundown li h3 {
        margin-top: 0;
        font-size: 2.5em; }
      #feature-rundown li p {
        font-size: 1.1em;
        text-align: left; }
      #feature-rundown li.even {
        text-align: right;
        padding-left: 0;
        padding-right: 35%; }
        #feature-rundown li.even p {
          text-align: right; }

  #reusable-components {
    padding-bottom: 4em; }
    #reusable-components img {
      width: 100%; }
    #reusable-components li {
      float: left;
      width: 44%;
      margin: 0 3% 4em 3%; }
      #reusable-components li strong {
        margin: .6em 0;
        font-size: 1.2em; }
      #reusable-components li img {
        width: 70px; }

  #proven-design .main-text {
    width: 64%; }
  #proven-design #web {
    width: 100%; }

  #people ul {
    width: 1600px;
    margin: 4em 0 4em -416px; }
  #people li {
    width: 120px;
    height: 120px;
    border-width: 4px; }
    #people li img {
      border-width: 4px; }

  #me #message {
    top: 28%; }
    #me #message h2 {
      font-size: 4em;
      margin-top: .2em; }
    #me #message p {
      margin-top: 3em;
      font-size: 1.4em; }

  #bg-portrait {
    width: 160px;
    height: 160px;
    border-width: 8px; }

  #arrow {
    top: 21%;
    left: 52%;
    width: 120px; }

  #how-done {
    top: 26%;
    left: 65%;
    margin-left: 0;
    text-align: left;
    width: 300px;
    font-size: 1.7em; }

  #narratives ul {
    width: 95%;
    margin: 8em auto 0em; }
    #narratives ul li {
      width: 50%;
      margin-bottom: 20px;
      margin-top: 0; }
      #narratives ul li img {
        width: 110%;
        margin-left: -5%; }
      #narratives ul li:first-child {
        margin-top: -30px; }

  #homepage {
    width: 100%; }

  #left-column,
  #center-column,
  #right-column {
    float: left;
    margin: 0; }

  #left-column {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 4em; }
    #left-column p {
      font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif; }

  #center-column {
    width: 60%;
    margin: 0 5%; }

  #right-column {
    width: 25%;
    margin-top: 0; } }
@media screen and (min-width: 1002px) {
  .wrapper {
    width: 960px; }

  #michael-brandon h3 {
    display: block;
    font-weight: bold;
    font-size: 3em;
    margin: 1.4em 0 .6em;
    text-align: center;
    font-family: Patua One;
    text-transform: uppercase; }
  #michael-brandon .main-text {
    width: 600px;
    margin: 0 auto;
    text-align: center; }
  #michael-brandon .wrapper {
    width: 800px; }

  #typography {
    height: 1200px;
    padding: 7em 0 6em; }

  #rdd-ux {
    padding: 8em 0; }
    #rdd-ux #ux-hero-video {
      float: left;
      width: 320px;
      margin: 0 0 0 8%; }
    #rdd-ux .right {
      position: relative;
      width: 45%;
      float: left;
      margin: 120px 0 0 6%; }

  section h2 {
    font-size: 5em; }

  #iconography h2 {
    font-size: 5em; }
  #iconography li {
    width: 12%; }

  #rdd-love {
    padding-top: 8em; }

  #screen-holder {
    height: 560px; }
    #screen-holder h2 {
      width: 45%;
      margin: .8em 0 .7em; }
    #screen-holder blockquote {
      font-size: 1.6em;
      width: 40%;
      margin: 0 0 1.5em 5%; }

  #iphone {
    position: absolute;
    top: 70px;
    width: 230px;
    left: 50%;
    z-index: 3;
    margin-left: 0px; }

  #ipad {
    position: absolute;
    top: 0px;
    left: 45%;
    width: 800px;
    z-index: 2;
    display: block;
    margin-left: 110px; }

  #featured-badge {
    margin-left: 66px; }

  #feature-rundown {
    width: 768px; }
    #feature-rundown li {
      padding: 2em 0 1em 35%; }

  #reusable-components li {
    width: 21%;
    margin: 0 2% 4em 2%; }
    #reusable-components li img {
      width: 50px; }

  #arrow {
    left: 55%; }

  #how-done {
    top: 28%; }

  #left-column,
  #center-column,
  #right-column {
    float: left;
    margin: 0; }

  #left-column {
    width: 20%;
    margin-left: 5%;
    margin-bottom: 4em; }
    #left-column p {
      font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif; }

  #center-column {
    width: 40%;
    margin: 0 5%; }

  #right-column {
    width: 20%;
    margin-top: 0; } }
