@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
body {
  color: #444444;
  font-size: 1em;
  background-color: #f1f1f1;
  /* Fix for bolder font rendering on Firefox */
  -moz-osx-font-smoothing: grayscale;
  font-family: "Khula", "Avenir Next", "Gill Sans", "Trebuchet MS", sans-serif; }

body {
  counter-reset: item; }

a:link, a:visited {
  text-decoration: none;
  color: purple; }

a:hover {
  color: blue; }

h1, h2, h3, h4 {
  line-height: 1.2; }

p, li {
  line-height: 1.6;
  -webkit-font-smoothing: antialiased; }

li {
  list-style: none; }

em {
  font-style: italic;
  text-transform: none; }

.block {
  display: block; }

img {
  transition: opacity .2s ease-out, transform .2s ease-in-out;
  transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  opacity: 1; }
  img.invisible {
    opacity: 0; }

/** 
 * Reset for noscript
 */
.no-js .invisible {
  display: none; }

/* Removed with JS for noscript support*/
.hidden {
  display: none; }

::selection {
  background: #e8d8f3; }

::-moz-selection {
  background: #e8d8f3; }

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #b1b1b1; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #b1b1b1;
  opacity: 1; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #b1b1b1;
  opacity: 1; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #b1b1b1; }

:placeholder-shown {
  color: #b1b1b1; }

/*

         888          888               888 
         888          888               888 
         888          888               888 
 .d88b.  888  .d88b.  88888b.   8888b.  888 
d88P"88b 888 d88""88b 888 "88b     "88b 888 
888  888 888 888  888 888  888 .d888888 888 
Y88b 888 888 Y88..88P 888 d88P 888  888 888 
 "Y88888 888  "Y88P"  88888P"  "Y888888 888 
     888                                    
Y8b d88P                                    
 "Y88P"                                     
                                                               
*/
.content-wrapper, .divider {
  max-width: 1024px;
  width: 80%;
  margin: 0 auto;
  position: relative; }
  .content-wrapper:after, .divider:after {
    content: "";
    clear: both;
    display: block; }

section {
  overflow: hidden;
  padding: 3em 0 4em; }
  section:after {
    content: "";
    clear: both;
    display: block; }

h1 {
  font-size: 1.7em; }

h2 {
  font-size: 1.7em; }

h3 {
  font-size: 1em; }

p {
  font-size: 14px;
  line-height: 28px; }

.small-uppercase {
  text-transform: uppercase;
  letter-spacing: .1em;
  line-height: 1.6; }

.small-lowercase {
  color: #888;
  margin-bottom: 1em;
  font-family: "Khula", "Avenir Next", "Gill Sans", "Trebuchet MS", sans-serif; }

.white-background {
  background: white; }

h2, h3, h4 {
  font-family: "Quicksand", sans-serif;
  font-weight: bold; }

.divider {
  background: transparent url("../images/divider.png") top left repeat-x;
  background-size: auto 24px;
  height: 24px; }

.counter {
  position: absolute;
  top: 30px;
  left: -40px;
  font-family: "Copse", sans-serif;
  background: transparent url("../images/heading_accent_dark.svg") left top no-repeat;
  width: 112px;
  height: 42px;
  padding: 35px 0;
  text-align: center;
  z-index: 1;
  color: #9273a8;
  letter-spacing: 0;
  font-weight: 300;
  font-size: 2.2em;
  display: block;
  line-height: 1.2; }
  .counter.light {
    background: transparent url("../images/heading_accent.svg") left top no-repeat; }
  .counter.centered {
    left: 50%;
    margin-left: -56px; }

.section-heading {
  padding-top: 5.2em;
  margin-bottom: 2.2em;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  letter-spacing: .1em; }
  .section-heading::after {
    content: " ";
    text-indent: -9999px;
    position: absolute;
    bottom: -.5em;
    left: 0;
    width: 40px;
    height: 2px;
    background: #9273a8; }
  .section-heading.centered {
    text-align: center; }
    .section-heading.centered::after {
      left: 50%;
      margin-left: -20px; }

/***
 *****************************
 **** Doo Intro Hero
 *****************************
 */
.doo-title {
  padding-top: 2em;
  max-width: 1050px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 0;
  margin-bottom: 0; }
  .doo-title h1 {
    width: 100%;
    background: transparent url("../images/doo_main_title.svg") center center no-repeat;
    background-size: 80% auto;
    padding: 2em 0;
    font-size: 2em;
    text-align: center;
    text-indent: -9999px; }

/*img*/
.doo-main-hero {
  float: left;
  width: 100%;
  max-width: 1265px; }

/*img*/
.stack-hero {
  max-width: 1265px;
  width: 90%; }

.cardified {
  padding: 1em .4em;
  border: 2px solid #444;
  border-radius: 4px;
  font-weight: bold;
  margin: 0 .2em;
  display: inline-block; }

/***
 *****************************
 **** Doo Background
 *****************************
 */
.project-description {
  margin-bottom: 2em; }

.introduction-skills {
  display: inline-block;
  width: 100%; }
  .introduction-skills li {
    text-transform: uppercase;
    font-size: 12px;
    color: #a1a1a1;
    letter-spacing: .2em;
    line-height: 2; }

/***
 *****************************
 **** Stack
 *****************************
 */
.stack-overview {
  position: relative;
  padding-bottom: 0; }
  .stack-overview h3 {
    margin: 3em 0 1em; }

.stack-gestures {
  margin-top: 2em; }
  .stack-gestures li {
    font-family: "Quicksand", sans-serif;
    padding: 1em 0 1em 44px;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: .9em;
    font-weight: bold;
    background-size: 30px auto; }

.complete-action {
  background: transparent url("../images/complete_icon.svg") center left no-repeat; }

.snooze-action {
  background: transparent url("../images/snooze_icon.svg") center left no-repeat; }

/* img */
.stack-hero {
  position: relative;
  top: 0px; }

/***
 *****************************
 **** Doo Brain
 *****************************
 */
.brain-description {
  padding-bottom: 5em;
  margin: 0 auto;
  width: 90%;
  text-align: center; }
  .brain-description p {
    margin: -1em auto 0; }
  .brain-description h3 {
    background: transparent url("../images/brain.svg") center center no-repeat;
    padding: 4em 0 4em;
    margin: 0 auto; }

.image-group {
  height: 900px; }

.image-01,
.image-02,
.image-03 {
  position: absolute;
  width: 200px;
  display: block;
  left: 50%; }

.image-01 {
  top: 0;
  margin-left: -150px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6); }

.image-02 {
  top: 240px;
  margin-left: -50px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4); }

.image-03 {
  top: 540px;
  margin-left: -150px;
  box-shadow: 0 20px 36px rgba(0, 0, 0, 0.24); }

.navigation-pattern {
  text-align: center;
  background: #adb3d3;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #adb3d3 24%, #9b9abc 67%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #adb3d3 24%, #9b9abc 67%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #adb3d3 24%, #9b9abc 67%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: white;
  padding: 3em 0 0;
  vertical-align: bottom; }
  .navigation-pattern img {
    width: 100%;
    max-width: 816px;
    margin: 4em auto 0;
    padding-bottom: 0;
    display: block; }
  .navigation-pattern h3 {
    text-transform: uppercase;
    font-size: 1.4em;
    background: transparent url("../images/nav_icon.svg") center center no-repeat;
    padding: 2em 0;
    letter-spacing: .1em; }
  .navigation-pattern p {
    width: 80%;
    margin: 0 auto; }

.list-overview h3, .list-overview p {
  width: 90%;
  margin: 0 auto;
  text-align: center; }
.list-overview h3 {
  margin: 3em auto 1em; }

.full-width-image {
  width: 100%;
  overflow: hidden;
  padding: 0; }

.doo-desk {
  width: 150%;
  max-width: 2200px;
  margin: 0 0 0 -25%;
  display: block; }

.doo-workflow {
  padding-bottom: 3em; }
  .doo-workflow ul {
    margin-top: 2em; }
  .doo-workflow li {
    width: 100%;
    text-align: center;
    display: inline-block;
    vertical-align: top; }
    .doo-workflow li img {
      width: 100%;
      max-width: 312px;
      display: block;
      margin: 0 auto; }

.details {
  width: 90%;
  margin: 2em auto 4em; }

.detail-header {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1em;
  color: #9273a8;
  text-transform: uppercase; }

.illustrations {
  padding-top: 1em;
  text-align: center; }
  .illustrations h3 {
    margin: 4em 0 1em; }
  .illustrations p {
    margin: 0 auto; }
  .illustrations img {
    width: 150%;
    margin-left: -25%; }

.by-the-numbers {
  margin-top: 5em; }
  .by-the-numbers li {
    text-align: center;
    display: inline-block;
    margin: 0 30px 2em;
    vertical-align: middle; }
  .by-the-numbers span {
    display: inline-block; }
  .by-the-numbers .number {
    font-family: "Quicksand", sans-serif;
    color: #9273a8;
    font-size: 1.4em;
    line-height: 1.3;
    font-weight: bold;
    padding: .4em .8em;
    border: 1px solid #9273a8;
    border-radius: 4px;
    margin-right: .4em;
    vertical-align: middle; }
  .by-the-numbers .label {
    font-family: "Quicksand", sans-serif;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bold;
    vertical-align: middle;
    margin-top: .5em; }

.doo-icon {
  background: #adb3d3;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #adb3d3 24%, #9b9abc 67%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #adb3d3 24%, #9b9abc 67%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #adb3d3 24%, #9b9abc 67%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: white;
  text-align: center; }
  .doo-icon img {
    width: 104px;
    display: block;
    margin: 0 auto; }
  .doo-icon h3 {
    margin: 2em 0 1em; }
  .doo-icon p {
    width: 80%;
    margin: 0 auto; }

.reception .content-wrapper, .reception .divider {
  max-width: 800px; }
.reception blockquote {
  font-family: "Unna", "Palatino", "Georgia", serif;
  font-size: 2.8em;
  line-height: 1.2;
  margin: 3em 0 1.6em;
  position: relative; }
.reception cite {
  font-family: "Quicksand", sans-serif;
  display: block;
  color: #9273a8;
  font-size: .3em;
  text-transform: uppercase;
  margin-top: 2em;
  letter-spacing: 0.2em; }
.reception p {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  margin-bottom: 2em; }
.reception h4 {
  text-align: center;
  text-transform: uppercase;
  color: #9273a8;
  font-size: 14px;
  margin-top: 3em;
  letter-spacing: .2em; }

.corner-accent {
  width: 300px;
  height: 200px;
  position: absolute;
  top: 0px;
  left: 0px;
  border-bottom: 0;
  border-right: 0; }
  .corner-accent::before {
    font-family: "Unna", "Palatino", "Georgia", serif;
    content: "“";
    font-size: 2em;
    position: absolute;
    left: 0px;
    top: -56px; }

.column-left {
  margin-right: 5%; }

.logos {
  text-align: center;
  margin-top: 2em; }
  .logos img {
    height: 30px; }
  .logos li {
    display: block;
    margin-top: 40px; }

/**
 333333333333333   77777777777777777777555555555555555555 
3:::::::::::::::33 7::::::::::::::::::75::::::::::::::::5 
3::::::33333::::::37::::::::::::::::::75::::::::::::::::5 
3333333     3:::::3777777777777:::::::75:::::555555555555 
            3:::::3           7::::::7 5:::::5            
            3:::::3          7::::::7  5:::::5            
    33333333:::::3          7::::::7   5:::::5555555555   
    3:::::::::::3          7::::::7    5:::::::::::::::5  
    33333333:::::3        7::::::7     555555555555:::::5 
            3:::::3      7::::::7                  5:::::5
            3:::::3     7::::::7                   5:::::5
            3:::::3    7::::::7        5555555     5:::::5
3333333     3:::::3   7::::::7         5::::::55555::::::5
3::::::33333::::::3  7::::::7           55:::::::::::::55 
3:::::::::::::::33  7::::::7              55:::::::::55   
 333333333333333   77777777                 555555555     
 **/
@media screen and (min-width: 375px) {
  .content-wrapper, .divider {
    width: 82%; }

  .by-the-numbers .label {
    margin-top: 0; } }
/*
       444444444       000000000          000000000     
      4::::::::4     00:::::::::00      00:::::::::00   
     4:::::::::4   00:::::::::::::00  00:::::::::::::00 
    4::::44::::4  0:::::::000:::::::00:::::::000:::::::0
   4::::4 4::::4  0::::::0   0::::::00::::::0   0::::::0
  4::::4  4::::4  0:::::0     0:::::00:::::0     0:::::0
 4::::4   4::::4  0:::::0     0:::::00:::::0     0:::::0
4::::444444::::4440:::::0 000 0:::::00:::::0 000 0:::::0
4::::::::::::::::40:::::0 000 0:::::00:::::0 000 0:::::0
4444444444:::::4440:::::0     0:::::00:::::0     0:::::0
          4::::4  0:::::0     0:::::00:::::0     0:::::0
          4::::4  0::::::0   0::::::00::::::0   0::::::0
          4::::4  0:::::::000:::::::00:::::::000:::::::0
        44::::::44 00:::::::::::::00  00:::::::::::::00 
        4::::::::4   00:::::::::00      00:::::::::00   
        4444444444     000000000          000000000    
        */
@media screen and (min-width: 400px) {
  .doo-title {
    padding-top: 1em; }
    .doo-title h1 {
      background-size: 360px auto;
      padding: 2em 0;
      font-size: 3em; } }
/*
555555555555555555      000000000          000000000     
5::::::::::::::::5    00:::::::::00      00:::::::::00   
5::::::::::::::::5  00:::::::::::::00  00:::::::::::::00 
5:::::555555555555 0:::::::000:::::::00:::::::000:::::::0
5:::::5            0::::::0   0::::::00::::::0   0::::::0
5:::::5            0:::::0     0:::::00:::::0     0:::::0
5:::::5555555555   0:::::0     0:::::00:::::0     0:::::0
5:::::::::::::::5  0:::::0 000 0:::::00:::::0 000 0:::::0
555555555555:::::5 0:::::0 000 0:::::00:::::0 000 0:::::0
            5:::::50:::::0     0:::::00:::::0     0:::::0
            5:::::50:::::0     0:::::00:::::0     0:::::0
5555555     5:::::50::::::0   0::::::00::::::0   0::::::0
5::::::55555::::::50:::::::000:::::::00:::::::000:::::::0
 55:::::::::::::55  00:::::::::::::00  00:::::::::::::00 
   55:::::::::55      00:::::::::00      00:::::::::00   
     555555555          000000000          000000000   
     */
@media screen and (min-width: 500px) {
  .image-group {
    height: 1280px; }

  .image-01,
  .image-02,
  .image-03 {
    position: absolute;
    width: 300px;
    display: block;
    left: 50%; }

  .image-01 {
    top: 0;
    margin-left: -225px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6); }

  .image-02 {
    top: 300px;
    margin-left: -75px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4); }

  .image-03 {
    top: 720px;
    margin-left: -225px;
    box-shadow: 0 20px 36px rgba(0, 0, 0, 0.24); } }
/*
                                                   
                                                   
77777777777777777777   6666666677777777777777777777
7::::::::::::::::::7  6::::::6 7::::::::::::::::::7
7::::::::::::::::::7 6::::::6  7::::::::::::::::::7
777777777777:::::::76::::::6   777777777777:::::::7
           7::::::76::::::6               7::::::7 
          7::::::76::::::6               7::::::7  
         7::::::76::::::6               7::::::7   
        7::::::76::::::::66666         7::::::7    
       7::::::76::::::::::::::66      7::::::7     
      7::::::7 6::::::66666:::::6    7::::::7      
     7::::::7  6:::::6     6:::::6  7::::::7       
    7::::::7   6:::::6     6:::::6 7::::::7        
   7::::::7    6::::::66666::::::67::::::7         
  7::::::7      66:::::::::::::667::::::7          
 7::::::7         66:::::::::66 7::::::7           
77777777            666666666  77777777            
                                                   
*/
/*
                                                     
77777777777777777777   66666666        888888888     
7::::::::::::::::::7  6::::::6       88:::::::::88   
7::::::::::::::::::7 6::::::6      88:::::::::::::88 
777777777777:::::::76::::::6      8::::::88888::::::8
           7::::::76::::::6       8:::::8     8:::::8
          7::::::76::::::6        8:::::8     8:::::8
         7::::::76::::::6          8:::::88888:::::8 
        7::::::76::::::::66666      8:::::::::::::8  
       7::::::76::::::::::::::66   8:::::88888:::::8 
      7::::::7 6::::::66666:::::6 8:::::8     8:::::8
     7::::::7  6:::::6     6:::::68:::::8     8:::::8
    7::::::7   6:::::6     6:::::68:::::8     8:::::8
   7::::::7    6::::::66666::::::68::::::88888::::::8
  7::::::7      66:::::::::::::66  88:::::::::::::88 
 7::::::7         66:::::::::66      88:::::::::88   
77777777            666666666          888888888     
*/
@media screen and (min-width: 768px) {
  section {
    padding: 3em 0 8em; }

  .desktop {
    display: block; }

  h1 {
    font-size: 3em; }

  h2 {
    font-size: 2.3em; }

  h3 {
    font-size: 1.4em; }

  .content-wrapper, .divider {
    width: 700px; }
    .content-wrapper.narrow, .narrow.divider {
      max-width: 620px; }

  .counter {
    right: 0;
    left: auto; }

  .section-heading {
    padding-top: 2.2em;
    margin-bottom: 1em;
    font-size: 3em; }
    .section-heading.centered {
      padding-top: 3em;
      margin-bottom: 1.3em; }

  /******
   **** Doo Title
   ******/
  .doo-title {
    padding-top: 4em; }
    .doo-title h1 {
      background-size: 600px auto;
      padding: 2em 0;
      font-size: 4em; }

  .white-background .block {
    display: inline; }

  .project-description {
    margin-bottom: 5em; }

  .introduction-skills {
    display: inline-block;
    width: 45%;
    margin: 0 4% 0 0; }
    .introduction-skills li {
      font-size: 14px; }

  .stack-overview h3, .stack-overview p {
    width: 700px; }
  .stack-overview p {
    width: 300px; }

  .stack-gestures {
    margin-top: 5em; }
    .stack-gestures li {
      padding: 1em 0 1em 50px; }

  .stack-hero {
    top: -180px; }

  .brain-description {
    position: absolute;
    bottom: 2em;
    left: 0;
    width: 100%; }
    .brain-description p {
      margin: -3em auto 0;
      width: 400px; }

  .image-01,
  .image-02,
  .image-03 {
    width: 256px;
    position: absolute;
    margin: 0; }

  .creation-overview .counter.centered {
    left: auto;
    right: 0;
    margin-left: 0; }
  .creation-overview .section-heading.centered {
    text-align: left; }
    .creation-overview .section-heading.centered::after {
      left: 0;
      margin-left: 0; }
  .creation-overview .image-group {
    height: 700px; }
  .creation-overview .image-01,
  .creation-overview .image-02,
  .creation-overview .image-03 {
    margin: 0;
    right: auto;
    left: auto; }
  .creation-overview .image-01 {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    z-index: 1;
    top: 80px;
    left: 0; }
  .creation-overview .image-02 {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
    z-index: 2;
    top: 240px;
    left: 50%;
    margin-left: -128px; }
  .creation-overview .image-03 {
    box-shadow: 0 20px 36px rgba(0, 0, 0, 0.24);
    z-index: 3;
    top: 0px;
    right: 0; }

  .navigation-pattern {
    padding: 4em 0 0; }
    .navigation-pattern img {
      max-width: 816px;
      margin: 5em auto 0; }
    .navigation-pattern .small-uppercase {
      font-size: 1.4em;
      padding: 4em 0; }
    .navigation-pattern p {
      width: 60%;
      margin: 0 auto; }

  .list-overview {
    padding-top: 6em; }
    .list-overview h3, .list-overview p {
      text-align: left;
      width: 50%;
      margin: 0; }
    .list-overview h3 {
      margin-bottom: 1em; }
    .list-overview .counter.centered {
      left: auto;
      right: -34px;
      margin-left: 0; }
    .list-overview .section-heading {
      text-align: right; }
      .list-overview .section-heading::after {
        left: auto;
        right: 0; }
    .list-overview .image-group {
      height: 600px; }
    .list-overview .image-01,
    .list-overview .image-02,
    .list-overview .image-03 {
      margin: 0;
      right: auto;
      left: auto; }
    .list-overview .image-01 {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
      z-index: 1;
      top: -50px;
      left: 0; }
    .list-overview .image-02 {
      box-shadow: 0 20px 36px rgba(0, 0, 0, 0.24);
      z-index: 2;
      top: 30px;
      left: 50%;
      margin-left: -128px; }
    .list-overview .image-03 {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
      z-index: 1;
      top: 110px;
      right: 0; }

  .doo-desk {
    width: 100%;
    max-width: 2200px;
    margin: 0 auto;
    display: block; }

  .doo-workflow li {
    width: 33%; }
    .doo-workflow li img {
      transform: translate3d(0px, 0px, 0px);
      -webkit-transform: translate3d(0px, 0px, 0px);
      -moz-transform: translate3d(0px, 0px, 0px);
      -ms-transform: translate3d(0px, 0px, 0px);
      transition: transform 0.4s ease-out, opacity 0.4s ease-out; }
      .doo-workflow li img.invisible {
        transform: translate3d(0px, 20px, 0px);
        -webkit-transform: translate3d(0px, 20px, 0px);
        -moz-transform: translate3d(0px, 20px, 0px);
        -ms-transform: translate3d(0px, 20px, 0px); }
    .doo-workflow li .screenshot-break-down-tasks {
      transition-delay: 1000ms; }
    .doo-workflow li .screenshot-select-a-few {
      transition-delay: 1200ms; }
    .doo-workflow li .screenshot-get-things-done {
      transition-delay: 1400ms; }

  .details {
    width: 90%;
    margin: 3em auto 0; }

  .detail-header {
    font-size: 1em; }

  .illustrations {
    padding-top: 2.2em;
    text-align: center; }
    .illustrations img {
      width: 100%;
      margin: 0 auto; }
    .illustrations h3 {
      margin: 3em 0 1em; }
    .illustrations p {
      width: 60%; }

  .by-the-numbers {
    margin-top: 5em; }

  .doo-icon {
    padding-top: 8em; }
    .doo-icon img {
      width: 144px; }
    .doo-icon h3 {
      margin: 2em 0 1em; }
    .doo-icon p {
      width: 50%;
      margin: 0 auto; }

  .reception .content-wrapper, .reception .divider {
    max-width: 600px; }
  .reception blockquote {
    font-size: 3.8em;
    margin: 3em 0 1.3em; }
  .reception cite {
    font-size: .3em;
    margin-top: 2em; }
  .reception p {
    display: inline-block;
    width: 45%;
    vertical-align: top; }
  .reception h4 {
    margin-top: 4em;
    text-align: left; }

  .logos {
    text-align: left;
    margin-top: 2em; }
    .logos img {
      height: 20px; }
    .logos li {
      display: inline-block;
      margin: 0 40px 0 0; }

  .corner-accent {
    width: 200px;
    height: 300px;
    position: absolute;
    top: -100px;
    left: -60px;
    border: 1px solid #e1e1e1;
    border-bottom: 0;
    border-right: 0; }
    .corner-accent::before {
      font-size: 2em;
      left: 54px;
      top: 17px; } }
/*
     888888888             66666666        000000000     
   88:::::::::88          6::::::6       00:::::::::00   
 88:::::::::::::88       6::::::6      00:::::::::::::00 
8::::::88888::::::8     6::::::6      0:::::::000:::::::0
8:::::8     8:::::8    6::::::6       0::::::0   0::::::0
8:::::8     8:::::8   6::::::6        0:::::0     0:::::0
 8:::::88888:::::8   6::::::6         0:::::0     0:::::0
  8:::::::::::::8   6::::::::66666    0:::::0 000 0:::::0
 8:::::88888:::::8 6::::::::::::::66  0:::::0 000 0:::::0
8:::::8     8:::::86::::::66666:::::6 0:::::0     0:::::0
8:::::8     8:::::86:::::6     6:::::60:::::0     0:::::0
8:::::8     8:::::86:::::6     6:::::60::::::0   0::::::0
8::::::88888::::::86::::::66666::::::60:::::::000:::::::0
 88:::::::::::::88  66:::::::::::::66  00:::::::::::::00 
   88:::::::::88      66:::::::::66      00:::::::::00   
     888888888          666666666          000000000     
     */
/*
     999999999       1111111        000000000     
   99:::::::::99    1::::::1      00:::::::::00   
 99:::::::::::::99 1:::::::1    00:::::::::::::00 
9::::::99999::::::9111:::::1   0:::::::000:::::::0
9:::::9     9:::::9   1::::1   0::::::0   0::::::0
9:::::9     9:::::9   1::::1   0:::::0     0:::::0
 9:::::99999::::::9   1::::1   0:::::0     0:::::0
  99::::::::::::::9   1::::l   0:::::0 000 0:::::0
    99999::::::::9    1::::l   0:::::0 000 0:::::0
         9::::::9     1::::l   0:::::0     0:::::0
        9::::::9      1::::l   0:::::0     0:::::0
       9::::::9       1::::l   0::::::0   0::::::0
      9::::::9     111::::::1110:::::::000:::::::0
     9::::::9      1::::::::::1 00:::::::::::::00 
    9::::::9       1::::::::::1   00:::::::::00   
   99999999        111111111111     000000000   
   */
/*
     999999999      222222222222222         000000000     
   99:::::::::99   2:::::::::::::::22     00:::::::::00   
 99:::::::::::::99 2::::::222222:::::2  00:::::::::::::00 
9::::::99999::::::92222222     2:::::2 0:::::::000:::::::0
9:::::9     9:::::9            2:::::2 0::::::0   0::::::0
9:::::9     9:::::9            2:::::2 0:::::0     0:::::0
 9:::::99999::::::9         2222::::2  0:::::0     0:::::0
  99::::::::::::::9    22222::::::22   0:::::0 000 0:::::0
    99999::::::::9   22::::::::222     0:::::0 000 0:::::0
         9::::::9   2:::::22222        0:::::0     0:::::0
        9::::::9   2:::::2             0:::::0     0:::::0
       9::::::9    2:::::2             0::::::0   0::::::0
      9::::::9     2:::::2       2222220:::::::000:::::::0
     9::::::9      2::::::2222222:::::2 00:::::::::::::00 
    9::::::9       2::::::::::::::::::2   00:::::::::00   
   99999999        22222222222222222222     000000000    
   */
/*
     999999999            66666666        000000000     
   99:::::::::99         6::::::6       00:::::::::00   
 99:::::::::::::99      6::::::6      00:::::::::::::00 
9::::::99999::::::9    6::::::6      0:::::::000:::::::0
9:::::9     9:::::9   6::::::6       0::::::0   0::::::0
9:::::9     9:::::9  6::::::6        0:::::0     0:::::0
 9:::::99999::::::9 6::::::6         0:::::0     0:::::0
  99::::::::::::::96::::::::66666    0:::::0 000 0:::::0
    99999::::::::96::::::::::::::66  0:::::0 000 0:::::0
         9::::::9 6::::::66666:::::6 0:::::0     0:::::0
        9::::::9  6:::::6     6:::::60:::::0     0:::::0
       9::::::9   6:::::6     6:::::60::::::0   0::::::0
      9::::::9    6::::::66666::::::60:::::::000:::::::0
     9::::::9      66:::::::::::::66  00:::::::::::::00 
    9::::::9         66:::::::::66      00:::::::::00   
   99999999            666666666          000000000     
   */
@media screen and (min-width: 960px) {
  .content-wrapper, .divider {
    width: 860px; }
    .content-wrapper.narrow, .narrow.divider {
      max-width: 750px; }

  .stack-overview p {
    width: 460px; }

  .creation-overview .image-group {
    height: 800px; }
  .creation-overview .image-02 {
    margin-left: -160px; }

  .list-overview .image-group {
    height: 760px; }
  .list-overview .image-02 {
    margin-left: -160px; }

  .image-01,
  .image-02,
  .image-03 {
    width: 320px; }

  .list-overview .image-group {
    height: 730px; }
  .list-overview p {
    width: 450px; }

  .doo-workflow {
    padding-bottom: 4em; }

  .illustrations {
    padding-top: 2em; }

  .reception blockquote {
    margin-top: 2.3em; }

  .corner-accent {
    width: 300px;
    height: 200px;
    top: -50px;
    left: -120px; }
    .corner-accent::before {
      font-size: 2em;
      left: 50px;
      top: 35px; } }
/*
  1111111        000000000      222222222222222        444444444  
 1::::::1      00:::::::::00   2:::::::::::::::22     4::::::::4  
1:::::::1    00:::::::::::::00 2::::::222222:::::2   4:::::::::4  
111:::::1   0:::::::000:::::::02222222     2:::::2  4::::44::::4  
   1::::1   0::::::0   0::::::0            2:::::2 4::::4 4::::4  
   1::::1   0:::::0     0:::::0            2:::::24::::4  4::::4  
   1::::1   0:::::0     0:::::0         2222::::24::::4   4::::4  
   1::::l   0:::::0 000 0:::::0    22222::::::224::::444444::::444
   1::::l   0:::::0 000 0:::::0  22::::::::222  4::::::::::::::::4
   1::::l   0:::::0     0:::::0 2:::::22222     4444444444:::::444
   1::::l   0:::::0     0:::::02:::::2                    4::::4  
   1::::l   0::::::0   0::::::02:::::2                    4::::4  
111::::::1110:::::::000:::::::02:::::2       222222       4::::4  
1::::::::::1 00:::::::::::::00 2::::::2222222:::::2     44::::::44
1::::::::::1   00:::::::::00   2::::::::::::::::::2     4::::::::4
111111111111     000000000     22222222222222222222     4444444444
*/
@media screen and (min-width: 1024px) {
  section {
    padding: 4em 0 10em; }

  p {
    font-size: 15px;
    line-height: 30px; }

  .section-heading {
    margin-bottom: 1.3em;
    font-size: 3.2em; }
    .section-heading.centered {
      padding-top: 2.8em; }

  .doo-title {
    padding-top: 5em; }
    .doo-title h1 {
      background-size: 700px auto;
      padding: 2em 0;
      font-size: 5em; }

  .introduction-skills {
    width: 28%;
    margin: 0 4% 0 0; }

  .stack-overview p {
    width: 420px; }

  .stack-gestures {
    margin-top: 7em; }
    .stack-gestures li {
      background-size: 40px auto;
      padding-left: 60px; }

  .stack-hero {
    top: -200px; }

  .brain-description {
    bottom: 6em; }
    .brain-description h3 {
      font-size: 1.6em;
      background-size: 140px auto; }

  .doo-workflow {
    padding-bottom: 6em; }

  .illustrations {
    padding-top: 3em; }
    .illustrations h3 {
      margin: 4em 0 1em; }
    .illustrations p {
      width: 600px; }

  .by-the-numbers {
    margin-top: 5em; }
    .by-the-numbers .number {
      font-size: 2em;
      padding: .1em .5em .25em; }
    .by-the-numbers .label {
      font-size: 1.2em; }

  .doo-icon img {
    width: 204px; }
  .doo-icon p {
    width: 500px; }

  .reception .content-wrapper, .reception .divider {
    max-width: 700px; }
  .reception blockquote {
    margin: 2.3em 0 1.5em; }

  .corner-accent {
    width: 260px;
    height: 200px;
    top: -50px;
    left: -120px; }
    .corner-accent::before {
      left: 40px;
      top: 30px; } }
/*
  1111111        000000000             66666666    222222222222222    
 1::::::1      00:::::::::00          6::::::6    2:::::::::::::::22  
1:::::::1    00:::::::::::::00       6::::::6     2::::::222222:::::2 
111:::::1   0:::::::000:::::::0     6::::::6      2222222     2:::::2 
   1::::1   0::::::0   0::::::0    6::::::6                   2:::::2 
   1::::1   0:::::0     0:::::0   6::::::6                    2:::::2 
   1::::1   0:::::0     0:::::0  6::::::6                  2222::::2  
   1::::l   0:::::0 000 0:::::0 6::::::::66666        22222::::::22   
   1::::l   0:::::0 000 0:::::06::::::::::::::66    22::::::::222     
   1::::l   0:::::0     0:::::06::::::66666:::::6  2:::::22222        
   1::::l   0:::::0     0:::::06:::::6     6:::::62:::::2             
   1::::l   0::::::0   0::::::06:::::6     6:::::62:::::2             
111::::::1110:::::::000:::::::06::::::66666::::::62:::::2       222222
1::::::::::1 00:::::::::::::00  66:::::::::::::66 2::::::2222222:::::2
1::::::::::1   00:::::::::00      66:::::::::66   2::::::::::::::::::2
111111111111     000000000          666666666     22222222222222222222
*/
/*
  1111111    222222222222222         888888888          000000000     
 1::::::1   2:::::::::::::::22     88:::::::::88      00:::::::::00   
1:::::::1   2::::::222222:::::2  88:::::::::::::88  00:::::::::::::00 
111:::::1   2222222     2:::::2 8::::::88888::::::80:::::::000:::::::0
   1::::1               2:::::2 8:::::8     8:::::80::::::0   0::::::0
   1::::1               2:::::2 8:::::8     8:::::80:::::0     0:::::0
   1::::1            2222::::2   8:::::88888:::::8 0:::::0     0:::::0
   1::::l       22222::::::22     8:::::::::::::8  0:::::0 000 0:::::0
   1::::l     22::::::::222      8:::::88888:::::8 0:::::0 000 0:::::0
   1::::l    2:::::22222        8:::::8     8:::::80:::::0     0:::::0
   1::::l   2:::::2             8:::::8     8:::::80:::::0     0:::::0
   1::::l   2:::::2             8:::::8     8:::::80::::::0   0::::::0
111::::::1112:::::2       2222228::::::88888::::::80:::::::000:::::::0
1::::::::::12::::::2222222:::::2 88:::::::::::::88  00:::::::::::::00 
1::::::::::12::::::::::::::::::2   88:::::::::88      00:::::::::00   
11111111111122222222222222222222     888888888          000000000   
*/
@media screen and (min-width: 1280px) {
  section {
    padding: 5em 0 12em; }

  p {
    font-size: 16px;
    line-height: 32px; }

  .section-heading {
    margin-bottom: 1.3em;
    font-size: 3.5em; }
    .section-heading.centered {
      padding-top: 2.8em; }

  .content-wrapper, .divider {
    width: 1000px; }
    .content-wrapper.narrow, .narrow.divider {
      max-width: 880px; }

  .doo-title {
    padding-top: 5em; }
    .doo-title h1 {
      background-size: 800px auto;
      padding: 2em 0;
      font-size: 5em; }

  .stack-overview p {
    width: 460px; }

  .stack-hero {
    top: -200px; }

  .brain-description {
    bottom: 7em; }

  .creation-overview .image-group {
    height: 900px; }
  .creation-overview .image-02 {
    margin-left: -188px; }

  .list-overview .image-group {
    height: 860px; }
  .list-overview .image-02 {
    margin-left: -188px; }

  .image-01,
  .image-02,
  .image-03 {
    width: 375px; }

  .detail-header {
    font-size: 1.2em; }

  .doo-workflow {
    padding-bottom: 6em; }

  .illustrations {
    padding-top: 3em; }

  .reception .content-wrapper, .reception .divider {
    max-width: 800px; }
  .reception blockquote {
    margin: 1.5em 0 1em;
    font-size: 5em; }

  .corner-accent {
    width: 300px;
    left: -150px; }
    .corner-accent::before {
      left: 50px;
      top: 30px; }

  .logos img {
    height: 30px; } }
